div {
  width: 15px;
  height: 15px;
}

.delete {
  background-image: url('../../../../../assets/img/svg/ico-15x15-Eliminar.svg');
  background-repeat: no-repeat;
  cursor: pointer;
}

.edit {
  background-image: url('../../../../../assets/img/svg/ico-15x15-Editar-1.svg');
  background-repeat: no-repeat;
  cursor: pointer;
}

.copy {
  // background-image: url('~/assets/img/svg/ico-15x15-Copiar.svg');
  background-repeat: no-repeat;
  cursor: pointer;
}

.see {
  // background-image: url('~/assets/img/svg/ico-15x15-Consultar.svg');
  background-repeat: no-repeat;
  cursor: pointer;
}

.add {
  // background-image: url('~/assets/img/svg/ico-16x16-Agregar.svg');
  background-repeat: no-repeat;
  cursor: pointer;
}

.pago {
  // background-image: url('~/assets/img/svg/ico-15x15-Efectivo.svg');
  background-repeat: no-repeat;
  cursor: pointer;
}

.recetasOrdenes {
  // background-image: url('~/assets/img/svg/ico-15x15-bco-Recetas&Ordenes.svg');
  background-repeat: no-repeat;
  cursor: pointer;
}

.somatometria {
  // background-image: url('~/assets/img/svg/ico-15x15-bco-Somatometria.svg');
  background-repeat: no-repeat;
  cursor: pointer;
}

.efectuarPago {
  // background-image: url('~/assets/img/svg/ico-15x15-Efectivo.svg');
  background-repeat: no-repeat;
  cursor: pointer;
}

.descargarDocumentos {
  // background-image: url('~/assets/img/svg/ico-15x15-Descargar.svg');
  background-repeat: no-repeat;
  cursor: pointer;
}

.reporteInventarioFisico {
  // background-image: url('~/assets/img/svg/ico-report.svg');
  background-repeat: round;
  cursor: pointer;
}

.receta {
  // background-image: url('~/assets/img/svg/ico-report-naranja.svg');
  background-repeat: round;
  cursor: pointer;
}

.imprimir {
  // background-image: url('~/assets/img/svg/ico-15x15-Imprimir.svg');
  background-repeat: round;
  cursor: pointer;
}
.serviciosAplicados {
  // background-image: url('~/assets/img/svg/user-md-solid.svg');
  background-repeat: round;
  cursor: pointer;
}

.reporteInventarioFisico {
  // background-image: url('~/assets/img/svg/ico-report.svg');
  background-repeat: round;
  cursor: pointer;
}

.ajuste {
  // background-image: url('~/assets/img/svg/ico-clip.svg');
  background-repeat: round;
  cursor: pointer;
}

.nota {
  // background-image: url('~/assets/img/svg/15x15-ico-Documento.svg');
  background-repeat: round;
  cursor: pointer;
}

.estudio {
  // background-image: url('~/assets/img/svg/ico-15x15-Estudio.svg');
  background-repeat: round;
  cursor: pointer;
}

.verRecibo {
  // background-image: url('~/assets/img/svg/ico-15x15-descargarDocumentos.svg');
  background-repeat: round;
  cursor: pointer;
}

.seleccionar {
  // background-image: url('~/assets/img/svg/ico-15x15-EstatusAtendido.svg');
  background-repeat: round;
  cursor: pointer;
}

.orden {
  // background-image: url('~/assets/img/svg/15x15-ico-Documento.svg');
  background-repeat: round;
  cursor: pointer;
}

.imagenologia {
  // background-image: url('~/assets/img/svg/ico-15x15-bco-Imagenologia.svg');
  background-repeat: round;
  cursor: pointer;
}

.registrarSalidaPersonal {
  // background-image: url('~/assets/img/svg/sign-out-alt-solid.svg');
  background-repeat: round;
  cursor: pointer;
}

.descuento {
  // background-image: url('~/assets/img/svg/tags-solid.svg');
  background-repeat: round;
  cursor: pointer;
}

.desglosar {
  // background-image: url('~/assets/img/svg/ico-15x15-Consultar.svg');
  background-repeat: round;
  cursor: pointer;
}

.reporteComisiones {
  // background-image: url('~/assets/img/svg/ico-report.svg');
  background-repeat: round;
  cursor: pointer;
}

.timbrar {
  // background-image: url('~/assets/img/svg/globe-solid.svg');
  background-repeat: round;
  cursor: pointer;
}

.verPoliza {
  // background-image: url('~/assets/img/svg/15x15-ico-Documento.svg');
  background-repeat: round;
  cursor: pointer;
}

.conciliar {
  // background-image: url('~/assets/img/svg/ico-15x15-Estado-cuenta.svg');
  background-repeat: no-repeat;
  cursor: pointer;
}

.complementoPago {
  // background-image: url('~/assets/img/svg/ico-15x15-Estado-cuenta.svg');
  background-repeat: no-repeat;
  cursor: pointer;
}

.pdfComplemento {
  // background-image: url('~/assets/img/svg/search-dollar-solid.svg');
  background-repeat: no-repeat;
  cursor: pointer;
}


img {
  height: 15px;
  width: 15px;

}

.deshabilitado {
  opacity: 0.3;
}
