<ion-header class="ion-no-border">
  <div class="contenedor-header">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button routerLink="inicio-perfil">
          <ion-icon slot="start" name="chevron-back"></ion-icon>
          Atrás
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </div>
</ion-header>
<ion-content>
  <ion-button fill="outline" expand="block" button fill="outline" routerLink="/home/perfil/mis-estudios/agregar">
    Agregar estudio
  </ion-button>

  <div style="color: grey; font-size: large; margin-top: 30px">
    Mis estudios
  </div>

  <div class="tabla">

    <ng-container *ngIf="expedientes$ | async as data">
      <p-table
      class="primeng-table"
      [value]="data"
      [tableStyle]="{ 'min-width': '100%' }"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Núm.</th>
          <th>Estudio</th>
          <th>Fecha</th>
          <th></th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-expediente>
        <tr>
          <td>{{ expediente.idExpedienteEstudio }}</td>
          <td>{{ expediente.nombre }}</td>
          <td>{{ expediente.fechaRealizacion | date : "dd/MM/yyyy" }}</td>
          <td>
            <ng-container
              *ngIf="expediente.archivoTipoMime === 'application/pdf'"
            >
              <i class="far fa-file-pdf" (click)="onVer(expediente)"></i>
            </ng-container>
            <ng-container
              *ngIf="
                expediente.archivoTipoMime === 'image/png' ||
                expediente.archivoTipoMime === 'image/jpeg' ||
                expediente.archivoTipoMime === 'image/gif'
              "
            >
              <i class="fas fa-file-image" (click)="onVerImagen(expediente)"></i>
            </ng-container>
          </td>
          <td>
            <i class="far fa-times-circle" (click)="eliminar(expediente)"></i>
          </td>
        </tr>
      </ng-template>
    </p-table>
    </ng-container>
  </div>

</ion-content>
