@import 'src/app/shared/styles/data-grid.scss';
@import "~primeng/resources/primeng.min.css";

.primeng-table th {
    color: #651B73;
  }

  ion-button {

    --color:black;
    --border-color: #9BD8AC;

    --padding-top: 10px;
    --padding-bottom: 10px;
    font-weight: 500;
  }

.tabla{
    margin-left: 10px;
    margin-right: 10px;
  }