<ion-header>
    <ion-toolbar class="header">
        <ion-buttons>
            <ion-button fill="clear" (click)="regresarBtn()">
                <ion-icon slot="icon-only" name="chevron-back"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="contenedor" *ngIf="type !== 'application'">
        <ion-img class="imagen" [src]="archivoBase64" *ngIf="type === 'image'"></ion-img>

        <audio controls [src]="archivoBase64" *ngIf="type === 'audio'"></audio>
    </div>

    <ngx-extended-pdf-viewer
        *ngIf="type === 'application'"
        [base64Src]="archivo.archivo"
        [filenameForDownload]="archivo.nombre"
        [useBrowserLocale]="true"
        [zoom]="'page-actual'"
        [textLayer]="true"
        [zoom]="'auto'"
    ></ngx-extended-pdf-viewer>

</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-buttons>
            <ion-button fill="clear" (click)="descargarArchivo()" >
                <ion-icon slot="icon-only" name="download-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>

