<ion-footer mode="md">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="chatbox-ellipses" size="large"> </ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="setOpen(true)" id="open-action-sheet">
        <ion-icon name="person-circle" size="large"> </ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-action-sheet
      class="rojo"
      trigger="open-action-sheet"
      header="Usuario"
      [buttons]="actionSheetButtons"
      (didDismiss)="setResult($event)"
    ></ion-action-sheet>
  </ion-toolbar>
</ion-footer>
