<ion-header class="ion-no-border">
  <div class="contenedor-header-dark">
    <ion-toolbar>
      <ion-title>Chats</ion-title>
      <ion-buttons class="end" slot="end">
        <ion-button class="icon-only" (click)="mostrarListaDoctores()">
          <ion-icon name="chat-plus"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </div>
</ion-header> 
<ion-content class="primary">
  <div class="contenedor-principal">
    <div class="contenedor-barra-busqueda">
      <app-searchbar (search)="handleSearch($event)"></app-searchbar>
    </div>

    <div class="lista-chats">
      <div class="lista-vacia" *ngIf="listaVacia()">
        <ion-text>
          <p>Aún no hay chats</p>
          <p>Empieza una nueva conversación</p>
        </ion-text>
      </div>
      <ion-list *ngIf="!listaVacia()">
        <ion-item
         class="chat" 
         lines="none" 
         button  
         *ngFor="let chat of !filtrando ? (chats$ | async) : (chatsFiltradosPorBusqueda)" (click)="enviarIdChat(chat.idChat || 0)"
        >
          <ion-avatar slot="start">
            <ion-img *ngIf="chat.urlImagen" [src]="chat.urlImagen"></ion-img>
            <ion-img *ngIf="!chat.urlImagen" src="assets/img/svg/avatar-placeholder.svg"></ion-img>
          </ion-avatar>
          <ion-label>
            <h3>
              {{chat.titulo}}
            </h3>
            <p>
              {{chat.ultimoMensaje}}
            </p>
          </ion-label>
          <div class="meta-data-end" slot="end">
            <p id="fecha">{{chat.fechaUltimoMensaje | date: "dd/MM"}}</p>
            <!-- solo falta implementar -->
            <!-- <ion-badge id="badge">2</ion-badge> -->
          </div>
        </ion-item>
      </ion-list>
    </div>

  </div>
</ion-content>
