
ion-content{

}
.contenedor-principal{
  background: var(--primary-50);
  height: 100%;
}

.contenedor-barra-busqueda{
  padding: 32px;
}

.lista-chats{
  //padding-top: 3vh;
  //margin: 0 32px;
  ion-list{
    padding: 0;
    //background: var(--primary-50);
    ion-item.chat{
      --background: var(--primary-50);

      ion-avatar{
        --border-radius: 16px;
        width: 48px;
        height: 48px;
      }

      ion-label{
        font-family: var(--font-body);
        h3{
          width: 100%;
          font-size: 16px;
          font-weight: bold;
          color: var(--neutral-900);
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          display: inline-block;
        }

        p{
          width: 100%;
          font-size: 14px;
          color: var(--neutral-500);
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          display: inline-block;
        }
      }
      --inner-padding-end: 32px;
    }
    ion-item.chat::part(native){
      padding-left: 32px;
    }
  }
  
}

.meta-data-end{
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  #fecha{
    margin: 0;
    font-family: var(--font-body);
    font-size: 10px;
    color: var(--neutral-500);
  }
  #badge{
    width: 24px;
    height: 20px;
    border-radius: 40px;
    --background: var(--primary-200);
    --color: var(--primary-700);
  }
}
