.input-icon-container {
  position: relative;
  display: flex;
  align-items: center;
}

.input-icon-container .form-control {
  padding-right: 30px; 
}

.icono-input {
  position: absolute;
  right: 10px; 
  color: var(--neutral-600); 
}

.btn-ingresar{
  margin-top: 60px;
  border-radius: 8px !important;
  inline-size: max-content;
  transition: 200ms;
  width: 100%;
  min-height: 40px;
  border: none;
  font-size: 14px;
  max-width: 100%;
  color: var(--neutral-50);
  background: var(--primary-800);

  &:hover{
    background: var(--primary-700);
  }

  &:active{
    background: var(--primary-900);
  }
}


.acceso {
  display: flex;
  justify-content: center;
  text-align: center;
  color: #475462;
  margin-bottom: 15px;

}

.imgLogin{
  height: 60px;
  text-align: center;
  justify-content: center;
}


.contenedor-principal {
  justify-content: center;
  align-items: center;
  overflow: hidden ;
}

.imgFondo{
  position: absolute;
  z-index: -1;
  left: 0%;
  width: 100%;
}

.logos{
  display: flex;
  align-content: space-between;
  justify-content: space-between;
  margin-top: 6rem !important;
  justify-content: space-around;
}


.sub-contenedor-login {
  padding: 20px;
  background: none;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.contenedor-footer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.row {
  .login-container {
    width: 53%;
  }
  .svg-container {
    width: 47%;
    position: relative;
    .svg{
      position: absolute;
      width: 75vw;
      top: auto;
      right: auto;
      bottom: 0;
      left: 5%;
      img{
        width: 95%;
        object-fit: cover;
        height: auto;
      }
    }
  }
}

.container{
  background-color: var(--primary-100);
}

.login{
  display: flex;
  flex-direction: column;

  h1{
    color: var(--primary-800);
    text-align: center;
    font-family: var(--font-display);
    font-size: 40px;
    font-weight: 700;
    line-height: 100%;
    margin: 0;
  }

  h2{
    font-family: var(--font-body);
    color: var(--primary-800);
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.formulario{
  gap: 2rem;
    display: flex;
    flex-direction: column;
}
