<div class="container vh-100 mw-100 m-0 p-0">


      <div class="row vh-100 mw-100" >
        <div class="svg-container p-0">
          <div class="svg">
            <img src="assets/img/svg/oncotracker_login.svg">
          </div>
        </div>
        <div class="login-container p-0 position-relative">
          <div class="logos ">
            <!-- Logo Christus -->
            <img
              style="margin: 5px; width: 19vw"
              src="assets/img/svg/Logo_christus_CEI.svg"
            />
            <!-- Logo TrackR -->
            <img
              style="margin: 10px; width: 14vw"
              src="assets/img/svg/oncotrackerlogo_morado.svg"
            />
          </div>
      
          <!-- Contenedor Transparente -->
          <div class="sub-contenedor-login ">
            <div>
              <form
                #formulario="ngForm"
                (ngSubmit)="enviarFormulario(formulario)"
                novalidate="novalidate"
              >
                <div *ngTemplateOutlet="login"></div>
              </form>
            </div>
          </div>

          <div class="header-shapes position-absolute bottom-0 end-0">
            <img src="assets/img/svg/header_shapes.svg">
          </div>
        </div>
      </div>



    <ng-template #login>
    
      <div class="login">
        <div class="saludo">
          <h1>Bienvenido(a) a Oncotracker</h1>
          <h2>
            Inicia sesión para acceder a los datos
            <br>
            de tus pacientes
          </h2>
        </div>
    
        <div class="formulario">
          <!-- Usuario -->
          <div class="row justify-content-center">
            <div class="col-md-8">
              <div class="form-group">
                <label class="label-input required-label">Usuario</label>
                <div class="input-icon-container d-flex ">
                  <input #usuario="ngModel" [(ngModel)]="loginRequest.correo" id="usuario" name="usuario"
                    class="form-control" type="text" maxlength="50" required="true" autocomplete="off"
                    placeholder="Usuario" />

                    <img class="icono-input" src="assets/img/svg/user.svg" >
                  </div>
                  <div *ngIf="usuario.errors?.['required'] && usuario.dirty" class="error">
                    El usuario es requerido
                  </div>
              </div>
            </div>
          </div>
    
    
          <!-- Contraseña -->
          <div class="row justify-content-center">
            <div class="col-md-8">
              <div class="form-group">
                <label class="label-input required-label">Contraseña</label>
                <div class="input-icon-container d-flex">
                  <input #contrasena="ngModel" [(ngModel)]="loginRequest.contrasena" id="contrasena" name="contrasena"
                    class="form-control fondoInput" type="password" maxlength="50" required="true" autocomplete="off"
                    placeholder="Contraseña" />
                    <img class="icono-input" src="assets/img/svg/key-round.svg" >
                  </div>
                  <div *ngIf="contrasena.errors?.['required'] && contrasena.dirty" class="error">
                    La contraseña es requerida
                  </div>
                </div>
            </div>
          </div>
    
        </div>
        <div class="row justify-content-center">
          <div class="col-md-6 text-center">
            <button [disabled]="btnSubmit" type="submit" class="btn-ingresar">
              Iniciar sesión
              <img src="assets/img/svg/arrow-right.svg">
            </button>
          </div>
        </div>
      </div>
    
    </ng-template>

 

</div>
