<div class="contenedor">
  <div class="titulo">
    <h3>Notificaciones</h3>
    <button mat-flat-button (click)="cerrarModal()">
      <i-lucide name="x"></i-lucide>
    </button>
  </div>
  <div class="notificaciones">
    <div class="notificacion" *ngFor="let notificacion of notificaciones$ | async" [ngClass]="{'vista': !notificacion.visto}">
      <div class="contenedor-marcador" *ngIf="!notificacion.visto">
        <div class="marcador-visto"></div>
      </div>
      <div class="contenido" (click)="marcarComoVista(notificacion.id)">
        <div class="thumbnail">
          <img [src]="notificacion.imagen" alt="picture">
        </div>
        <div class="info">
          <h2>{{notificacion.paciente}}</h2>
          <h3>{{notificacion.mensaje}}</h3>
          <p>{{notificacion.fecha | date: "dd/MM/YYYY 'a las' h:mm a" : '' : 'es-MX'}}</p>
        </div>
        <div class="detail-icon">
          <i-lucide class="icon" [name]="iconMappings[notificacion.idTipoNotificacion].name"></i-lucide>
        </div>
      </div>
    </div>
  </div>
</div>
