<div class="contenedor">
  <div class="titulo-contenedor">Complejidad de Encuestas</div>
  <div class="cuerpo-contenedor">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div
          class="contenedor-agregar"
          (click)="agregar()"
          *ngIf="tieneAccesoAgregar"
        >
         <button class="btn-agregar">Agregar Complejidad de Encuesta</button>
        </div>
        <app-grid-general
          #gridNecesidad
          [headerName]="HEADER_GRID"
          [data]="nivelExamenList"
          [children]="columns"
          (event)="onGridClick($event)"
          [accesoEditar]="ACCESO_EDITAR"
          [accesoEliminar]="ACCESO_ELIMINAR"
        >
        </app-grid-general>
      </div>
    </div>
  </div>
</div>
