<div class="contenedor">
    <div class="titulo-contenedor">Secciones</div>
    <div class="cuerpo-contenedor">
      <div class="row">
        <div class="col-md-12">
          <div class="contenedor-agregar" (click)="agregarSeccion()" >
            <button class="btn-agregar">Agregar Sección</button>
          </div>
          <app-grid-general
          [headerName]="HEADER_GRID_SECCIONES"
          [data]="seccionesList"
          [children]="columnsSeccion"
          (event)="onGridClickSeccion($event)"
        >
        </app-grid-general>
        </div>
      </div>
    </div>
  </div>
