<ion-header class="ion-no-border">
  <div class="contenedor-header">
    <ion-toolbar>
      <!-- boton pagina 1 -->
      <ion-buttons slot="start">
        <ion-button (click)="cerrarModal()">
          <ion-icon slot="start" name="chevron-back"></ion-icon>
          Atrás
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </div>
</ion-header>
<ion-content>
  <div class="contenedor-principal">
    <div class="texto">
      <ion-text id="titulo">
        <h1>Avisos de terceros</h1>
      </ion-text>

      <ion-text id="mensaje">
        <p>
          A continuación se establecen avisos de atribución para softwares de terceros que pueden contenerse en partes de este
          producto.
        </p>
      </ion-text>
      <ion-text id="subseccion">
        <p style="font-weight: bold; font-size: 20px;">
          ISC License
        </p>
        <p>
          <span>&#8226;</span> Lucide icons
        </p>
      </ion-text>
      <ion-text id="texto-copyright">
        <p>
          ISC Licence
        </p>
      </ion-text>
      <ion-text>
        <p>
          Copyright (c) for portions of Lucide are held by Cole Bemis 2013-2022 as part of Feather (MIT). All other copyright (c)
          for Lucide are held by Lucide Contributors 2022.
        </p>
      </ion-text>
      <ion-text>
        <p>
          Permission to use, copy, modify, and/or distribute this software for any purpose with or without fee is hereby granted,
          provided that the above copyright notice and this permission notice appear in all copies.
        </p>
      </ion-text>
      <ion-text>
        <p>
          THE SOFTWARE IS PROVIDED "AS IS" AND THE AUTHOR DISCLAIMS ALL WARRANTIES WITH REGARD TO THIS SOFTWARE INCLUDING ALL
          IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR ANY SPECIAL, DIRECT,
          INDIRECT, OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN AN
          ACTION OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF OR IN CONNECTION WITH THE USE OR PERFORMANCE OF
          THIS SOFTWARE.
        </p>
      </ion-text>
    </div>
  </div>
  
</ion-content>
