.contenedor-header-light{
    background: var(--primary-50);
    
    ion-button{
        color: var(--neutral-500) !important;
    }
}

.contenedor-principal{
    background: var(--primary-50);
    .texto{
        padding: 0 32px 32px 32px;

        #titulo{
            h1{
                padding-top: 16px;
                padding-bottom: 16px;
                color: var(--primary-700);
                font-family: var(--font-display);
                font-size: 28px;
                font-weight: 700;
                line-height: 28px;
            }
        }

        #mensaje{
            p{
                color: var(--neutral-900);
                font-family: var(--font-body);
                font-size: 16px;
                font-weight: 400;
                line-height: 19.3px;
            }
        }

        #texto-copyright{
            p{
                color: var(--neutral-900);
                font-family: var(--font-body);
                font-size: 16px;
                font-weight: 400;
                line-height: 19.3px;
              }
        }
        // ion-text{
        //     p{
        //       color: var(--neutral-900);
        //       font-family: var(--font-body);
        //       font-size: 16px;
        //       font-weight: 400;
        //       line-height: 19.3px;
        //     }
        //   }
    }
}