.contenedor-header-dark{
  justify-content: space-between;

  .boton-cerrar{
    --padding-top: 48px;
    ion-button{
      ion-icon{
        font-size: 32px;
      }
    }
  }
}

.contenedor-principal{
  .lista-notificaciones{

    ion-item-divider{
      height: 80px;
      --background: var(--primary-100);
      --inner-padding-start: 16px;
      border: 1px solid var(--primary-50);

      ion-label{
        font-family: var(--font-body);
        font-size: 20px;
        font-weight: bold;
        color: var(--neutral-700);
      }
    }

    ion-item{
      --detail-icon-opacity: 1;
      --detail-icon-color: var(--neutral-500);
      --min-height: 110px;
      --inner-padding-start: 0;
      --background: var(--neutral-50);
      border-style: solid;
      border-width: 0 0 1px 0;
      border-color: var(--primary-50);

      ion-icon{
        margin-top: -32px;
        margin-right: 8px;
        color: var(--primary-700);
      }

      .marcador-visto{
        width: 9px;
        height: 72px;
        margin-right: 23px;
        border-radius: 0 4px 4px 0;
        background: var(--primary-700);
      }

      ion-label{
        .titulo{
          font-family: var(--font-body);
          font-size: 16px;
          color: var(--primary-700);
        }
        .mensaje{
          font-family: var(--font-body);
          font-size: 16px;
          color: var(--neutral-900);
        }
        .fecha{
          font-family: var(--font-body);
          font-size: 14px;
          color: var(--neutral-400);
          margin-top: 16px;
        }
      }
      
    }

    ion-item::part(native){
      padding-left: 0;
    }
    
    .notificacion-vista::part(native){
      padding-left: 32px !important;
    }
  }
}
