<ion-header class="ion-no-border">
  <div class="contenedor-header-dark">
    <ion-toolbar class="boton-cerrar">
      <ion-buttons class="start" slot="start">
        <ion-button class="icon-only" (click)="cerrarModal()">
          <ion-icon name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
    <ion-toolbar>
      <ion-title>Notificaciones</ion-title>
    </ion-toolbar>
  </div>
</ion-header>
<ion-content class="primary">
  <div class="contenedor-principal">
    <div class="lista-notificaciones">
      <ion-item-group>

        <!-- NOTIFICACIONES DE HOY -->
        <ion-item-divider *ngIf="(filtrarNotificacionesHoy(notificaciones$ | async).length > 0)">
          <ion-label>Hoy</ion-label>
        </ion-item-divider>
        <ion-item 
          *ngFor="let notificacion of filtrarNotificacionesHoy(notificaciones$ | async)" 
          [ngClass]="{ 'notificacion-vista': notificacion.visto }"
          [button]="true" 
          [detail]="true"
          lines="none"  
          (click)="marcarComoVista($event,notificacion)">
          <div slot="start" class="marcador-visto" *ngIf="!notificacion.visto"></div>
          <ion-icon
            slot="start"
            [name]="iconMappings[notificacion.idTipoNotificacion]?.name">
          </ion-icon>
          <ion-label>
            <h3 class="titulo">{{ notificacion.titulo }}</h3>
            <p 
              *ngIf="!notificacion.complementoEsFecha"
              class="mensaje">
              {{ notificacion.mensaje }}, {{ notificacion.complementoMensaje}}
            </p>

            <p 
              *ngIf="notificacion.complementoEsFecha" 
              class="mensaje">
              {{ notificacion.mensaje }} {{ notificacion.complementoMensaje | date: 'd MMMM, y, h:mm a': '': 'es-MX' }}
            </p>
            <p class="fecha">{{ notificacion.fecha | date: 'MMMM d, y': '': 'es-MX' }}</p>
          </ion-label>
        </ion-item>

        <!-- NOTIFICACIONES DE ESTA SEMANA (ANTERIORES A HOY) -->
        <ion-item-divider *ngIf="(filtrarNotificacionesSemana(notificaciones$ | async).length > 0)">
          <ion-label>Esta semana</ion-label>
        </ion-item-divider>
        <ion-item 
          *ngFor="let notificacion of filtrarNotificacionesSemana(notificaciones$ | async)" 
          [ngClass]="{ 'notificacion-vista': notificacion.visto }" 
          [button]="true" 
          [detail]="true"
          lines="none"    
          (click)="marcarComoVista($event , notificacion)">
          <div slot="start" class="marcador-visto" *ngIf="!notificacion.visto"></div>
          <ion-icon
            slot="start"
            [name]="iconMappings[notificacion.idTipoNotificacion]?.name">
          </ion-icon>
          <ion-label>
            <h3 class="titulo">{{ notificacion.titulo }}</h3>
            <p 
              *ngIf="!notificacion.complementoEsFecha"
              class="mensaje">
              {{ notificacion.mensaje }}, {{ notificacion.complementoMensaje}}
            </p>

            <p 
              *ngIf="notificacion.complementoEsFecha" 
              class="mensaje">
              {{ notificacion.mensaje }} {{ notificacion.complementoMensaje | date: 'd MMMM, y, h:mm a': '': 'es-MX' }}
            </p>
            <p class="fecha">{{ notificacion.fecha | date: 'MMMM d, y': '': 'es-MX' }}</p>
          </ion-label>
        </ion-item>

        <!-- NOTIFICACIONES ANTERIORES A ESTA SEMANA -->
        <ion-item-divider *ngIf="(filtrarNotificacionesAnterioresSemana(notificaciones$ | async).length > 0)">
          <ion-label>Anteriores</ion-label>
        </ion-item-divider>
        <ion-item 
          *ngFor="let notificacion of filtrarNotificacionesAnterioresSemana(notificaciones$ | async)" 
          [ngClass]="{ 'notificacion-vista': notificacion.visto }"
          [button]="true" 
          [detail]="true"
          lines="none"    
          (click)="marcarComoVista($event, notificacion)">
          <div slot="start" class="marcador-visto" *ngIf="!notificacion.visto"></div>
          <ion-icon
            slot="start"
            [name]="iconMappings[notificacion.idTipoNotificacion]?.name">
          </ion-icon>
          <ion-label>
            <h3 class="titulo">{{ notificacion.titulo }}</h3>
            <p 
              *ngIf="!notificacion.complementoEsFecha"
              class="mensaje">
              {{ notificacion.mensaje }}, {{ notificacion.complementoMensaje}}
            </p>

            <p 
              *ngIf="notificacion.complementoEsFecha" 
              class="mensaje">
              {{ notificacion.mensaje }} {{ notificacion.complementoMensaje | date: 'd MMMM, y, h:mm a': '': 'es-MX' }}
            </p>
            <p class="fecha">{{ notificacion.fecha | date: 'MMMM d, y': '': 'es-MX' }}</p>
          </ion-label>
        </ion-item>
      </ion-item-group>
    </div>
  </div>
</ion-content>

