<ion-header class="ion-no-border">
  <div class="contenedor-header">
    <ion-toolbar>
      <div class="buttons">
        <ion-buttons slot="start">
          <ion-button (click)="cerrarModal()">
            <ion-icon slot="icon-only" name="close"></ion-icon>
          </ion-button>
        </ion-buttons>
      </div>
      <div class="title">
        <ion-title>Notificaciones</ion-title>
      </div>
    </ion-toolbar>
  </div>
</ion-header>
<ion-content>
  <div class="contenedor-principal">
    <div class="lista-notificaciones">
      <ion-item-group>
        <ion-item-divider >
          <ion-label>Hoy</ion-label>
        </ion-item-divider>
        <ion-item 
          *ngFor="let notificacion of filtrarNotificacionesHoy(notificaciones$ | async)" 
          [ngClass]="{ 'notificacion-vista': notificacion.visto }"
          [button]="true" 
          [detail]="true"
          lines="none"  
          (click)="marcarComoVista($event,notificacion)">
          <div slot="start" class="marcador-visto" *ngIf="!notificacion.visto"></div>
          <ion-icon
            slot="start"
            [name]="iconMappings[notificacion.idTipoNotificacion]?.name">
          </ion-icon>
          <ion-label>
            <h3 class="titulo">{{ notificacion.titulo }}</h3>
            <p class="mensaje">{{ notificacion.mensaje }}</p>
            <p class="fecha">{{ notificacion.fecha | date: 'MMMM d, y': '': 'es-MX' }}</p>
          </ion-label>
        </ion-item>

        <ion-item-divider>
          <ion-label>Esta semana</ion-label>
        </ion-item-divider>
        <ion-item 
          *ngFor="let notificacion of filtrarNotificacionesSemana(notificaciones$ | async)" 
          [ngClass]="{ 'notificacion-vista': notificacion.visto }" 
          [button]="true" 
          [detail]="true"
          lines="none"    
          (click)="marcarComoVista($event , notificacion)">
          <div slot="start" class="marcador-visto" *ngIf="!notificacion.visto"></div>
          <ion-icon
            slot="start"
            [name]="iconMappings[notificacion.idTipoNotificacion]?.name">
          </ion-icon>
          <ion-label>
            <h3 class="titulo">{{ notificacion.titulo }}</h3>
            <p class="mensaje">{{ notificacion.mensaje }}</p>
            <p class="fecha">{{ notificacion.fecha | date: 'MMMM d, y': '': 'es-MX' }}</p>
          </ion-label>
        </ion-item>

        <ion-item-divider>
          <ion-label>Anteriores</ion-label>
        </ion-item-divider>
        <ion-item 
          *ngFor="let notificacion of filtrarNotificacionesAnterioresSemana(notificaciones$ | async)" 
          [ngClass]="{ 'notificacion-vista': notificacion.visto }"
          [button]="true" 
          [detail]="true"
          lines="none"    
          (click)="marcarComoVista($event, notificacion)">
          <div slot="start" class="marcador-visto" *ngIf="!notificacion.visto"></div>
          <ion-icon
            slot="start"
            [name]="iconMappings[notificacion.idTipoNotificacion]?.name">
          </ion-icon>
          <ion-label>
            <h3 class="titulo">{{ notificacion.titulo }}</h3>
            <p class="mensaje">{{ notificacion.mensaje }}</p>
            <p class="fecha">{{ notificacion.fecha | date: 'MMMM d, y': '': 'es-MX' }}</p>
          </ion-label>
        </ion-item>
      </ion-item-group>
    </div>
  </div>
</ion-content>

