<ion-header class="ion-no-border">
  <div class="contenedor-header">
    <ion-img id="oncotrackerlogo"  src="assets/img/svg/oncotrackerlogo_prov.svg"></ion-img>
  </div>
</ion-header>
<ion-content>
  <div class="contenedor-principal">
    <div class="bienvenida">
      <ion-text>
        <h1>Bienvenido(a) a Oncotracker.</h1>
        <p>Descubre un cuidado personalizado. ¡Inicia sesión o crea una cuenta!</p>
      </ion-text>
    </div>
    <div class="ilustracion-central">
      <ion-img id="ilustracion"  src="assets/img/svg/login1_illustration.svg"></ion-img>
    </div>
    <div class="botones">
      <ion-button id="btn-login" routerLink="login">Iniciar Sesión</ion-button>
      <ion-button id="btn-registro" routerLink="registro" fill="outline" >Registrarme</ion-button>
    </div>
  </div>
  
</ion-content>
<ion-footer class="ion-no-border">
  <div class="contenedor-footer">
    <ion-text>
      <p>CHRISTUS MUGUERZA</p>
    </ion-text>
  </div>
</ion-footer>
