@use '../../../theme/custom.scss';

.logos{
  display: flex;
  margin-top: 10%;
  padding: 40px;
  justify-content: center;
}

.contenedor-principal {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 20px;
}

.contenedor-botones{
  padding-bottom: 100px;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: center;
  align-content: center;
  margin:auto
}

.btn-register {
  --color: white;
  --box-shadow: 0;
}

@media(min-width: 400px){
  .logos{
    width: 800px;
  }
  .contenedor-botones{
    width: 400px;
  }
}

.btn-login{
  --background: var(--neutral-100);
  --color: var(--primary-700);
  --box-shadow: 0;
}
