<ion-header class="ion-no-border">
  <div class="contenedor-header-light">
    <ion-toolbar>
      <ion-buttons class="start" slot="start">
        <ion-button (click)="cerrarModal('cancel')">
          <ion-icon slot="start" name="chevron-left"></ion-icon>
          <ion-label>Atrás</ion-label>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </div>
</ion-header>
<ion-content class="primary">
  <div class="contenedor-principal" *ngIf="true">
    <div class="titulo">
      <ion-text>
        <h3>{{tituloAccion}} tratamiento</h3>
      </ion-text>
    </div>

    <div class="formulario">
      <form [formGroup]="formTratamiento">
        <div class="contenido-formulario">
          <ion-grid class="inputs ion-no-padding" >
            <ion-row>
              <ion-col size="12">
                <div class="input first-input">
                  <ion-label>Fármaco</ion-label>
                  <ion-item lines="none" class="general-input">
                    <ion-input
                      id="nombreEstudio"
                      name="nombreEstudio"
                      type="text"
                      maxlength="200"
                      required
                      autocomplete="off"
                      formControlName="farmaco">
                    </ion-input>
                  </ion-item>
                  <div 
                    class="input-text-error"
                    *ngIf="formTratamiento.get('farmaco')?.hasError('required') && 
                    (formTratamiento.get('farmaco')?.dirty || formTratamiento.get('farmaco')?.touched)">
                      <ion-icon slot="start" name="info"></ion-icon>
                      El fármaco es requerido
                  </div>
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6" class="padding-derecho">
                <div class="input">
                  <ion-label>Cantidad</ion-label>
                  <ion-item lines="none" class="quantity-selector">
                    <ion-button id="decrementar" (click)="decrementarCantidad()">
                      <ion-icon slot="icon-only" name="minus"></ion-icon>
                    </ion-button>
                    <ion-input type="number" inputmode="decimal" formControlName="cantidad" [(ngModel)]="cantidadFarmaco"></ion-input>
                    <ion-button id="incrementar" (click)="incrementarCantidad()">
                      <ion-icon slot="icon-only" name="plus"></ion-icon>
                    </ion-button>
                  </ion-item>
                  <div 
                    class="input-text-error"
                    *ngIf="formTratamiento.get('cantidad')?.hasError('required') && 
                    (formTratamiento.get('cantidad')?.dirty || formTratamiento.get('cantidad')?.touched)">
                      <ion-icon slot="start" name="info"></ion-icon>
                      La cantidad es requerida
                  </div>
                </div>
              </ion-col>
              <ion-col size="6" class="padding-izquierdo">
                <div class="input">
                  <ion-label>Unidad</ion-label>
                  <ion-item lines="none" class="select-input">
                    <ion-select
                      id="unidad"
                      name="unidadName"
                      interface="action-sheet"
                      [interfaceOptions]="{cssClass: 'custom-select-action-sheet'}"
                      cancelText="Cancelar"
                      placeholder="Seleccionar"
                      toggleIcon="chevron-down"
                      formControlName="unidad">
                      <ion-select-option 
                        *ngFor="let unidad of unidades"
                        [value]="unidad.nombre"> <!--Cambiar a unidad.id-->
                        {{unidad.nombre}}
                      </ion-select-option>
                    </ion-select>
                  </ion-item>
                  <div 
                    class="input-text-error"
                    *ngIf="formTratamiento.get('unidad')?.hasError('required') && 
                    (formTratamiento.get('unidad')?.dirty || formTratamiento.get('unidad')?.touched)">
                      <ion-icon slot="start" name="info"></ion-icon>
                      La unidad es requerida
                  </div>
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <div class="input">
                  <ion-label>Indicaciones</ion-label>
                  <ion-item lines="none" class="textarea-input">
                    <ion-textarea 
                      maxlength="500" 
                      rows="8" 
                      autoGrow
                      placeholder="Escriba aquí indicaciones que le de su médico de confianza."
                      formControlName="indicaciones">
                    </ion-textarea>
                  </ion-item>
                  <div 
                    class="input-text-error"
                    *ngIf="formTratamiento.get('indicaciones')?.hasError('required') && 
                    (formTratamiento.get('indicaciones')?.dirty || formTratamiento.get('indicaciones')?.touched)">
                      <ion-icon slot="start" name="info"></ion-icon>
                      La indicación es requerida
                  </div>
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <div class="input">
                  <ion-label>Padecimiento asociado</ion-label>
                  <ion-item lines="none" class="select-input">
                    <ion-select
                      id="padecimiento"
                      name="padecimientoName"
                      interface="action-sheet"
                      [interfaceOptions]="{cssClass: 'custom-select-action-sheet'}"
                      cancelText="Cancelar"
                      placeholder="Seleccionar"
                      toggleIcon="chevron-down"
                      formControlName="idPadecimiento">
                      <ion-select-option 
                        *ngFor="let padecimiento of padecimientosSelector"
                        [value]="padecimiento.idPadecimiento">
                        {{padecimiento.nombre}}
                      </ion-select-option>
                    </ion-select>
                  </ion-item>
                  <div 
                    class="input-text-error"
                    *ngIf="formTratamiento.get('idPadecimiento')?.hasError('required') && 
                    (formTratamiento.get('idPadecimiento')?.dirty || formTratamiento.get('idPadecimiento')?.touched)">
                      <ion-icon slot="start" name="info"></ion-icon>
                      El padecimiento es requerido
                  </div>
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <div class="input">
                  <ion-label>Doctor</ion-label>
                  <ion-item lines="none" class="select-input">
                    <ion-select
                      id="doctor"
                      name="doctorName"
                      interface="action-sheet"
                      [interfaceOptions]="{cssClass: 'custom-select-action-sheet'}"
                      cancelText="Cancelar"
                      placeholder="Seleccionar" 
                      toggleIcon="chevron-down"                       
                      formControlName="idUsuarioDoctor">
                      <ion-select-option 
                        *ngFor="let doctor of doctoresSelector"
                        [value]="doctor.idUsuarioDoctor">
                        {{doctor.nombre}}
                      </ion-select-option>
                    </ion-select>
                  </ion-item>
                  <div 
                    class="input-text-error"
                    *ngIf="formTratamiento.get('idUsuarioDoctor')?.hasError('required') && 
                    (formTratamiento.get('idUsuarioDoctor')?.dirty || formTratamiento.get('idUsuarioDoctor')?.touched)">
                      <ion-icon slot="start" name="info"></ion-icon>
                      El doctor es requerido
                  </div>
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <div class="input">
                <ion-label>Duracion del tratamiento</ion-label>
              </div>
              <ion-col size="6">
                <ion-button
                  (click)="seleccionarTratamientoPermanente(true)"
                  class="selection-button padding-derecho"
                  [ngClass]="{'selected': formTratamiento.get('tratamientoPermanente')?.value}">
                  Tratamiento permanente
                </ion-button>
              </ion-col>
              <ion-col size="6">
                <ion-button 
                  (click)="seleccionarTratamientoPermanente(false)"
                  class="selection-button padding-izquierdo" 
                  [ngClass]="{'selected': !formTratamiento.get('tratamientoPermanente')?.value}">
                  Tratamiento no permanente
                </ion-button>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <div class="input">
                  <ion-label>Fecha de inicio</ion-label>
                  <ion-item lines="none" class="date-input">
                    <ion-datetime-button datetime="fechaInicio"></ion-datetime-button>
                    <ion-icon 
                      name="calendar" 
                      slot="end"
                      id="fechaInicioIcon">
                    </ion-icon>
                  </ion-item>
                  <ion-modal [keepContentsMounted]="true" trigger="fechaInicioIcon">
                    <ng-template>
                      <ion-datetime
                        presentation="date"
                        color="morado-custom"
                        name="fechaInicio"
                        id="fechaInicio"
                        showDefaultButtons="true"
                        cancelText="Cancelar"
                        doneText="Ok"
                        locale="es-ES"
                        formControlName="fechaInicio"                      
                      ></ion-datetime>
                    </ng-template>
                  </ion-modal>
                </div>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="!formTratamiento.get('tratamientoPermanente')?.value">
              <ion-col size="12">
                <div class="input">
                  <ion-label>Fecha de fin</ion-label>
                  <ion-item lines="none" class="date-input">
                    <ion-datetime-button datetime="fechaFin"></ion-datetime-button>
                    <ion-icon 
                      name="calendar"
                      id="fechaFinIcon"
                      slot="end">
                    </ion-icon>
                  </ion-item>
                  <div 
                    class="input-text-error"
                    *ngIf="formTratamiento.hasError('fechaFinLessThanFechaInicio') && 
                    (formTratamiento.get('fechaFin')?.dirty || formTratamiento.get('fechaFin')?.touched)">
                      <ion-icon slot="start" name="info"></ion-icon>
                      La fecha de inicio no puede ser mayor a la fecha de fin
                  </div>
                  <ion-modal [keepContentsMounted]="true" trigger="fechaFinIcon">
                    <ng-template>
                      <ion-datetime
                        presentation="date"
                        color="morado-custom"
                        name="fechaFin"
                        id="fechaFin"
                        showDefaultButtons="true"
                        cancelText="Cancelar"
                        doneText="Ok"
                        locale="es-ES"
                        formControlName="fechaFin"
                      ></ion-datetime>
                    </ng-template>
                  </ion-modal>
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <ion-item 
                  (click)="setOpenModalRecordatorio(true)" 
                  lines="none" 
                  button 
                  class="action-button-item" 
                  [ngClass]="{'activated': formTratamiento.get('recordatorioActivo')?.value}"
                >
                  <ion-label *ngIf="!formTratamiento.get('recordatorioActivo')?.value">
                    Fijar recordatorio
                  </ion-label>
                  <ion-label *ngIf="formTratamiento.get('recordatorioActivo')?.value">
                    Editar recordatorio
                  </ion-label>
                  <ion-icon slot="end" name="chevron-right"></ion-icon>
                </ion-item>

                <ion-modal [isOpen]="isModalRecordatorioOpen">
                  <ng-template>
                    <ion-header class="ion-no-border header-modal">
                      <ion-toolbar>
                        <ion-buttons slot="start">
                          <ion-button (click)="setOpenModalRecordatorio(false)">
                            <ion-icon name="x"></ion-icon>
                          </ion-button>
                        </ion-buttons>
                        <ion-title>Fijar recordatorio</ion-title>
                      </ion-toolbar>
                    </ion-header>
                    <ion-content class="neutral">
                      <div class="contenedor-principal-modal">
                        <ion-grid class="inputs ion-no-padding">
                          <ion-row>
                            <ion-col size="12">
                              <div class="selector-dias">
                                <ion-button 
                                  *ngFor="let dia of weekDays; let i = index" 
                                  (click)="seleccionarDiaRecordatorio(i)"
                                  [ngClass]="{'selected': esDiaSemanaSeleccionado(i)}">
                                  {{dia.name}}
                                </ion-button>
                              </div>
                            </ion-col>
                          </ion-row>
                          <div class="selector-hora">
                            <ion-row>
                              <ion-col>
                                <div class="input">
                                  <ion-label>Definir hora</ion-label>
                                  <ion-item lines="none" class="date-input">
                                    <ion-datetime-button datetime="selectorHora"></ion-datetime-button>
                                    <ion-icon 
                                      id="selectorHoraIcon"
                                      name="clock" 
                                      slot="end">
                                    </ion-icon>
                                  </ion-item>
                                  <ion-modal [keepContentsMounted]="true" trigger="selectorHoraIcon">
                                    <ng-template>
                                      <ion-datetime
                                        presentation="time"
                                        color="morado-custom"
                                        name="selectorHoraName"
                                        id="selectorHora"
                                        showDefaultButtons="true"
                                        cancelText="Cancelar"
                                        doneText="Ok"
                                        locale="es-ES"
                                        [(ngModel)]="fechaSeleccionada"
                                        [ngModelOptions]="{standalone: true}"
                                      ></ion-datetime>
                                    </ng-template>
                                  </ion-modal>
                                </div>
                              </ion-col>
                              <ion-col size="auto">
                                <div class="boton-agregar-eliminar">
                                  <ion-button class="agregar" (click)="addHour()" [disabled]="!hayDiaSeleccionado()">
                                    <ion-icon slot="icon-only" name="plus"></ion-icon>
                                  </ion-button>
                                </div>
                              </ion-col>
                            </ion-row>
                            <ion-row>
                              <ion-col size="12">
                                <ion-text><p>Se notificará 15 minutos antes de la hora establecida.</p></ion-text>
                              </ion-col>
                            </ion-row>
                          </div>
                          <div class="horas-seleccionadas" formArrayName="horas">
                            <ion-row *ngFor="let horaControl of horas.controls; let i = index; let isLast = last">
                              <ion-col>
                                <div class="input">
                                  <ion-label>Horario {{i+1}}</ion-label>
                                  <ion-item lines="none" class="date-input input-disabled">
                                    <ion-datetime-button disabled [datetime]="'hora'+i"></ion-datetime-button>
                                    <ion-icon name="clock" slot="end" aria-hidden="true"></ion-icon>
                                  </ion-item>
                                  <ion-modal [keepContentsMounted]="true">
                                    <ng-template>
                                      <ion-datetime
                                        [value]="horaControl?.value"
                                        presentation="time"
                                        color="morado-custom"
                                        [name]="'horaName' + i"
                                        [id]="'hora'+i"
                                        showDefaultButtons="true"
                                        locale="es-ES"
                                        formControlName="{{i}}"
                                        readonly
                                      ></ion-datetime>
                                    </ng-template>
                                  </ion-modal>
                                </div>
                              </ion-col>
                              <ion-col size="auto">
                                <div class="boton-agregar-eliminar">
                                  <ion-button class="eliminar" *ngIf="true" (click)="removeHour(i)">
                                    <ion-icon slot="icon-only" name="x"></ion-icon>
                                  </ion-button>
                                </div>
                              </ion-col>
                            </ion-row>
                          </div>
                        </ion-grid>
                      </div>
                    </ion-content>
                  </ng-template>
                </ion-modal>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <ion-item lines="none" button class="action-button-item" (click)="takePicture()" *ngIf="!archivo">
                  <ion-label>Adjuntar imagen</ion-label>
                  <ion-icon slot="end" name="camera"></ion-icon>
                </ion-item>
                <div class="adjuntar-elemento" *ngIf="archivo">
                  <div class="previsualizacion">
                    <ion-img [src]="'data:image/png;base64,' + archivo"></ion-img>
                    <div class="datos-archivo">
                      <ion-text><p>{{archivoNombre}}</p></ion-text>
                      <ion-button (click)="eliminarAdjunto()">
                        <ion-icon slot="icon-only" name="trash-2"></ion-icon>
                      </ion-button>
                    </div>
                  </div>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
        <div class="botones botones-column">
          <ion-button 
            class="dark"
            [disabled]="!formTratamiento.valid || btnSubmit || (!formTratamiento.dirty && !isFormModified) " 
            (click)="submitForm()">
            Guardar
          </ion-button>
        </div>
      </form>
    </div>
  </div>
 