.form-control {
  border: 1px #d9d9d9 solid;
  color: #000000;
  border-radius: 20px !important;
  height: calc(1.5em + 0.75rem + 7px) !important;
  opacity: 1;
}

.form-control-readonly {
  border: 1px #d9d9d9 solid;
  color: #000000;
  border-radius: 20px !important;
  height: calc(1.5em + 0.75rem + 7px) !important;
  background-color: #e9ecef;
  opacity: 1;
}

ion-select::part(icon) {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1002
}


.form-group {
  position: relative;
  margin-top: 25px;

  .label-input {
    position: absolute;
    top: -11px;
    left: 16px;
    z-index: 1002;
    background-color: white;
    padding: 0 5px;
    font-size: 13px;
    color: gray;
  }

  ion-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1002
  }
}

.form-group-camera {

  ion-label {
    --ion-label-padding-top: 0;
    --ion-label-padding-bottom: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
  }

  ion-icon {
    left: 10px;
  }

}

.form-control.ng-invalid.ng-touched {
  border-color: red;
}

.checkbox-container {
  display: flex;
  flex-direction: row;
  align-items: center;

  .checkbox-label {
    padding-left: 5px;
  }
  
  ion-checkbox {
    --checkbox-background-checked: purple;
  }
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}