<div class="container"> 
  <div class="subseccion">
    <div>Recomendaciones</div>
  </div>
<form>
  <div class="modal-content">
    <div class="container">
        <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="form-group">
              <label style="color: gray;" >Recomendacion</label>
              <div>
                <textarea
                  #descripcion="ngModel"
                  [(ngModel)]="recomendacion.descripcion"
                  name="descripcion"
                  class="form-control-textarea"
                  type="text"
                  maxlength="800"
                  autocomplete="off"
                  style="width: 100%;"
                  rows="4"
                  required
                ></textarea>
                <div *ngIf="((descripcion.errors?.['required'] || descripcion.touched ) && botonTocado)" class="error">
                  La descripcion es requerida
                </div>
              </div>
            </div>
          </div>

      <div class="col-md-2 justify-content-between align-items-center ">
          <label class="label-input required-label">Fecha</label>
        <div>
          <input
            [(ngModel)] = "fechaString"
            name="fechaAlta"
            class="form-control"
            type="text"
            maxlength="50"
            autocomplete="off"
            required
            [disabled]="true"
            bsDatepicker
          />

        </div>
      </div>
    
      <div class="col-md-2 align-items-center d-flex contenedor-agregar" (click)="marcarBotonTocado()">
        <label class="label-input required-label">&nbsp;</label>
        
        <ng-template [ngIf]="!recomendacion.idExpedienteRecomendacion" [ngIfElse]="botonEditar" >
            <i class="fas fa-plus-circle" style="font-size: 24px;" (click)="agregar()" ></i> 
        </ng-template>
       
        <ng-template #botonEditar class="">
          <img src="assets/img/svg/ico-15x15-Editar-1.svg" style="width: 24px; height: 24px;" (click)="editar()" >
        </ng-template>
      </div>
    

    </div> 
  </div>
</div>
</form>
 
<div class="row">
  <div class="col-md-12">
    <div style="color: gray;">Bitacora Recomendaciones</div>

          <app-grid-general 
          #gridRecomendacion
          [headerName]="HEADER_GRID"
          [children]="columns"
          [gridOptions]="gridOptions"
          [data]="recomendacionesList$ | async"
          (event)="onGridClick($event)"
          >
          </app-grid-general>

    </div>
  </div>
</div>