<div class="contenedor-principal">
  <div class="cards-container">
    <div class="card">
      <div class="subseccion">Añadir recomendación</div>
      <div class="contenido-card">
        <form
          #formulario="ngForm"
          (ngSubmit)="enviarFormulario(formulario)"
          (keydown.enter)="$event.preventDefault()"
          novalidate="novalidate"
        >
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label class="label-input required-label">Fecha</label>
                <div class="date-form-control-container">
                  <input
                    [(ngModel)]="recomendacion.fecha"
                    name="fechaAlta"
                    class="date-form-control"
                    type="text"
                    maxlength="50"
                    autocomplete="off"
                    required
                    [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
                    [disabled]="true"
                    bsDatepicker
                  />
                  <div class="contenedor-icono">
                    <i-lucide class="icono" name="calendar"></i-lucide>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="label-input required-label">Recomendación</label>
                <textarea
                  #descripcion="ngModel"
                  [(ngModel)]="recomendacion.descripcion"
                  name="descripcion"
                  class="form-control-textarea"
                  type="text"
                  maxlength="800"
                  autocomplete="off"
                  style="width: 100%"
                  rows="4"
                  required
                ></textarea>
              </div>
              <div
                *ngIf="(descripcion.errors?.['required'] && descripcion.touched )"
                class="error"
              >
                La descripción es requerida
              </div>
            </div>
            <div class="col-md-2">
              <div class="botones">
                <button mat-flat-button type="submit" [disabled]="submiting">
                  <i-lucide [size]="20" name="check"></i-lucide>
                  Guardar
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="card">
      <div class="contenido-card">
        <app-grid-general
          #gridRecomendacion
          [headerName]="HEADER_GRID"
          [children]="columns"
          [gridOptions]="gridOptions"
          [data]="recomendacionesList$ | async"
          (event)="onGridClick($event)"
        >
        </app-grid-general>
      </div>
    </div>
  </div>
</div>
