#jitsi-new-meet-iframe {
    display: flex;
    flex-direction: column; /* Establece la dirección del contenedor como columna */
    align-items: center; /* Centra los elementos horizontalmente en el contenedor */
    justify-content: center; /* Centra los elementos verticalmente en el contenedor */
    height: 80vh; /* O la altura que desees */
}