<div class="row">
    <div class="col-12">
        <button
          type="button"
          class="btn contenedor-agregar mb-2"
          (click)="agregar()"
        >
            <i class="fas fa-plus-circle"></i><span>Agregar</span>
        </button>

        <button
          type="button"
          class="btn contenedor-agregar mb-2"
          (click)="editar()"
          [disabled]="!seleccionado"
        >
            <i class="fas fa-edit"></i><span>Editar</span>
        </button>

        <button
          type="button"
          class="btn contenedor-agregar mb-2"
          (click)="eliminar()"
          [disabled]="!seleccionado"
        >
            <i class="fas fa-trash"></i><span>Eliminar</span>
        </button>
    </div>

    <div class="col-12">
        <p-table
          [value]="muestras"
          selectionMode="single"
          [(selection)]="seleccionado"
        >
            <ng-template pTemplate="header">
                <tr>
                    <th *ngFor="let columna of seccionCampoList">
                        {{ columna.descripcion }}
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-muestra>
                  <tr [pSelectableRow]="muestra" (click)="seleccionar(muestra)">  
                    <td *ngFor="let columna of seccionCampoList ; let last = last">
                        <div *ngFor="let muestras of muestra.registro; let first = first" [ngClass]="last ? obtenerValorEstilo(muestra, first) : '' ">
                            {{ obtenerValor(columna.clave, muestras , first, last , columna.idSeccionCampo) }}
                        </div>
                    </td>
                 </tr>   
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td [attr.colspan]="entidadEstructuraSeccion.campos.length">
                        No se encontraron registros
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
