.fuera-de-rango {
    color: var(--error-200);
}

.no-fuera-de-rango {
    color: var(--success-200);
}

td:empty::before {
    content: '\00a0';
}

.mat-mdc-tab-body-content {
    overflow-y: hidden;
}