<div class="contenedor-principal">
 <!--    <div class="col-12">
        <button
          type="button"
          class="btn contenedor-agregar mb-2"
          (click)="agregar()"
        >
            <i class="fas fa-plus-circle"></i><span>Agregar</span>
        </button>

        <button
          type="button"
          class="btn contenedor-agregar mb-2"
          (click)="editar()"
          [disabled]="!seleccionado"
        >
            <i class="fas fa-edit"></i><span>Editar</span>
        </button>

        <button
          type="button"
          class="btn contenedor-agregar mb-2"
          (click)="eliminar()"
          [disabled]="!seleccionado"
        >
            <i class="fas fa-trash"></i><span>Eliminar</span>
        </button>
    </div>  -->
<div class="cards-container" style="margin-top: 28px;">
    <div class="card">
        <div>
            <p-table
              [value]="muestras"
              selectionMode="single"
              [(selection)]="seleccionado"
              class="grid-cuadricula"
              style="width: 100%;"
            >
                <ng-template pTemplate="header">
                    <tr class="ptable-header">
                        <th *ngFor="let columna of seccionCampoList">
                            {{ columna.descripcion }}
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-muestra>
                      <tr [pSelectableRow]="muestra" (click)="seleccionar(muestra)">  
                        <td *ngFor="let columna of seccionCampoList ; let last = last">
                            <div *ngFor="let muestras of muestra.registro; let index = index" [ngClass]="obtenerValorEstilo(muestras, columna.clave)" >
                                    {{ obtenerValor(columna.clave, muestras , index , columna.idSeccionCampo) }}
                                
                            </div>
                        </td>
                     </tr>   
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td [attr.colspan]="seccionCampoList.length">
                            No se encontraron registros
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>    
</div>
</div>
