@import "../../../../../theme/variables.scss";


.texto-seccion{
    font-weight: bold;
    color: var(--primary-600);
}


.input-fill-outline.input-shape-round {
  --border-color: lightgrey;
  border: 0px;
}

.custom-datetime {
  border: 1px solid lightgrey;
  border-radius: 30px;
  padding: 0px;

}

ion-item{
  --background: var(--neutral-100);
}

.correoConfirmado{

  p{
    text-align: center;
    color: red;
  }

  ion-button{
    --background: var(--primary-700);
    --color: var(--neutral-50);
  }
}

.padecimiento-nuevo{
  padding-top: 2em;
}

.seccion{
  padding-bottom: 1em;
}

.btn-enviar{
  --background: var(--primary-700);
  --color: var(--neutral-50);
  --border-radius: 10px;
}

