
.texto-seccion{
    font-weight: bold;
    color: #4c0080;
}


.input-fill-outline.input-shape-round {
  --border-color: lightgrey;
  border: 0px;
}

.custom-datetime {
  border: 1px solid lightgrey;
  border-radius: 30px;
  padding: 0px;

}
.btn-enviar{
  margin-top: 200px;
  margin-bottom: 50px;
}


