.cuerpo-contenedor {
  padding-left: 1em;
  padding-right: 1em;
}

.preguntaTextArea {
  height: 5em !important;
}

.respuestaTextArea {
  height: 9em !important;
}

.btn-cargar {
  background-color: #92d050;
  border: 0px;
  color: black;
  margin-top: 4em;
  font-weight: 400;
}
