<ion-header class="ion-no-border">
  <div class="contenedor-header">
    <ion-toolbar>
      <!-- boton pagina 1 -->
      <ion-buttons slot="start">
        <ion-button (click)="cerrarModal()">
          <ion-icon slot="start" name="chevron-back"></ion-icon>
          Atrás
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </div>
</ion-header>
<ion-content>
  <div class="contenedor-principal">
    <div class="texto">
      <ion-text>
        <h1>Términos y condiciones</h1>
        <p>
          {{TERMINOS_Y_CONDICIONES}}
        </p>
      </ion-text>
    </div>
    <div class="botones">
      <ion-button class="btn-login" (click)="cerrarModal()">
        De acuerdo
      </ion-button>
    </div>
  </div>
  
</ion-content>
