<div class="contenedor-principal">
  <div class="card">
    <div class="header">
      <div class="contenido-header">
        <div class="slot-start">
          <div id="foto-perfil">
            <div class="avatar-container">
              <div *ngIf="personas">

                <img 
                class="avatar" 
                [src]="imagenChat != '' ? (imagenChat | urlImagen : tipoMime) : 'assets/img/svg/avatar-placeholder.svg'" 
                alt=""
                />
                <div class="badge-img">+{{personas.length-1}}</div>
                <div class="hover-panel">
                  <!-- Contenido del panel -->
                  <h3>Miembros del chat</h3>
                  
                  <div class="personas">  
                    <p *ngFor="let persona of personas">
                      <img [src]="persona.imagenBase64" alt="">
                      <label>
                        {{ persona.nombre }}
                      </label>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="titulo">
            <span>{{ tituloChat }}</span>
          </div>
        </div>
        <div class="slot-end">
          <div class="botones">
            <div id="agregar" class="dropdown">
              <button class="add-button w-6r bg-none border-none " mat-flat-button>
                <lucide-icon name="video"></lucide-icon>
              </button>
              <div class="dropdown-content text-dark">
                <a (click)="crearLlamadaJitsi()">Jitsi</a>
                <a (click)="crearLlamadaWebRTC()">Web rtc</a> 
              </div>
            </div>

            <button 
              id="eliminar-chat" 
              type="button" 
              mat-flat-button 
              (click)="eliminarChat()">
              <i-lucide name="trash-2" size="24"></i-lucide>
              Eliminar chat
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="card-content">
      <div #scrollContainer class="lista-mensajes">
        <div
          class="row-mensaje"
          *ngFor="let mensaje of mensajes"
          [ngClass]="esMensajeMio(mensaje.idPersona) ? 'mio' : 'otra-persona'"
        >
          <div
            class="bubble"
            [ngClass]="esMensajeMio(mensaje.idPersona) ? 'mio' : 'otra-persona'"
             (click)="validarMeet(mensaje)" [ngStyle]="{'cursor': esMensajeValido(mensaje) ? 'pointer' : 'default'}"
          >
            <div class="bubble-content">
              <div class="mensaje" >
                <span>{{ mensaje.mensaje }}</span>
              </div>
              <div class="adjunto" *ngIf="hayAdjuntoEnMensaje(mensaje)">
                <div class="audio" *ngIf="esAudio(mensaje)">
                  <app-audio-wave
                    [color]="setColorAudio(mensaje.idPersona)"
                    [idArchivo]="mensaje.idArchivo"
                    [height]="36"
                    [width]="132"
                    (isAudioPlaying)="onAudioPlay($event)"
                  ></app-audio-wave>
                </div>
                <div class="archivo" *ngIf="!esAudio(mensaje)" (click)="onVerArchivo(mensaje)">
                  <div id="contenido-archivo">
                    <i-lucide class="icono" name="file" size="16"></i-lucide>
                    <span class="nombre-archivo">{{ mensaje.archivoNombre }}</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="bubble-footer">
              <div>
                <span>{{ mensaje.fecha | date: "dd/MM/yyyy 'a las' h:mm a" : '' : 'es-MX' }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="adjunto-input" *ngIf="hayAdjuntoAgregado()">
        <div class="archivo" *ngIf="archivo">
          <div class="contenedor-archivo">
            <i-lucide class="icono" name="file" size="20"></i-lucide>
            <span class="nombre-archivo">{{archivo?.name}}</span>
          </div>
          <div class="boton-eliminar">
            <button mat-icon-button (click)="eliminarArchivo()">
              <i-lucide name="trash-2" size="24"></i-lucide>
            </button>
          </div>
        </div>
        <div class="audio" *ngIf="audio2">
          <div class="contenedor-audio">
            <audio controls [src]="audio2"></audio>
            <div class="boton-eliminar">
              <button mat-icon-button (click)="eliminarAudio()">
                <i-lucide name="trash-2" size="24"></i-lucide>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="contenido-footer">
        <div class="slot-start">
          <div class="botones" *ngIf="!grabacionIniciada">
            <button type="button" mat-icon-button (click)="openFileInput()">
              <i-lucide name="file" size="24"></i-lucide>
            </button>
            <input
              type="file"
              id="fileInput"
              #fileInput
              style="display: none"
              (change)="onFileSelected($event)"
            />
          </div>
        </div>
        <div class="user-input">
          <div class="custom-textarea-container" *ngIf="!grabacionIniciada">
            <textarea
              cdkTextareaAutosize
              cdkAutosizeMaxRows="5"
              #descripcion="ngModel"
              [(ngModel)]="msg"
              name="mensaje"
              id="message-textarea"
              type="text"
              maxlength="800"
              autocomplete="off"
              required
              (keyup.enter)="enviarMensaje()"
              >
            </textarea>
          </div>       
        </div>
        <div class="slot-end">
          <div class="contenedor-grabando-audio" *ngIf="grabacionIniciada">
            <div class="botones">
              <button
               id="cancelar-grabacion" 
               type="button" 
               mat-icon-button
               *ngIf="grabacionIniciada" 
               (click)="cancelarGrabacion()">
                <i-lucide name="trash-2" size="24"></i-lucide>
              </button>
            </div>
            <div class="indicador">
              <i-lucide class="icono" name="mic" size="16"></i-lucide>
              <span id="duracion" *ngIf="timer$ | async">
                {{duracionAudio}}
              </span>
            </div>
          </div>
          <div class="botones">
            <button
              id="enviar-mensaje" 
              type="button" 
              mat-icon-button
              *ngIf="sePuedeEnviarMensaje()"
              (click)="enviarMensaje()">
              <i-lucide name="send" size="24"></i-lucide>
            </button>
            <button
              id="detener-grabacion" 
              type="button" 
              mat-icon-button
              *ngIf="grabacionIniciada"
              (click)="detenerGrabacion()">
              <i-lucide name="circle-stop" size="24"></i-lucide>
            </button>
            <button 
              id="iniciar-grabacion" 
              type="button" 
              mat-icon-button
              *ngIf="!sePuedeEnviarMensaje() && !grabacionIniciada"
              (click)="grabar()">
              <i-lucide name="mic" size="24"></i-lucide>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
