<div class="row">
    <div class="col">
        <div class="titulo-chat">{{tituloChat}}</div>
    </div>
    <div class="col" *ngIf="personas.length > 2">
        <ng-select
            name="padecimientoSelect"
            [items]="personas"
            bindLabel="nombre"
            bindValue="idUsuario"
            >
          </ng-select>
    </div>
</div>

<div class="absolute">
    <div class="listado">
        <div *ngFor="let mensaje of mensajes">
            <div class="message user" *ngIf="mostrarMensaje(mensaje.idPersona)">
                <div class="message-bubble">
                    {{mensaje.mensaje}}
                    <button (click)="downloadFile(mensaje.archivo)" *ngIf="mensaje.archivo != ''">Descargar Archivo</button>
                </div>
            </div>
            <div class="message other" *ngIf="!mostrarMensaje(mensaje.idPersona)">
                <div class="message-bubble">
                    <div class="nombre">{{mensaje.nombrePersona}}</div>
                    {{mensaje.mensaje}}
                    <button (click)="downloadFile(mensaje.archivo)" *ngIf="mensaje.archivo != ''">Descargar Archivo</button>
                </div>
            </div>
        </div>
    </div>
    
    
    
    <div class="final">
        <div class="form-group">
            <div class="row">
                <div class="col-2">
                    <input type="file" name="" id="" (change)="onFileSelected($event)">
                    <button (click)="subirArchivo()">Enviar</button>
                </div>
                <div class="col-8">
                    <label class="label-input required-label" style="color: gray;" >Mensaje</label>
                    <div>
                    <textarea
                        #descripcion="ngModel"
                        [(ngModel)]="msg"
                        name="mensaje"
                        class="form-control"
                        type="text"
                        maxlength="800"
                        autocomplete="off"
                        style="width: 100%;"
                        rows="1"
                        required
                    ></textarea>
                    <div *ngIf="(descripcion.errors?.['required'] && descripcion.touched )" class="error">
                        La descripción es requerida
                    </div>
                    </div>
                </div>
    
                <div class="col-2">
                    <button
                    type="submit"
                    class="btn"
                    (click)="enviarMensaje()"
                    >
                        <i class="fa fa-paper-plane" style="font-size: 24px;"></i> 
                    </button>
                </div>
            </div>
          </div>
    </div>
</div>
