<div class="row">
    <div class="col">
        <div class="titulo-chat">{{tituloChat}}</div>
    </div>
    <div class="col" *ngIf="personas.length > 2">
        <ng-select
            name="padecimientoSelect"
            [multiple]="true"
            [items]="personas"
            bindLabel="nombre"
            bindValue="idUsuario"
           [(ngModel)]="idPersonas"
            >
          </ng-select>
    </div>

    <div class="col">
        <div class="form-group">
            <button class="btn-agregar" (click)="eliminarChat()" >Eliminar Chat</button>
          </div>
    </div>
</div>

<div class="absolute">
    <div #scrollContainer class="listado">
        <div *ngFor="let mensaje of mensajes" (click)="validarMeet(mensaje.mensaje)">
            <div class="message user" *ngIf="mostrarMensaje(mensaje.idPersona)">
                <div class="message-bubble">
                    {{mensaje.mensaje}} <br>
                    <button class="btn btn-1" (click)="clickArchivo(mensaje.idArchivo)" *ngIf="mensaje.idArchivo != 0">
                        <i class="fa fa-file" style="font-size: 24px;"></i> {{mensaje.archivoNombre}}
                    </button>
                    <br>
                    {{imprimirFecha(mensaje.fecha)}}
                </div>
            </div>
            <div class="message other" *ngIf="!mostrarMensaje(mensaje.idPersona)">
                <div class="message-bubble">
                    <div class="nombre">{{mensaje.nombrePersona}}</div>
                    {{mensaje.mensaje}} <br>
                    <button class="btn" (click)="clickArchivo(mensaje.idArchivo)" *ngIf="mensaje.idArchivo != 0">
                        <i class="fa fa-file" style="font-size: 24px;"></i> {{mensaje.archivoNombre}}
                    </button>
                    <br>
                    {{imprimirFecha(mensaje.fecha)}}
                </div>
            </div>
        </div>
    </div>
    
    
    
    <div class="final">
        <div class="form-group">
            <div class="row" *ngIf="isAudio && !archivo">
                <div class="col-2">
                  <button class="btn"><i class="fa fa-microphone" style="font-size: 24px;" (click)="grabar()"></i></button>
                </div>
                <div class="col-2">
                  <button class="btn"><i class="fa fa-stop" style="font-size: 24px;" (click)="detenerGrabacion()"></i></button>
                </div>
                <div class="col-8">
                  <audio controls [src]="audioSubject | async"></audio>
                </div>
              </div>

            <div class="row">

                <div class="col-1">
                    <button class="btn" (click)="openFileInput()"><i class="fa fa-file" style="font-size: 24px;"></i></button>
                    <input type="file" id="fileInput" #fileInput style="display: none" (change)="onFileSelected($event)" />
                    <!-- <input type="file" class="fa fa-file" name="" id="" (change)="onFileSelected($event)"> -->
                </div>

                

                <div class="col-10" *ngIf="archivo">
                    {{archivo?.name}}
                </div>
                <div class="col-1" (click)="eliminarArchivo()" *ngIf="archivo">
                    <button class="btn"><i class="fa fa-trash" style="font-size: 24px;"></i></button>
                </div>
                

                <div class="col-1">
                    <button class="btn"><i class="fa fa-microphone" style="font-size: 24px;" (click)="changeAudio()"></i></button>
                </div>

                <div class="col-9">
                    <!-- <label class="label-input required-label" style="color: gray;" >Mensaje</label> -->
                    <div>
                    <textarea
                        #descripcion="ngModel"
                        [(ngModel)]="msg"
                        name="mensaje"
                        class="form-control"
                        type="text"
                        maxlength="800"
                        autocomplete="off"
                        style="width: 100%;"
                        rows="1"
                        required
                        (keyup.enter)="enviarMensaje()"
                    ></textarea>
                    <!-- <div *ngIf="(descripcion.errors?.['required'] && descripcion.touched )" class="error">
                        La descripción es requerida
                    </div> -->
                    </div>
                </div>
    
                <div class="col-1">
                    <button
                    type="submit"
                    class="btn"
                    (click)="enviarMensaje()"
                    [disabled]="msg == '' || msg == undefined"
                    >
                        <i class="fa fa-paper-plane" style="font-size: 24px;"></i> 
                    </button>
                </div>
            </div>
          </div>
    </div>
</div>
