.contenedor{
    padding: 10px;
}

.contenedor-texto-variable{

    padding-top: 30px;
    ion-label{
        font-weight: bold;
        color: #4c0080;
        padding-left: 10px;
    }
}
.contenedor-filtro{
    padding-left: 15%;
    justify-content: center;
}

