<ion-content>
  <div class = "contenedor">
    <ion-row>
      <ion-col size="12">
        <ion-select 
          id="variable"
          name="variable"
          label="Variable"
          label-placement="floating"
          fill="outline"
          shape="round"
          [(ngModel)]="claveVariable" 
          (ngModelChange)="onChangeVariable($event)">
            <ion-select-option *ngFor="let variable of variableList" [value]="variable.clave">{{variable.variable}}</ion-select-option>
        </ion-select>
    </ion-col>
    </ion-row>
    <div class ="contenedor-texto-variable">
      <ion-row>
        <ion-col>
          <ion-label>Nivel de variable</ion-label>
        </ion-col>
      </ion-row>
    </div>

    <!-- Chip Opciones Filtrado -->
    <div class="contenedor-filtro">
      <div>
      <mat-chip-listbox
        aria-label="Filtro Tiempo"
        (ngModelChange)="onFiltroChange($event)"
        [(ngModel)]="filtroTiempo"
      >
      <ion-row>
        <ion-col size="12">
          <mat-chip-option value="Hoy">Hoy</mat-chip-option>
          <mat-chip-option value="1 Semana">1 Semana</mat-chip-option>
          <mat-chip-option value = "2 Semanas">2 Semanas</mat-chip-option>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <mat-chip-option value = "3 Semanas">3 Semanas</mat-chip-option>
          <mat-chip-option value = "1 Mes">1 Mes</mat-chip-option>
          <mat-chip-option value = "2 Meses">2 Meses</mat-chip-option>
        </ion-col>
      </ion-row>
      </mat-chip-listbox>
      </div>
    </div>

    <ion-row class="etiqueta-extremos">
      <span>Valor más Bajo - Más alto</span>
    </ion-row>

    <!--Valor más alto y más bajo-->
    <ion-row>
      <ion-col size="6" class="circulo">
        <div class="contenedor-label-valores-extremos">
          <ion-label class="label-valores-extremos">
            <ion-row>
              <div class="etiqueta">Más bajo</div>
            </ion-row>
            <ion-row>
              <div class="fecha">{{fechaMin}}</div>
            </ion-row>
          </ion-label>
        </div>
        <div class="circle-container d-flex flex-column align-items-center">
 
          <div class="valores-extremos">
            <span class="valor">{{valorMin}}</span>
            <span class="unidad">mg/dL</span>
          </div>

        </div>
      </ion-col>
      <ion-col size="6">
        <div class="contenedor-label-valores-extremos">
          <ion-label class="label-valores-extremos">
            <ion-row>
              <div class="etiqueta">Más alto</div>
            </ion-row>
            <ion-row>
              <div class="fecha">{{fechaMax}}</div>
            </ion-row>
          </ion-label>
        </div>
        <div class="circle-container d-flex flex-column align-items-center">

          <div class="valores-extremos">
            <span class="valor">{{valorMax}}</span>
            <span class="unidad">mg/dL</span>
          </div>

        </div>
      </ion-col>
    </ion-row>


    <div class="histograma">
      <!-- Gráfica / Histograma -->
      <canvas
        baseChart
        [data]="barChartData"
        [labels]="barChartLabels"
        [type]="barChartType"
        [options]="barChartOptions"
      >
      </canvas>
    </div>
    <ion-row class="etiqueta-extremos">
      <span>Bitácora de muestras</span>
    </ion-row>
    <app-grid-general
        [headerName]="HEADER_GRID"
        [data]="valoresCampo"
        [children]="columns"
        [disableDelete]="true"
        [disableEdit]="true"
        [disableXLS]="true"
    >
    </app-grid-general>
    
  </div>
</ion-content>

