<ion-tabs #tabs (ionTabsDidChange)="cambiarIconoTabSeleccionada()">
  <div class="footer">
  <ion-tab-bar slot="bottom" [ngStyle]="{'display': mostrarFooter ? 'flex' : 'none'}">
    <ion-tab-button tab="chat-movil" class="tab">
      <ion-icon [name]="selectedTab === 'chat-movil' ? 'chatbox-ellipses' : 'chatbox-ellipses-outline'"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="clinicos" class="tab">
      <ion-icon [name]="selectedTab === 'clinicos' ? 'stats-chart' : 'stats-chart-outline'"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="dashboard" class="tab-central">
      <ion-icon name="home"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="cuestionarios" class="tab">
      <ion-icon [name]="selectedTab === 'cuestionarios' ? 'document-text' : 'document-text-outline'"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="perfil" class="tab">
      <ion-icon [name]="selectedTab === 'perfil' ? 'person' : 'person-outline'"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</div>
</ion-tabs>
