<ion-header class="ion-no-border">
  <div class="contenedor-header-light">
    <ion-toolbar>
      <!-- boton pagina 1 -->
      <ion-buttons class="start" slot="start" *ngIf="!procesoContinuado">
        <ion-button routerLink="/acceso">
          <ion-icon slot="start" name="chevron-left"></ion-icon>
          <ion-label>Atrás</ion-label>
        </ion-button>
      </ion-buttons>
      <!-- boton pagina 2 -->
      <ion-buttons class="start" slot="start" *ngIf="procesoContinuado">
        <ion-button (click)="continuarProceso(false)">
          <ion-icon slot="start" name="chevron-left"></ion-icon>
          <ion-label>Atrás</ion-label>
        </ion-button>
      </ion-buttons>
      <ion-buttons class="end" slot="end">
        <ion-text>
          <p><span style="font-weight: bold;">{{parteProceso}}</span> de <span style="font-weight: bold;">2</span></p>
        </ion-text>
      </ion-buttons>
    </ion-toolbar>
  </div>
</ion-header>
<ion-content class="primary">
  <div class="contenedor-principal">
    <div class="mensaje" *ngIf="!procesoContinuado">
      <ion-text>
        <h1>Crea tu cuenta.</h1>
      </ion-text>
    </div>
    <div class="mensaje" *ngIf="procesoContinuado">
      <ion-text>
        <h1>Cuéntanos sobre ti.</h1>
      </ion-text>
    </div>
    <div class="formulario">
      <form
        #formulario="ngForm"
        (keydown.enter)="$event.preventDefault()"
        (ngSubmit)="enviarFormulario(formulario)"
      >
      <!-- Formulario pagina 1 -->
      <div class="contenido-formulario" *ngIf="!procesoContinuado">
        <ion-grid class="inputs ion-no-padding">
          <ion-row>
            <ion-col size="12">
              <div class="input">
                <ion-label>Correo electrónico</ion-label>
                <ion-item lines="none" class="general-input">
                  <ion-input
                    #correo="ngModel"
                    [(ngModel)]="usuario.correoPersonal"
                    id="correo"
                    name="correo"
                    type="email"
                    maxlength="50"
                    required="true"
                    autocomplete="off"
                    placeholder="nombre@correo.com"
                    email>
                  </ion-input>
                </ion-item>
                <div 
                  class="input-text-error" 
                  *ngIf="correo.errors?.['required'] && (correo.dirty || correo.touched)">
                  <ion-icon slot="start" name="info"></ion-icon>
                  El usuario es requerido
                </div>
                <div 
                  class="input-text-error" 
                  *ngIf="!correo.valid && (correo.dirty || correo.touched)">
                  <ion-icon slot="start" name="info"></ion-icon>
                  Ingresa un correo válido
                </div>
              </div>
            </ion-col>
            <ion-col size="12">
              <div class="input">
                <ion-label>Contraseña</ion-label>
                <ion-item lines="none" class="general-input icon-right">
                  <ion-input
                    #contrasena="ngModel"
                    [(ngModel)]="usuario.contrasena"
                    id="correo"
                    name="contrasenaName"
                    [type]="pswInputType"
                    maxlength="50"
                    minlength="8"
                    placeholder="Ingresa una contraseña"
                    [required]="true">
                  </ion-input>
                  <ion-icon *ngIf="!mostrarPwd" slot="end" name="eye" (click)="mostrarContrasena()"></ion-icon>
                  <ion-icon *ngIf="mostrarPwd" slot="end" name="eye-off" (click)="mostrarContrasena()"></ion-icon>                  
                </ion-item>

                <div 
                  class="input-text-error" 
                  *ngIf="contrasena.errors?.['required'] && (contrasena.dirty || contrasena.touched)">
                  <ion-icon slot="start" name="info"></ion-icon>
                  La contraseña es requerida
                </div>

                <div 
                  class="input-text-error" 
                  *ngIf="contrasenaContieneEspacios() && (contrasena.dirty || contrasena.touched)">
                  <ion-icon slot="start" name="info"></ion-icon>
                  La contraseña no puede contener espacios
                </div>

                <div 
                  class="input-text-error" 
                  *ngIf="!contrasenaMinimoCaracteresValidation() && (contrasena.dirty)">
                  <ion-icon slot="start" name="x"></ion-icon>
                  Mínimo 8 caracteres
                </div>
                <div 
                  class="input-text-success" 
                  *ngIf="contrasenaMinimoCaracteresValidation() && (contrasena.dirty)">
                  <ion-icon slot="start" name="check"></ion-icon>
                  Mínimo 8 caracteres
                </div>

                <div 
                  class="input-text-error" 
                  *ngIf="!contrasenaMayusculasYMinusculasValidation() && (contrasena.dirty)">
                  <ion-icon slot="start" name="x"></ion-icon>
                  Letras mayúsculas y minúsculas
                </div>
                <div 
                  class="input-text-success" 
                  *ngIf="contrasenaMayusculasYMinusculasValidation() && (contrasena.dirty)">
                  <ion-icon slot="start" name="check"></ion-icon>
                  Letras mayúsculas y minúsculas
                </div>

                <div 
                  class="input-text-error" 
                  *ngIf="!contrasenaNumerosYSimbolosValidation() && (contrasena.dirty)">
                  <ion-icon slot="start" name="x"></ion-icon>
                  Al menos un número y un símbolo
                </div>
                <div 
                  class="input-text-success" 
                  *ngIf="contrasenaNumerosYSimbolosValidation() && (contrasena.dirty)">
                  <ion-icon slot="start" name="check"></ion-icon>
                  Al menos un número y un símbolo
                </div>

              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <div class="input">
                <ion-label>Confirmar contraseña</ion-label>
                <ion-item lines="none" class="general-input icon-right">
                  <ion-input
                    #confirmacionContrasena="ngModel"
                    [(ngModel)]="confirmarContrasena"
                    id="correo"
                    name="confirmacionContrasenaName"
                    [type]="pswInputType2"
                    maxlength="50"
                    autocomplete="off"
                    placeholder="Repite tu contraseña"
                    [required]="usuario.contrasena !== '' && usuario.contrasena !== null">
                  </ion-input>
                  <ion-icon *ngIf="!mostrarPwd2" slot="end" name="eye" (click)="mostrarConfirmarContrasena()"></ion-icon>
                  <ion-icon *ngIf="mostrarPwd2" slot="end" name="eye-off" (click)="mostrarConfirmarContrasena()"></ion-icon> 
                </ion-item>
                <div 
                  class="input-text-error" 
                  *ngIf="confirmacionContrasena.errors?.['required'] && (confirmacionContrasena.dirty || confirmacionContrasena.touched)">
                  <ion-icon slot="start" name="info"></ion-icon>
                  Es necesario confirmar la contraseña
                </div>
                <div 
                  class="input-text-error" 
                  *ngIf="!contrasenasCoincidenValidation() && (confirmacionContrasena.dirty)">
                  <ion-icon slot="start" name="info"></ion-icon>
                  Las contraseñas no coinciden
                </div>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <div class="terminos-condiciones">
                <ion-item lines="none">
                  <ion-label>
                    Acepto los
                    <a (click)="mostrarTerminosYCondiciones()">terminos y condiciones</a>
                  </ion-label>
                  <ion-checkbox (ionChange)="changeEvent($event)" slot="start">
                  </ion-checkbox>
                </ion-item>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <!-- Formulario pagina 2 -->
      <div class="contenido-formulario" *ngIf="procesoContinuado">
        <ion-grid class="inputs ion-no-padding">
          <ion-row>
            <ion-col size="12">
              <div class="input">
                <ion-label>Nombres</ion-label>
                <ion-item lines="none" class="general-input">
                  <ion-input
                    #nombre="ngModel"
                    [(ngModel)]="usuario.nombres"
                    id="nombre"
                    name="nombre"
                    type="text"
                    maxlength="200"
                    required="true"
                    autocomplete="off"
                    placeholder="Escribe tu(s) nombre(s) aquí">
                  </ion-input>
                </ion-item>
                <div 
                  class="input-text-error" 
                  *ngIf="nombre.errors?.['required'] && (nombre.dirty || nombre.touched)">
                  <ion-icon slot="start" name="info"></ion-icon>
                  El nombre es requerido
                </div>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">
              <div class="input padding-derecho">
                <ion-label>Apellido paterno</ion-label>
                <ion-item lines="none" class="general-input">
                  <ion-input
                    #apellidoPaterno="ngModel"
                    [(ngModel)]="usuario.apellidoPaterno"
                    id="apellidoPaterno"
                    name="apellidoPaterno"
                    type="text"
                    maxlength="200"
                    required="true"
                    autocomplete="off">
                  </ion-input>
                </ion-item>
                <div 
                  class="input-text-error" 
                  *ngIf="apellidoPaterno.errors?.['required'] && (apellidoPaterno.dirty || apellidoPaterno.touched)">
                  <ion-icon slot="start" name="info"></ion-icon>
                  El apellido es requerido
                </div>
              </div>
            </ion-col>
            <ion-col size="6">
              <div class="input padding-izquierdo">
                <ion-label>Apellido materno</ion-label>
                <ion-item lines="none" class="general-input">
                  <ion-input
                    #apellidoMaterno="ngModel"
                    [(ngModel)]="usuario.apellidoMaterno"
                    id="apellidoMaterno"
                    name="apellidoMaterno"
                    type="text"
                    maxlength="200"
                    required="true"
                    autocomplete="off">
                  </ion-input>
                </ion-item>
                <div 
                  class="input-text-error" 
                  *ngIf="apellidoMaterno.errors?.['required'] && (apellidoMaterno.dirty || apellidoMaterno.touched)">
                  <ion-icon slot="start" name="info"></ion-icon>
                  El apellido es requerido
                </div>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <div class="input">
                <ion-label>Teléfono móvil</ion-label>
                <ion-item lines="none" class="general-input">
                  <ion-input
                    #telefonoMovil="ngModel"
                    [(ngModel)]="usuario.telefonoMovil"
                    id="telefonoMovil"
                    name="telefonoMovil"
                    type="tel"
                    maxlength="10"
                    required="true"
                    autocomplete="off"
                    placeholder="Escribe tu teléfono móvil aquí">
                  </ion-input>
                </ion-item>
                <div 
                  class="input-text-error" 
                  *ngIf="telefonoMovil.errors?.['required'] && (telefonoMovil.dirty || telefonoMovil.touched)">
                  <ion-icon slot="start" name="info"></ion-icon>
                  El teléfono es requerido
                </div>
              </div>
            </ion-col>
          </ion-row>
          <!-- Se necesita feha de nacimiento? -->
          <!-- <ion-row>
            <ion-col size="12">
              <div class="input">
                <ion-label>Fecha de nacimiento</ion-label>
                <ion-item lines="none" class="date-input">
                  <ion-datetime-button datetime="fechaNacimiento"></ion-datetime-button>
                  <ion-icon name="calendar" slot="end" aria-hidden="true"></ion-icon>
                </ion-item>
                <ion-modal [keepContentsMounted]="true">
                  <ng-template>
                    <ion-datetime
                      presentation="date"
                      color="morado-custom"
                      name="fechaNacimiento"
                      id="fechaNacimiento"
                      showDefaultButtons="true"
                      locale="es-ES"
                      [(ngModel)]="fecha">
                    </ion-datetime>
                  </ng-template>
                </ion-modal>
              </div>
            </ion-col>
          </ion-row> -->
        </ion-grid>
      </div>
        <div class="botones botones-column">
          <!-- boton pagina 1 -->
          <ion-button
            *ngIf="!procesoContinuado"
            class="dark"
            (click)="continuarProceso(true)"
            [disabled]="(!termsAccepted || submitting || !formulario.valid) || !contrasenaValida()"
          >
            Continuar
          </ion-button>
          <!-- boton pagina 2 -->
          <ion-button
            *ngIf="procesoContinuado"
            class="dark"
            type="submit"
            [disabled]="(!termsAccepted || submitting || !formulario.valid) || !contrasenaValida()"
          >
            Guardar
          </ion-button>
        </div>
      </form>
    </div>
  </div>
</ion-content>
