

<ion-content>
  <div class="contenedor">
    <div class="titulo-contenedor">
      <ion-buttons>
        <ion-back-button defaultHref="/acceso/login">
          <ion-icon slot="icon-only" name="chevron-back"></ion-icon>
        </ion-back-button>
      </ion-buttons>
      Perfil
    </div>
    <div class="cuerpo-contenedor">
      <form
        (keydown.enter)="$event.preventDefault()"
        #formulario="ngForm"
        (ngSubmit)="enviarFormulario(formulario)"
      >
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-input
                #nombre="ngModel"
                [(ngModel)]="usuario.nombres"
                name="nombre"
                class="form-control"
                label="Nombres"
                label-placement="floating"
                fill="outline"
                shape="round"
                type="text"
                maxlength="200"
                [required]="true"
                placeholder="Nombres"
              >
              </ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-input
                #apellidoPaterno="ngModel"
                [(ngModel)]="usuario.apellidoPaterno"
                name="apellidoPaterno"
                class="form-control"
                label="Apellido Paterno"
                label-placement="floating"
                fill="outline"
                shape="round"
                type="text"
                maxlength="200"
                [required]="true"
                placeholder="Apellido Paterno"
              >
              </ion-input>
            </ion-col>
            <ion-col>
              <ion-input
                #apellidoMaterno="ngModel"
                [(ngModel)]="usuario.apellidoMaterno"
                name="apellidoMaterno"
                class="form-control"
                label="Apellido Materno"
                label-placement="floating"
                fill="outline"
                shape="round"
                type="text"
                maxlength="200"
                [required]="true"
                placeholder="Apellido Materno"
              >
              </ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-input
                #correo="ngModel"
                [(ngModel)]="usuario.nombreUsuario"
                name="nombreusuario"
                class="form-control"
                label="Nombre de usuario"
                label-placement="floating"
                fill="outline"
                shape="round"
                maxlength="50"
                [required]="true"
                placeholder="Nombre de usuario"
                type="text"
                errorText="Usuario no válido"
                ngModel
              >
              </ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-input
                #correo="ngModel"
                [(ngModel)]="usuario.correoPersonal"
                name="correo"
                class="form-control"
                label="Correo Electrónico"
                label-placement="floating"
                fill="outline"
                shape="round"
                maxlength="50"
                [required]="true"
                placeholder="Correo Electrónico"
                type="email"
                errorText="Email inválido"
                ngModel
                email
              >
              </ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-input
                #telefonoMovil="ngModel"
                [(ngModel)]="usuario.telefonoMovil"
                name="telefonoMovil"
                class="form-control"
                label="Teléfono Móvil"
                label-placement="floating"
                fill="outline"
                shape="round"
                [required]="true"
                placeholder="Teléfono Móvil"
                type="tel"
              >
              </ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-input
                #contrasena="ngModel"
                [(ngModel)]="usuario.contrasena"
                name="contrasenaName"
                class="form-control"
                label="Contraseña"
                label-placement="floating"
                fill="outline"
                shape="round"
                placeholder="Contraseña"
                [required]="true"
                type="password"
                appConfirmacionContrasena="confirmacionContrasenaName"
              >
              </ion-input>
            </ion-col>
            <ion-col>
              <ion-input
                #confirmacionContrasena="ngModel"
                [(ngModel)]="confirmarContrasena"
                name="confirmacionContrasenaName"
                class="form-control"
                label="Contraseña"
                label-placement="floating"
                fill="outline"
                shape="round"
                appConfirmacionContrasena="contrasenaName"
                [required]="usuario.contrasena !== '' && usuario.contrasena !== null"
                placeholder="Confirmar Contraseña"
                type="password"
              >
              </ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-select
                #locacion="ngModel"
                name="locacion"
                bindLabel="nombre"
                bindValue="idHospital"
                shape="round"
                name="hospital"
                class="form-control"
                [label]="placeHolderSelectHospital"
                label-placement="floating"
                fill="outline"
                [required]="true"
                [(ngModel)]="usuario.idHospital"
                [placeholder]="placeHolderSelectHospital"
              >
              <ion-select-option *ngFor="let hospital of hospitalList" [value]="hospital.idHospital">{{ hospital.nombre }}</ion-select-option>
            </ion-select>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <div class="terminos-condiciones">
                <ion-item>
                  <ion-label>
                    Acepto los
                    <a
                      (click)="mostrarTerminosYCondiciones()"
                      style="text-decoration: underline !important; font-weight: bold;">

                      terminos y condiciones
                    </a>
                  </ion-label>
                  <ion-checkbox
                    (ionChange)="changeEvent($event)"
                    slot="start">
                  </ion-checkbox>
                </ion-item>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button [disabled]="!termsAccepted || submitting || !formulario.valid" type="submit">
                Registrar Perfil
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </div>
  </div>
</ion-content>