<!-- <div *ngIf="pdfSrc" style="width: 20%; float: right">

  <ngx-extended-pdf-viewer
    [base64Src]="pdfSrc"
    [useBrowserLocale]="true"
    height="80vh"
  ></ngx-extended-pdf-viewer>
</div> -->
<!-- Botón Descargar Excel -->
<div
  class="d-flex justify-content-end">
  <button
  type="button"
  class="btn"
  >
  <!-- (click)="descargarExcel()" -->
    <i
    title="Descargar Excel"
    class="grid-download"
    >
      <img 
      src="assets/img/svg/ico-15x15-Descargar.svg"/>
    </i>
  
  </button>
</div>
<p-table
  class="primeng-table grid-cuadricula"
  [value]="estudioPacienteList"
  *ngIf="estudioPacienteList"
  [autoLayout]="true"
>
  <ng-template pTemplate="header">
    <tr class="table-header">
      <!-- <th class="px-0 text-center">Tipo</th> -->
      <th class="col-md-8 text-center">Estudio</th>
      <th style="text-align: center; width: auto;">Fecha Realización</th>
      <th></th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-estudio>
    <tr>
      <!-- Imagen del Tipo de Estudio -->
      <!-- <td class="img-container p-0">
        <img
          [src]="
            estudio.imagenBase64 != undefined
              ? (estudio.imagenBase64 | urlImagen : estudio?.tipoMime)
              : 'assets/img/default-user.jpg'
          "
        />
      </td> -->
      <!-- Nombre del estudio -->
      <td>
        <!-- <div class="text-center" style="width: 5px; aspect-ratio: 1; background-color: green;"></div> -->
        {{ estudio.nombre }}
      </td>
      <td>
        <div class="d-flex justify-content-center align-items-center">
          <ng-container *ngIf="estudio.fechaRealizacion != null; else elseTemplate">
            {{ estudio.fechaRealizacion | date : "dd/MM/yyyy" }}
          </ng-container>
          <ng-template #elseTemplate>
            Agendar
          </ng-template>
        </div>
      </td>
      <td class="botones-acciones text-center px-0">
        <button type="button" class="btn" (click)="onVer(estudio)" title="Ver">
          <i class="fa fa-lg fa-eye icono-primario"></i>
        </button>
      </td>
    </tr>
  </ng-template>
</p-table>
