.visto-celeste {
    --background-color: lightblue;
}

.notification-item{
  padding-top: 10px;
  padding-bottom: 10px;
}

.ion-item{
  --background: #edf2fb;
}

.notificacion{
  color: #671E75;
  font-weight: bold;
}
