@import "../../../../../../../theme/variables.scss";


.header-button{
    ion-button{
        width: 40px;
        height: 40px;
        margin: 0;
        margin-right: 8px;
        --border-radius: 8px;
        --border-width: 1px;
        --border-color: var(--primary-700);
        --border-style: solid;
        
        .outer-icon{
            position: relative;
            ion-icon{
                font-size: 24px;
                color: white;
            }
        }
    
        .inner-icon{
            position: absolute;
            right: 0;
            top: -2px;
            ion-icon{
                color: red;   
                font-size: 10px;
            }
        }
    }

    
    ion-button::part(native){
        padding: 0;
    }
}






