<div class="titulo-seccion">
  Solicitudes
</div>


<div class="container">
  <canvas
    baseChart
    [data]="chartData"
    [type]="chartType"
    [options]="chartOptions"
    [plugins]="chartPlugins"
  >
  </canvas>

  <div class="labels">
    <div class="row">
      <div class="col-3">
        <span class="numero" [ngStyle]="{ color: colors[0] }">{{ data[0] }}</span>
      </div>
      <div class="col-9">
        <span class="texto">{{ etiquetas[0] }}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <span class="numero" [ngStyle]="{ color: colors[1] }">{{ data[1] }}</span>
      </div>
      <div class="col-9">
        <span class="texto">{{ etiquetas[1] }}</span>
      </div>
    </div>
  </div>
</div>
