<div class="titulo-seccion">
  Mis Pacientes esta semana
</div>

  <div class="card">
    <div class="chart">
      <canvas
        baseChart
        [data]="chartData"
        [type]="chartType"
        [options]="chartOptions"
        [plugins]="chartPlugins"
      >
      </canvas>
    </div>
    <div class="labels">
      <div class="label">
        <div class="color" style="background: var(--success-200);"></div>
        <h3>Solicitudes atendidas ({{data[0]}})</h3>
      </div>
      <div class="label">
        <div class="color" style="background: var(--error-200);"></div>
        <h3>Solicitudes sin atender ({{data[1]}})</h3>
      </div>
    </div>
  </div>
  