.card {
  height: 400px !important;
  padding: 40px;
  margin-top: 16px;

  .chart{
    display: flex;
    justify-content: center;
    canvas{
      width: 100% !important;
      height: 100% !important;
      max-width: 200px !important;
      max-height: 200px !important;
    }
  }

  .labels{
    padding-top: 40px;
    .label{
      width: 100%;
      display: flex;
      gap: 8px;
      align-items: center;
      justify-content: center;
      .color{
        min-width: 16px;
        min-height: 16px;
      }
      h3{
        margin: 0;
        font-family: var(--font-body);
        font-size: 16px;
        color: var(--neutral-900);
      }
    }
  }
  
}

