<app-widget title="Pasos" iconClass="walk" colorBackground="#E0B58E" colorTitle="#F4F4F4" widgetClass="salud" (click)="cargarPasos()">
  <div style=" width: 100%; padding-left: 40%;">
    <div class="container d-flex align-items-center gap-2">

      <div class="values d-flex flex-column align-items-start gap-2">
        <!-- Distancia -->
        <div class="">
          <div class="value">
            <span class="valor">{{ distancia | number }}</span><span class="medida"></span>
          </div>
          <div class="valor">{{ pasos }}</div>
        </div>

        <!-- Tiempo -->
        <div class="">
          <div class="value">
            <span class="valor">{{ horas }}</span><span class="medida">h</span>
            <span class="valor">{{ minutos }}</span><span class="medida">min</span>
          </div>
          <div class="label">caminando</div>
        </div>
      </div>
    </div>

  </div>

</app-widget>