<div class="titulo-seccion">
  Cantidad de Pacientes
</div>

<div class="card d-inline-flex shadow p-4">
  <div class="d-flex gap-3">
    <div *ngFor="let padecimiento of padecimientos$ | async">
      <div class="d-flex flex-column align-items-center gap-3" style="max-width: 80px;">
        <div class="circle-container">
          <span class="cantidad-pacientes">{{ padecimiento.cantidadPacientes }}</span>
        </div>
        <span class="nombre-padecimiento">{{ padecimiento.nombrePadecimiento }}</span>
      </div>
    </div>

    <div class="align-self-center">
      <i class="fas fa-filter"></i> Filtros
    </div>
  </div>
</div>
