<div class="contenedor">
  <div class="titulo-contenedor">Roles</div>
  <div class="cuerpo-contenedor">
    <div class="row">
      <div class="col-md-12">
        <div class="contenedor-agregar" (click)="agregar()" *ngIf="tieneAccesoAgregar">
          <button class="btn-agregar">Agregar Rol</button>
        </div>
        <app-grid-general
          [headerName]="HEADER_GRID"
          [data]="RolList"
          [children]="columns"
          (event)="onGridClick($event)"
          [disableDelete]="true"
          [disableEdit]="true"
        >
        </app-grid-general>
      </div>
    </div>
  </div>
</div>
