.contenedor {
  margin-top: 0;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.contenedor-blanco {
  background-color: white;
  padding: 1rem;
  margin: 1rem;
}

.cuerpo-contenedor label {
  padding: 0.5em;
}

.cuerpo-contenedor {
  width: auto;
  margin: 1rem;
}

.titulo-contenedor {
  font-size: 1.8rem;
  padding: 2rem;
  color: $color-primario;
  background-color: #ffffff;
}

.subseccion {
  color: $color-primario;
  border-bottom: 1px $color-primario solid;
  margin-bottom: 25px;
  padding-top: 10px;
  margin-top: 10px;
  width: 100%;
}

.subtitulo-contenedor {
  font-size: 1.3rem;
  padding: 0.5rem;
  color: $color-primario;
  background-color: #ffffff;
}

.contenedor-admin .cuerpo-contenedor {
  background-color: #ffffff;
  padding: 20px;
}

.contenedor-admin .titulo-contenedor {
  color: #7f7f7f;
  font-weight: 600;
  font-size: 1.2rem;
}

.panel-contenedor {
  border-bottom: 1px solid #bec1af;
}

.icono-primario {
  color: $color-primario;
}

//Iconos SVG

.icono-imprimir {
  display: block;
  width: 15px;
  height: 15px;
  background: url(~/assets/img/svg/ico-15x15-Imprimir.svg);
}

.icono-descargar {
  display: block;
  width: 15px;
  height: 15px;
  background: url(~/assets/img/svg/ico-15x15-Descargar.svg);
}

.panel-busqueda {
  margin-top: 0.5rem;
  border-top: 1px solid #e6e4e7f8;
  height: 20px !important;
}

.separador {
  margin: 15px 0px;
  height: 1px;
  background: $color-primario;
}

.grid-input {
  border: 1px #9e9e9e solid !important;
  width: 100%;
  display: inline-block;
  border-radius: 6px !important;
  background: white;
  text-align: center;
}

// Modal mensaje de aviso

.mensaje-aviso {
  .barra-lateral-modal {
    padding: 0 24px;
  }

  .modal-content {
    width: auto;
  }
  .accion .btn-primario {
    width: 100%;
  }

  .titulo {
    color: #ff6c00;
    font-weight: bold;
    font-size: 16pt;
  }
}
