<app-modal-base [titulo]="'Agregar asistente'">
  <ng-template #modalBody>
    <div class="row d-flex justify-content-around">
      <div class="col-md-6"> 
        <ul class="list-group list-group-flush">
          <li href="#"  class="list-group-item d-flex justify-content-center" *ngFor="let asistente of misAsistentesData | async">
            {{asistente.nombreAsistente}} <i class="fas fa-times" (click)="eliminarAsistente(asistente)"></i>
           </li>
        </ul>
      </div>
      <div class="col-md-6"> 
        <ul class="list-group list-group-flush">
          <li href="#"  class="list-group-item d-flex justify-content-center" *ngFor="let asistente of asistentes | async" (click)="agregarAsistente(asistente)">
            {{asistente.nombre}}
           </li>
        </ul>
      </div>
    </div>
  </ng-template>
</app-modal-base>
