<div class="contenedor">
  <div class="titulo-contenedor">Accesos</div>
  <div class="cuerpo-contenedor">
    <div class="row">
      <div class="col-md-12">
        <div class="contenedor-agregar" (click)="agregar()" *ngIf="tieneAccesoAgregar">
          <button class="btn-agregar">Agregar Acceso</button>
        </div>
        <app-grid-general
          #gridNecesidad
          [headerName]="HEADER_GRID"
          [data]="accesoList"
          [gridOptions]="gridOptions"
          [children]="columns"
          (event)="onGridClick($event)"
          [accesoEditar]="accesoEditar"
          [accesoEliminar]="accesoEliminar"
        >
        </app-grid-general>
      </div>
    </div>
  </div>
</div>
