<ion-header class="ion-no-border">
  <div class="contenedor-header">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button routerLink="/acceso/login">
          <ion-icon slot="start" name="chevron-back"></ion-icon>
          Atrás
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </div>
</ion-header>
<ion-content>
  <div class="contenedor-principal">
    <div class="mensaje">
      <ion-text>
        <h1>¿Olvidaste tu contraseña?</h1>
        <p>
          Confirma tu nombre de usuario y recibirás un enlace a tu correo
          electrónico para restablecer tu contraseña.
        </p>
      </ion-text>
    </div>
    <div class="formulario">
      <form
        #formulario="ngForm"
        novalidate="novalidate"
        (ngSubmit)="recuperarContrasena(formulario)"
      >
        <div class="contenido-formulario">
          <ion-list class="inputs">
            <div class="input">
              <ion-text><p>Nombre de usuario</p></ion-text>
              <ion-item lines="none">
                <ion-button fill="clear" slot="start" disabled>
                  <ion-icon slot="icon-only" name="person-outline"></ion-icon>
                </ion-button>
                <ion-input
                  #correo="ngModel"
                  [(ngModel)]="usuario.correo"
                  id="correo"
                  name="correo"
                  type="text"
                  maxlength="50"
                  required="true"
                  autocomplete="off"
                  placeholder="Escribe tu usuario aquí"
                >
                </ion-input>
              </ion-item>
            </div>
          </ion-list>
        </div>
        <div class="botones">
          <ion-button
            class="btn-login"
            type="submit"
            [disabled]="btnSubmit || !formulario.valid"
          >
            Confirmar
          </ion-button>
        </div>
      </form>
    </div>
  </div>
  <!-- alerta de cargando cuando se necesite -->
  <ion-alert
    [isOpen]="cargando$ | async"
    cssClass="custom-alert-loading"
  >
  </ion-alert>
</ion-content>
