  <ion-toolbar class="header">
    <ion-item lines="none" class="header-content">
      <ion-avatar (click) = "_openPopover($event)">
        <!--Reemplazar por foto de perfil del usuario-->
        <ion-img
          src="https://ionicframework.com/docs/img/demos/avatar.svg">
        </ion-img>
      </ion-avatar>
      <ion-label>
        <h2>¡Hola, {{miUsuario?.nombre}}!</h2>
        <p>Que gusto verte de nuevo.</p>
      </ion-label>
      <app-notificaciones-page></app-notificaciones-page>
    </ion-item>
  </ion-toolbar>


