@import "../../../../../theme/variables.scss";


.header{
  border-radius: 0 0 10px 10px;
  --background: var(--primary-700);
  --min-height: 45px;
  padding-top: 6vh;
  height: 17.5vh;
  .header-content{
    --background: var(--primary-700);
  
    ion-avatar{
      margin-right: 10px;
      width: 7vh;
      height: 7vh;
    }
  
    ion-label{
      h2{
        font-size: calc(0.7em + 1vw);
        font-family: var(--font-display);
        font-weight: bold;
        color: var(--neutral-50); 
      }
  
      p{
        font-size: calc(0.7em + 1vw);
        font-family: var(--font-display);
        color: var(--neutral-50);
        
      }
    }
  }

}

// a.breadcrumb-native{
//   padding: 0 !important;
// }
// ion-breadcrumb{
//   padding: 0 !important;
// }

// .migaja{
//   padding: 0 !important;
// }
