<!-- Botón Descargar Excel -->
<div
  class="d-flex justify-content-end">
  <button
  type="button"
  class="btn"
  (click)="descargarExcel()"
  >
    <i
    title="Descargar Excel"
    class="grid-download"
    >
      <img 
      src="assets/img/svg/ico-15x15-Descargar.svg"/>
    </i>
  
  </button>
</div>
<p-table
  class="primeng-table grid-cuadricula"
  [value]="pacientes"
  dataKey="idProyectoElementoTecnica"
  *ngIf="pacientes"
  [autoLayout]="true"
>
  <ng-template pTemplate="header">
    <tr class="table-header">
      <th class="px-0 text-center">Fotografía</th>
      <th class="text-center">Paciente</th>
      <th class="text-center">Patologías</th>
      <th class="text-center">Glucosa</th>
      <th class="text-center">Presión</th>
      <th class="text-center"></th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-paciente>
    <tr>
      <td class="img-container p-0">
        <img
          [src]="
            paciente.imagenBase64 != undefined
              ? (paciente.imagenBase64 | urlImagen : paciente?.tipoMime)
              : 'assets/img/default-user.jpg'
          "
        />
<!-- 
        <img *ngIf="paciente.imagenBase64 !== undefined" 
          class="imagen-usuario" 
          [src]="paciente.imagenBase64 != undefined
          ? (paciente.imagenBase64 | urlImagen : paciente?.tipoMime)
          : 'assets/img/default-user.jpg'"
          width="85px"
          height="85px"
          alt="Imagen de Usuario"
        /> -->

      </td>
      <!-- TODO: Arreglar las bolitas de colores que muestran los signos -->
      <td style="">
        <div class="green-dot"></div>
        {{ paciente.nombreCompleto }}
        <p class="edad">{{ paciente.edad }}</p>
      </td>
      
      <td>
        <div class="d-flex">
          <span
            *ngFor="let patologia of paciente.patologias"
            style="background-color: #ededed"
            class="m-1 p-1"
          >
            {{ patologia }}
          </span>
        </div>
      </td>
      <!-- TODO: Arreglar las bolitas de colores que muestran los signos -->
      <td style="">
        <div class="green-dot"></div>
        <div class="d-flex justify-content-center align-items-center">{{ paciente.glucosa }}</div>
      </td>
      <td style="">
        <div class="green-dot"></div>
        <div class="d-flex justify-content-center align-items-center">{{ paciente.presionSistolica }}/{{ paciente?.presionAsistolica }}</div>
      </td>
      <td class="botones-acciones text-center px-0">
        <button 
          type="button" 
          class="btn" 
          (click)="onVer(paciente)" 
          title="Ver"
        >
          <i class="fa fa-lg fa-eye icono-primario"></i>
        </button>
        
        <button
          type="button"
          class="btn"
          (click)="onEditar(paciente)"
          title="Editar"
        >
          <i class="fa fa-lg fa-pen-to-square icono-primario"></i>
        </button>
        
        <button
          type="button"
          class="btn"
          (click)="onEliminar(paciente)"
          title="Eliminar"
        >
          <i class="fa fa-2xl fa-trash icono-primario"></i>
        </button>
      </td>
    </tr>
    <br/>
  </ng-template>
</p-table>
