<!-- Botón Descargar Excel -->
<p-table
  class="grid-cuadricula"
  [value]="pacientes"
  dataKey="idProyectoElementoTecnica"
  *ngIf="pacientes"
  [autoLayout]="true"
  style="border-radius: 4px;"
>
  <ng-template pTemplate="header">
    <tr class="ptable-header" >
      <th id="foto" ></th>
      <th id="nombre" class="nowrap">Nombre</th>
      <th id="edad" class="nowrap">Edad</th>
      <th id="patologias" class="nowrap">Patologías</th>
      <th id="dosis" class="nowrap">Dosis sin tomar</th>
      <th id="variables" class="nowrap">Variables fuera de rango</th>
      
      <th id="iconos">
        <div class="d-flex justify-content-end">
          <div class="green-dot-container">
            <div class="green-dot"></div>
          </div>
          <button type="button" class="btn" (click)="descargarExcel()">
            <lucide-icon name="download"></lucide-icon>
          </button>
        </div>
      </th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-paciente>
    <tr>
      <td class="img-container p-0" style="text-align: center;">
        <img
          [src]="
            paciente.imagenBase64 != undefined
              ? (paciente.imagenBase64)
              : 'assets/img/default-user.jpg'
          "
        />
      </td>
      <td>
        <div ></div>
        {{ paciente.nombreCompleto }}
      </td>
      <td>
       {{ paciente.edad }}
      </td>

      <td>
        <div class="d-flex" >
          <span
            *ngFor="let patologia of paciente.patologias; let isLast = last"
            class="patologia"
          >
            {{ patologia }}<ng-container *ngIf="!isLast">,</ng-container>
          </span>
        </div>
      </td>
      <td>
        <div ></div>
        <div class="d-flex align-items-center">{{ paciente.dosisNoTomadas }}</div>
      </td>
      <td>
        <div ></div>
        <div class="d-flex align-items-center">{{ paciente.variablesFueraRango}}</div>
      </td>
      <td class="botones-acciones h-100">
        <button
          class="btn"
          type="button"
          (click)="onVer(paciente)"
          title="Ver"
        >
        <lucide-icon size="20" name="eye"></lucide-icon>
        </button>
        <button
          class="btn"
          type="button"
          (click)="onEditar(paciente)"
          title="Editar"
        >
        <lucide-icon size="20" name="pen"></lucide-icon>
        </button>

        <button
          class="btn"
          type="button"
          (click)="onEliminar(paciente)"
          title="Eliminar"
        >
        <lucide-icon size="20" name="trash-2"></lucide-icon>
        </button>
      </td>

    </tr>
  </ng-template>
</p-table>
