.green-dot-container{
    display: flex;
    justify-content: center;
    align-items: center;
    .green-dot {
        width: 10px;
        height: 10px;
        background-color: var(--success-200);
        border-radius: 50%;
        top: 0;
        right: 0;
    }
}



.patologia{
    display: inline-block;
    margin-right: 5px;
}

.d-flex{
    flex-wrap: wrap;
}

.nowrap {
    white-space: nowrap;
}

.botones-acciones{
    align-items: center;
    padding-left: 0px !important;
    padding-right: 0px !important;
    button{
        
        padding: 0px;
        margin: 10px;
        lucide-icon{
            color: var(--neutral-400);
        }


        &:hover {
            transform: scale(1.1); // Aumenta el tamaño del botón un 10% al pasar el ratón sobre él
            lucide-icon {
              color: var(--neutral-600); // Oscurece el color del icono al pasar el ratón sobre él
            }
          }
    }
}

