@import "../../../../theme/variables.scss";


ion-tab-bar{
    height: 120px;
    border: none;
    margin-top: 10px;
    --background: var(--neutral-100);
}

 ion-button{
    color: var(--neutral-950);
    font-weight: bold;
    font-size: 12px;
    width: 120px;
    

    // --border-color: var(--neutral-200);
    --border-width: 0;
    --border-radius: 10px;
    --background: var(--neutral-200);

    --padding-top: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    max-width: 120px;
    
}

