<ion-header>
  <app-header></app-header>
</ion-header>
<ion-content>
  <ion-toolbar class="header">
    <ion-buttons slot="start">
      <ion-button routerLink="home">
        <ion-icon name="chevron-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title slot="" >{{tipoExamen}}</ion-title>
  </ion-toolbar>
  <div class="preguntas">
    <ion-card *ngFor="let reactivo of reactivoList index as i" class="pregunta">
      <ion-card-header>
        <ion-card-title>{{i+1}}.-{{reactivo.pregunta}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div *ngIf="reactivo.imagenBase64 !== '' " style="text-align: center; margin-top: 10px; margin-bottom: 10px;">
          <img
            *ngIf="reactivo.imagenBase64 !== 'data:;base64,' "
            id="logo"
            class="imagenPregunta"
            [src]="reactivo.imagenBase64"
            height="200"
          />
        </div>
        <ion-label>
          <div class="opciones" *ngIf="!reactivo.necesitaRevision">
          <p>{{reactivo.respuesta}}</p>
          </div>
        </ion-label>
        <ion-label class="respuesta">
          <h2>Respondió: <span style="color: black ; font-weight: bold;">{{reactivo.respuestaAlumno}}</span></h2>
        </ion-label>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

