<ion-header class="ion-no-border">
  <div class="contenedor-header-light">
    <ion-toolbar>
      <ion-buttons class="start" slot="start">
        <ion-button (click)="regresar()">
          <ion-icon slot="start" name="chevron-left"></ion-icon>
          <ion-label>Atrás</ion-label>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </div>
</ion-header>
<ion-content class="primary">
  <div class="contenedor-principal">
    <div class="titulo">
      <ion-text>
        <p>{{fechaExamen | date: 'MMMM d, y': '': 'es-MX'}}</p>
        <h3>{{tipoExamen}}</h3>
      </ion-text>
    </div>

    <div class="preguntas">
      <div class="card-pregunta" *ngFor="let reactivo of reactivoList index as i">
        <div class="header-pregunta">
          <ion-label>
            <p>{{i+1}}. {{reactivo.pregunta}}</p>
          </ion-label>
        </div>
        <div class="content-respuestas">
          <div class="imagen" *ngIf="preguntaTieneImagen(reactivo.imagenBase64)">
            <ion-button
             class="verFoto"
             (click)="VerImagen(reactivo.imagenBase64)"
            >
              <ion-icon slot="icon-only" name="external-link"></ion-icon>
            </ion-button>
            <ion-img
             *ngIf="preguntaTieneImagen(reactivo.imagenBase64)" 
             [src]="reactivo.imagenBase64"
             alt="imagen de pregunta">
            </ion-img>
          </div>
          <ion-label class="opciones">
            <p 
              *ngFor="let respuesta of reactivo.respuestas"
              [ngClass]="{'seleccionada': esRespuestaAlumno(respuesta, reactivo.respuestaAlumno)}"
            >
              {{respuesta.clave}}) 
              {{respuesta.respuesta1}}
            </p>

            <p 
              style="color: var(--error-200); padding-top: 32px;"
              *ngIf="reactivo.respuestaAlumno === ''">
              No respondió
            </p>
          </ion-label>

          <div *ngIf="reactivo.necesitaRevision || reactivo.preguntaAbierta">
            <textarea
                class="texto-mensaje"
                name="mensaje"
                type="text"
                autocomplete="off"
                rows="3"
                [(ngModel)]="reactivo.respuestaAlumno"
                disabled="true"
                >
              </textarea>
          </div>

        </div> 
      </div>
    </div>
  </div>
</ion-content>

