<ion-content>
  <ion-row class="video-container">
    <ion-row id="remote">
      <video id="remoteVideo" autoplay playsinline controls [srcObject]="remoteStream"></video>
      
    </ion-row>
    <ion-row id="local">
      <video id="webcamVideo" autoplay playsinline [muted]="true" controls [srcObject]="localStream"></video>
    </ion-row>
  </ion-row>

  <ion-row id="botones">
    <div class="controls-bar">
      <button *ngFor="let control of controls; let i = index"
              [class.inactive]="!control.isActive"
              [class.call-button]="control.icon === 'call-outline'"
              class="control-button"
              (click)="toggleControl(i)">
        <ion-icon [name]="getIconImg(control)"></ion-icon>
      </button>
    </div>
  </ion-row>
</ion-content>