<div class="contenedor-principal">
  <div class="cards-container">
    <div class="card">
      <div class="subseccion">Histograma</div>
      <div class="contenido-card">
        <div class="row">
          <div class="col-md-4 no-padding">
            <div class="contenedor-selector-variable">
              <!-- Select Variable -->
              <div class="row">
                <div class="col-md-12 no-padding select">
                  <ng-select
                    #variable="ngModel"
                    name="variableName"
                    class="select-custom"
                    [items]="variableList"
                    bindLabel="variable"
                    bindValue="idSeccionCampo"
                    (ngModelChange)="onChangeVariable($event)"
                    [(ngModel)]="idSeccionCampo"
                    [placeholder]="placeHolderSelect"
                    [notFoundText]="placeHolderNoOptions"
                  ></ng-select>
                </div>
              </div>

              <!-- Chip Opciones Filtrado -->
              <div class="row">
                <div class="col-md-12 no-padding">
                  <div class="lista-filtros">
                    <mat-chip-listbox
                    aria-label="Filtro Tiempo"
                    (ngModelChange)="onFiltroChange($event)"
                    [(ngModel)]="filtroTiempo">
                    <mat-chip-option *ngFor="let opcion of valoresfiltroTiempo" [value]="opcion.value">{{opcion.label}}</mat-chip-option>
                  </mat-chip-listbox>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-8 no-padding">
            <div class="contenedor-histograma">
              <!-- Gráfica / Histograma -->
              <canvas
                baseChart
                [data]="barChartData"
                [labels]="barChartLabels"
                [type]="barChartType"
                [options]="barChartOptions"
              >
              </canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="subseccion">Bitácora de datos clínicos</div>
      <div class="contenido-card">
        <app-grid-general
          [headerName]="tituloBitacoraMuestras"
          [data]="bitacoraMuestras"
          [children]="columns"
          (event)="onGridClick($event)"
        >
        </app-grid-general>
      </div>
    </div>
  </div>
</div>