<ion-header class="ion-no-border">
    <div class="contenedor-header">
        <ion-toolbar class="header">
            <ion-buttons slot="start">
                <ion-button fill="clear" (click)="regresarBtn()">
                    <ion-icon class="icono" slot="icon-only" name="chevron-left"></ion-icon>
                </ion-button>
            </ion-buttons>
            <ion-title *ngIf="mostrarTitulo">{{titulo}}</ion-title>
        </ion-toolbar>
    </div>
</ion-header>
<ion-content *ngIf="!isIOSNative">
    <div class="contenedor-principal">
        <div class="contenedor-imagen" *ngIf="tipoMime !== 'application'">
            <ion-img class="imagen" [src]="archivoBase64" *ngIf="tipoMime === 'image' || tipoMime === 'gif'"></ion-img>
        </div>
        <div class="contenedor-pdf" *ngIf="tipoMime === 'application'">
            <app-pdf-visor [Base64Src]="archivoBase64" *ngIf="archivoBase64"></app-pdf-visor>
        </div>
    </div>
</ion-content>
<ion-footer class="ion-no-border" *ngIf="!isIOSNative">
    <div class="contenedor-footer">
        <ion-toolbar class="footer">
            <ion-buttons slot="start">
                <ion-button fill="clear" (click)="descargarArchivo()" >
                    <ion-icon class="icono" slot="icon-only" name="download"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-toolbar>
    </div>
</ion-footer>

