<ion-header class="ion-no-border">
  <div class="contenedor-header-light">
    <ion-toolbar>
      <ion-buttons class="start" slot="start">
        <ion-button routerLink="inicio-perfil">
          <ion-icon slot="start" name="chevron-left"></ion-icon>
          <ion-label>Atrás</ion-label>
        </ion-button>
      </ion-buttons>
      <ion-buttons class="end" slot="end">
        <ion-button class="icon-only" (click)="AgregarAntecedente()">
          <ion-icon name="plus"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </div>
</ion-header>
<ion-content class="primary">
  <div class="contenedor-principal">
    <div class="titulo">
      <ion-text>
        <h3>Antecedentes</h3>
      </ion-text>
    </div>
    <div class="lista-antecedentes">
      <div class="lista-vacia" *ngIf="listaAntecedentesVacia()">
        <ion-text>
          <p>Nada por aquí. <br> Aún no hay antecedentes registrados.</p>
        </ion-text>
        <ion-button fill="outline" (click)="AgregarAntecedente()">
          <ion-icon slot="start" name="plus"></ion-icon>
          Añadir antecedente
        </ion-button>
      </div>

      <ion-list class="custom-general-item-list" *ngIf="!listaAntecedentesVacia()">
        <ion-item *ngFor="let antecedente of misAntecedentes" lines="none">
          <ion-label>
            <h3>{{antecedente.nombrePadecimiento}}</h3>
            <p>{{antecedente.fechaDiagnostico | date : "dd/MM/yyyy"}}</p>
            <p>{{ antecedente.tituloDoctor}} {{antecedente.nombreDoctor}} {{antecedente.apellidosDoctor}}</p>
          </ion-label>
          <ion-button
            [disabled]="eliminandoAntecedente"
            class="custom-icon-only clear-error slot-end" 
            slot="end" 
            (click)="presentarAlertaEliminarAntecedente(antecedente)">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>