.contenedor-principal {
  background: var(--primary-50);
  height: 80vh;

  .titulo {
    height: 8vh;
    padding: 16px 32px 0 32px;

    ion-text {
      text-align: start;
      h3 {
        margin: 0;
        color: var(--primary-700);
        font-family: var(--font-display);
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
      }
    }
  }

  .lista-antecedentes {
    height: 72vh;
  }
}
