//Para el icono rojo que está encima de la campanita de notificaciones
.popover-button-with-badge {
    position: relative;
    align-items: center;
}

.badge-on-icon {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    font-size: 0.6em;
    width: 1.5em;
    height: 1.5em;
    padding: 0.1em;
}