
<div class="header-button">
    <div>
      <ion-button (click)="_openPopover($event)">
        <ion-icon name="notifications-outline"></ion-icon>
        <!-- <ion-img src="../../../../../../../assets/icon/notifications-outline.svg" style="height: 20px;"></ion-img> -->
        <ion-badge
          *ngIf="(notificaciones$ | async)?.length !== 0"
          color="danger"
          class="badge-on-icon">
          {{ (notificaciones$ | async)?.length || 0 }}
        </ion-badge>
      </ion-button>
    </div>
</div>




