<div class="contenedor-principal">
  <div class="titulo">
    <ion-text>
      <h1>Añadir datos clinicos</h1>
      <p>{{fechaSeleccionada | date: "MMMM d, y 'a las' h:mm a" : '' : 'es-MX'}}</p>
    </ion-text>
  </div>
  <div class="formulario">
    <form 
      (keydown.enter)="$event.preventDefault()"
      #formulario="ngForm"
      (ngSubmit)="enviarFormulario(formulario)"
      novalidate="novalidate"
      >
      <div class="contenido-formulario">
        <ion-list class="inputs">
          <div class="input">
            <ion-text><p>Padecimiento</p></ion-text>
            <ion-item lines="none" class="select-input">
              <ion-select 
                id="padecimiento"
                name="padecimientoName"
                interface="popover"
                [interfaceOptions]="{cssClass: 'custom-select-popover'}"
                toggleIcon="chevron-up"
                placeholder="Seleccionar" 
                [(ngModel)]="padecimientoSeleccionado"
                (ionChange)="onChangePadecimiento()"
                required
                >
                <ion-select-option 
                  *ngFor="let padecimiento of arbolPadecimiento" 
                  [value]="padecimiento">
                  {{ padecimiento?.nombrePadecimiento }}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </div>
          <div class="input">
            <ion-text><p>Seccion</p></ion-text>
            <ion-item lines="none" class="select-input">
              <ion-select 
                id="seccion"
                name="seccionName"
                interface="popover"
                [interfaceOptions]="{cssClass: 'custom-select-popover'}"
                toggleIcon="chevron-up"
                placeholder="Seleccionar"
                [(ngModel)]="seccionSeleccionada"
                (ionChange)="onChangeSeccion()"
                [disabled]="padecimientoSeleccionado == null"
                required
                >
                <ion-select-option 
                  *ngFor="let seccion of padecimientoSeleccionado?.seccionMuestraDTOs" 
                  [value]="seccion">
                  {{ seccion?.nombreSeccionCampo }}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </div>
          <div class="inputs-variables">
            <div class="input" *ngFor="let variable of seccionSeleccionada?.seccionesCampo; let i = index">
              <ion-text><p>{{variable.descripcion}}</p></ion-text>
              <ion-item lines="none" class="text-input">
                <ion-input
                  [(ngModel)]="variable.valor"
                  [name]="'variableName' + i"
                  type="text"
                  inputmode="numeric"
                  [maxlength]="variable.idDominioNavigation.longitudMaxima"
                  [minlength]="variable.idDominioNavigation.longitudMinima"
                  required
                  autocomplete="off"
                >
                </ion-input>
                <ion-label slot="end" >{{variable?.idDominioNavigation?.unidadMedida}}</ion-label>
              </ion-item>
            </div>
          </div>
        </ion-list>
      </div>
      <div class="botones">
        <ion-button type="submit" class="guardar" [disabled]="submitting || !formulario.valid || !seccionYaSeleccionada || !valoresInputValidos()">Guardar</ion-button>
      </div>
    </form>
  </div>
</div>