
<div class="row">
  <div class="col-md-12" style="text-align: center;">
    <label class="label-input required-label" style="text-align: center;">Fecha & Hora</label>
    <ion-datetime-button datetime="datetime">
    </ion-datetime-button>
  
    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime
          id="datetime"
          [max]="dateToday"
          [(ngModel)]="fechaSeleccionada"
          [dayValues]="[day]"
        >
        </ion-datetime>
      </ng-template>
    </ion-modal>
  </div>
</div>
<ion-accordion-group>
  <div *ngFor="let padecimiento of arbolPadecimiento; let i = index">
    <ion-accordion value="{{ padecimiento.idPadecimiento }}">
      <ion-item slot="header" color = "dark">
        <ion-label class="subtitulo-muestra">{{ padecimiento.nombrePadecimiento }}</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-accordion-group>
          <div *ngFor="let seccion of padecimiento.seccionMuestraDTOs; let j = index">
            <ion-accordion>
              <ion-item slot="header" color = "dark">
                <ion-label class="subtitulo-muestra">{{ seccion.nombreSeccionCampo }}</ion-label>
              </ion-item>

              <div class="ion-padding" slot="content">
                <form (keydown.enter)="$event.preventDefault()">
                  <div class="form-group" *ngFor="let seccionCampo of seccion.seccionesCampo; let k = index">
                    <app-campo-expediente
                      #campoModel="ngModel"
                      [(ngModel)]="seccionCampo.valor"
                      [name]="'campos' + k"
                      [campo]="seccionCampo"
                      [par]="k % 2 === 0"
                    >
                    </app-campo-expediente>
                  </div>
                </form>
                <ion-button class="btn-primario" (click)="enviarFormulario(seccion, fechaSeleccionada)">
                  Guardar
                </ion-button>
              </div>
            </ion-accordion>
          </div>
        </ion-accordion-group>
      </div>
    </ion-accordion>
  </div>
</ion-accordion-group>
