<div class="contenedor-principal">
  <div class="titulo">
    <ion-text>
      <h1>Añadir datos clínicos</h1>
      <p>{{fechaSeleccionada | date: "MMMM d, y 'a las' h:mm a" : '' : 'es-MX'}}</p>
    </ion-text>
  </div>
  <div class="formulario">
    <form 
      (keydown.enter)="$event.preventDefault()"
      #formulario="ngForm"
      (ngSubmit)="enviarFormulario(formulario)"
      novalidate="novalidate"
      >
      <div class="contenido-formulario">
        <ion-grid class="inputs ion-no-padding">
          <ion-row>
            <ion-col size="12">
              <div class="input">
                <ion-label>Padecimiento</ion-label>
                <ion-item lines="none" class="select-input">
                  <ion-select 
                    id="padecimiento"
                    name="padecimientoName"
                    interface="popover"
                    [interfaceOptions]="{cssClass: 'custom-select-popover'}"
                    toggleIcon="chevron-up"
                    placeholder="Seleccionar" 
                    [(ngModel)]="padecimientoSeleccionado"
                    (ionChange)="onChangePadecimiento()"
                    required
                    >
                    <ion-select-option 
                      *ngFor="let padecimiento of arbolPadecimiento" 
                      [value]="padecimiento">
                      {{ padecimiento?.nombrePadecimiento }}
                    </ion-select-option>
                  </ion-select>
                </ion-item>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <div class="input">
                <ion-label>Parámetro</ion-label>
                <ion-item lines="none" class="select-input">
                  <ion-select 
                    id="seccion"
                    name="seccionName"
                    interface="popover"
                    [interfaceOptions]="{cssClass: 'custom-select-popover'}"
                    toggleIcon="chevron-up"
                    placeholder="Seleccionar"
                    [(ngModel)]="seccionSeleccionada"
                    (ionChange)="onChangeSeccion()"
                    [disabled]="padecimientoSeleccionado == null"
                    required
                    >
                    <ion-select-option 
                      *ngFor="let seccion of padecimientoSeleccionado?.seccionMuestraDTOs" 
                      [value]="seccion">
                      {{ seccion?.nombreSeccionCampo }}
                    </ion-select-option>
                  </ion-select>
                </ion-item>
              </div>
            </ion-col>
            <ion-col *ngIf="false" size="3" [hidden]="!variablesExistenEnHealthKit">
              <div class="boton-sicronizar-healthkit" *ngIf="variablesExistenEnHealthKit">
                <ion-button (click)="syncronizeData()" [disabled]="seccionSeleccionada?.seccionesCampo == null">
                  <ion-icon slot="icon-only" name="swap-vertical-outline"></ion-icon>
                </ion-button>
              </div>
            </ion-col>
          </ion-row>
          <ion-row *ngFor="let variable of seccionSeleccionada?.seccionesCampo; let i = index">
            <ion-col size="12">
              <div class="input">
                <ion-label>{{variable.descripcion}}</ion-label>
                <ion-item lines="none" class="general-input">
                  <ion-input
                    [(ngModel)]="variable.valor"
                    [name]="'variableName' + i"
                    inputmode="decimal"
                    required
                    type="number"
                    autocomplete="off"
                    [appMaxDigits]="9"
                  >
                  </ion-input>
                  <ion-label class="unidadMedida" slot="end" >{{variable?.idDominioNavigation?.unidadMedida}}</ion-label>
                </ion-item>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <div class="botones botones-column">
        <ion-button 
          type="submit" 
          class="dark" 
          [disabled]="submitting || !formulario.valid || !seccionYaSeleccionada || !valoresInputValidos()">
          Guardar
        </ion-button>
      </div>
    </form>
  </div>
</div>