
<ion-content>
  <ion-card>
    <ion-card-header class="header">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button routerLink="home">
            <ion-icon name="chevron-back" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-card-title> Visualizar en dashboard: </ion-card-title>
      </ion-toolbar>
    </ion-card-header>
    <ion-card-content>

      <div class="lista-widgets">
        <ion-list>
          <ion-item *ngFor="let widget of widgets">
            <ion-toggle 
              [(ngModel)]="widget.seleccionado" 
              [checked]="widget.seleccionado">
              {{widget.nombre}}
            </ion-toggle>
          </ion-item>
        </ion-list>
      </div>
  
      <ion-button class="btn-guardar" (click)="onAceptar()" disabled="{{submiting}}">Guardar</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>


