
ion-checkbox {
  --size: 32px;
  --checkbox-background-checked: #ffffff;
  --checkmark-color: #7d1e9d; 
}

ion-checkbox::part(container) {
  border-radius: 6px;
  border: 2px solid black;
}

.btn-aceptar{
  padding-top: 3em;
}

.contenido{
  margin-left: 2em;
}

.texto-header{
  color: #7d1e9d;
  font-weight: bold;
}