@import "../../../../theme/variables.scss";


.header{
  ion-toolbar{
    --background: var(--neutral-50);

   ion-card-title{
    --color: var(--neutral-600);
    font-weight: bold;
   }
   
   ion-icon{
    color: var(--neutral-600);
   }
  }
}

ion-card{
  --background: var(--neutral-50);


  .lista-widgets{
    ion-item{
      --background: var(--neutral-50);
      margin-bottom: .8em;
    }
  }

  ion-toggle{

    --track-background: #ddd;
    --track-background-checked: var(--primary-200);

    --handle-background-checked: var(--primary-600);
  }

  .btn-guardar{
    padding-top: 10vh;
    --background: var(--primary-700);
    --color: var(--neutral-50);
    --border-radius: 10px;
  }

}

