@import "../../../../../../theme/variables.scss";

ion-footer{
  --background: var(--neutral-50);
}

.contenedor-header{
  height: 15vh;
  background: var(--neutral-50);
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;

  ion-toolbar{
    background: var(--neutral-50);
    --border-width: 0 0 2px 0 !important;
    --border-color: var(--primary-50);

    ion-title{
      font-family: var(--font-body);
      font-size: 18px;
      color: var(--neutral-900);
    }
    ion-buttons{
      margin-left: 16px;
    }
  }
}

.contenedor-principal{
  background: var(--neutral-50);
  .lista-doctores{
    ion-list{
      background: var(--neutral-50);
      padding: 0;
      padding-top: 16px;
    }
    ion-item{
      --inner-padding-end: 32px;
      --padding-start: 32px;
      ion-label{
        h3{
          font-family: var(--font-body);
          font-size: 16px;
          color: var(--neutral-900);
        }
        p{
          font-family: var(--font-body);
          font-size: 16px;
          color: var(--neutral-400);
        }
      }
      ion-icon{
        font-size: 24px;
        color: var(--primary-700);
      }
    }
  }
}

.contenedor-footer{
  height: 25vh;
  width: 100%;

  .gradiente{
    width: 100%;
    height: 40%;
    background: linear-gradient(rgba(243, 244, 250, 0), rgba(243, 244, 250, 1));
  }
  .botones{
    height: 60%;
    width: 100%;
    background: rgba(243, 244, 250, 1);
  }
}
