<app-widget
  title="Peso"
  iconClass="scale-outline"
>
  <div class="container">
    <div class="circle-container">
      <span class="valor">{{pesoPerdido}} kg</span>
      <span>- {{pesoFaltante}} kg</span>
      <div>
        <span class="valor">{{ pesoActual }}</span><span class="label">kg</span>
        <div class="text-center">
        <span> {{dias}}</span><span class="label">d</span>
      </div>
    </div>
    </div>
    <img src="../../../../../../assets/img/widgets/standing.png" width="55" height="90">
  </div>
</app-widget>
