@import '../../styles/circle-container.scss';
img{
    position: relative; // Establecer la imagen como una posición absoluta para poder desplazarla dentro del contenedor.
    transform: translateX(140px);
    top: -110px;
    padding: 10px;
  }


  .circle-container{
    display:flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border: 4px;
    border-style: solid;
    border-radius: 50%;
    width: 170px;
    aspect-ratio: 1/1;
    overflow: hidden;
    transform: translateX(180px);
    border-color: var(--accent-color-green);
    top: 55px;
    padding: 10px;
  }

  .valor-pesoperdido{
    color: var(--accent-color-green);
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1;
  }

div[class*=col-],
div[class^=col] {
  padding: 50px;
}

ion-icon{
    color: var(--accent-color-green);
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1;
  }