.circle-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border: 0.8vw;
  border-style: solid;
  border-radius: 50%;
  width: 100px;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  border-color: var(--accent-color-green);
}
