<ion-header class="ion-no-border">
  <div [ngClass]="mostrarMsgFinal ? 'contenedor-header-dark': 'contenedor-header-light'">
    <ion-toolbar>
      <ion-buttons class="start" slot="start" *ngIf="!mostrarMsgFinal">
        <ion-button (click)="cerrar()">
          <ion-icon slot="start" name="chevron-left"></ion-icon>
          <ion-label *ngIf="!presentando">Atrás</ion-label>
          <ion-label *ngIf="presentando">Cerrar</ion-label>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </div>
</ion-header>

<ion-content class="primary">
  <div class="contenedor-principal">
    <div id="pagina-inicial" *ngIf="!presentando && !examenTerminado && !(cargando$ | async)">
      <div class="presentacion" >
        <div class="titulo">
          <ion-text>
            <h3>Bienvenido(a) al cuestionario en línea:</h3>
            <h1>{{examen.tipoExamen}}</h1>
          </ion-text>
        </div>
        <div class="datos">
          <ion-item lines="none">
            <div slot="start" class="contenedor-icono">
              <ion-icon name="calendar"></ion-icon>
            </div>
            <ion-label>
              <p>Fecha y hora de inicio</p>
              <h3>{{examen.fechaExamen | date: "MMMM d, y 'a las' h:mm a" : '' : 'es-MX'}}</h3>
            </ion-label>
          </ion-item>
          <ion-item lines="none">
            <div slot="start" class="contenedor-icono">
              <ion-icon name="clock"></ion-icon>
            </div>
            <ion-label>
              <p>Duración total</p>
              <h3>{{examen.duracion}} minutos</h3>
            </ion-label>
          </ion-item>
          <ion-item lines="none">
            <div slot="start" class="contenedor-icono">
              <ion-icon name="file-check"></ion-icon>
            </div>
            <ion-label>
              <p>Cantidad de reactivos</p>
              <h3>{{examen.totalPreguntas}} reactivos</h3>
            </ion-label>
          </ion-item>
        </div>
        <div class="instrucciones">
          <ion-text>
            <h3> Antes de iniciar:</h3>
            <p>&#8226; Antes de responder lea con atención los reactivos y seleccione la respuesta que crea adecuada.</p>
            <p>&#8226; Para pasar al siguiente reactivo, presione en el botón "Siguiente".</p>
            <p>&#8226; Si desea regresar al reactivo anterior, presione el botón "Anterior".</p>
            <p>&#8226; Si desea Terminar el examen antes de finalizarlo presione "Cerrar".</p>
          </ion-text>
        </div>
      </div>
      <div class="botones-inicio">
        <div class="botones botones-column">
          <ion-button class="dark" (click)="iniciarExamen()">Iniciar cuestionario</ion-button>
        </div>
      </div>
    </div>
    <div id="cuestionario" *ngIf="(presentando && !examenTerminado) && !mostrarMsgFinal && !(cargando$ | async)">
      <div class="progreso">
        <ion-label>
          <p>{{(indice+1)}} de {{examen.totalPreguntas}}</p>
          <h3>{{examen.tipoExamen}}</h3>
        </ion-label>
        <ion-progress-bar [value]="progreso"></ion-progress-bar>
      </div>
      <div class="contenido-pregunta">
        <div class="pregunta">
          <ion-text>
            <h3>{{reactivoList[indice].pregunta}}</h3>
          </ion-text>
          <div class="imagen" *ngIf="preguntaTieneImagen(reactivoList[indice].imagenBase64)">
            <ion-button
             class="verFoto"
             (click)="VerImagen(reactivoList[indice].imagenBase64)"
            >
              <ion-icon slot="icon-only" name="external-link"></ion-icon>
            </ion-button>
            <ion-img
             *ngIf="preguntaTieneImagen(reactivoList[indice].imagenBase64)" 
             [src]="reactivoList[indice].imagenBase64"
             alt="imagen de pregunta">
            </ion-img>
          </div>
        </div>
        <div class="opciones">
          <ion-list>
            <ion-item 
              lines="none" 
              button 
              *ngFor="let respuesta of reactivoList[indice].respuestasSeparadas index as i"
              (click)="seleccionarRespuesta(indice, i , respuesta)"
              [ngClass]="{'seleccionado': (reactivoList[indice].respuestaSeleccionadaIndex == i)}">
              <ion-label>
                {{respuesta.clave}})
                 {{respuesta.respuesta1}}
              </ion-label>
            </ion-item>
          </ion-list>
        </div>

        <div *ngIf="reactivoList[indice].necesitaRevision || reactivoList[indice].preguntaAbierta">
          <textarea
              placeholder="Añade un comentario..."
              class="texto-mensaje"
              #descripcion="ngModel"
              [(ngModel)]="reactivoList[indice].respuestaAlumno"
              name="mensaje"
              type="text"
              maxlength="500"
              autocomplete="off"
              rows="3"
              required
              >
            </textarea>
        </div>
      </div>
      <div class="botones-pregunta">
        <div class="botones" [ngClass]="indice === 0 ? 'botones-column' : 'botones-row'" *ngIf="true">
          <ion-button 
            (click)="anterior()"
            *ngIf="(indice > 0)" 
            class="transparent-light padding-derecho">
            Anterior
          </ion-button>
          <ion-button 
            (click)="siguiente()" 
            class="dark padding-izquierdo"
            [disabled]="!hayRespuestaSeleccionada(indice)">
            <ion-label *ngIf="indice + 1 !== reactivoList.length">Siguiente</ion-label>
            <ion-label *ngIf="indice + 1 === reactivoList.length">Finalizar</ion-label>
          </ion-button>
        </div>
      </div>
    </div>
    <div id="pagina-final" *ngIf="mostrarMsgFinal">
      <div class="mensaje-final">
        <ion-text>
          <h3>¡Has llegado al final del cuestionario!</h3>
          <p>Agradecemos tu tiempo y el valor de tus respuestas.</p>
        </ion-text>
      </div>
      <div class="botones-final">
        <div class="botones botones-row">
          <ion-button 
            (click)="anterior()"
            class="transparent-dark padding-derecho">
            Anterior
          </ion-button>
          <ion-button
            (click)="presentAlertTerminar()"
            class="light padding-izquierdo"
            [disabled]="submitting">
            Finalizar
          </ion-button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
