@import "../../../../../theme/variables.scss";


.texto-seccion{
    font-weight: bold;
    color: var(--primary-700);
}

.presentacion{
    h1{
        text-align: center;
        margin-bottom: 3vh;
    }
    margin: 1em;
    .presentacion-buttons{
        display: flex;
        justify-content: center;
        margin-top: 10vh;

        ion-button{
            width: 50%;
        }

        .iniciar{
            --background: var(--primary-400);
            --color: var(--neutral-50);
        }
    }
}

.contenido-cuestionario{
    margin: 1em;

    .contenido-buttons{
        display: flex;
        justify-content: space-between;
        ion-button{
            color: var(--ion-color-medium);
        }
    }

    .pregunta{
        ion-card{
            border-radius:20px !important;
        }
        ion-card-content{
            min-height: 60vh;
        }
        p{
            white-space: pre-wrap;
        }
    
        ion-textarea{
            --background: var(--ion-color-light);
            --padding-end: 10px;
            --padding-start: 10px;
          }
    }

    ion-radio {
      
        --color: var(--neutral-400);
        --color-checked: var(--primary-700);
      }

    .mensaje-final{
        h2{
            margin-top: 3vh;
        }

        ion-button{
            margin-top: 10vh;
        }

        .btn-finalizar{
            --border-radius: 10px;
            --color: var(--neutral-50);
            --background: var(--primary-700);
        }
    }
}

ion-header{
    ion-title{
      font-weight: bold;
    }
    .primary-toolbar{
      --background: url('../../../../../assets/header_light.svg');
      height: 20vh;
      color: var(--color-terceario);
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
}

ion-content{
    --background: #F3F4FA;
}

.morado{
    color: var(--color-terceario);
}

.circulo{
    background-color: #EAEBF5;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}



