

.contenedor-principal{
    min-height: 80vh;

    #pagina-inicial{
        min-height: 80vh;
        .presentacion{
            min-height: 70vh;
            padding-top: 16px;
            padding-left: 32px;
            padding-right: 32px;
            .titulo{
                ion-text{
                    h3{
                        font-family: var(--font-body);
                        font-size: 16px;
                        color: var(--neutral-900);
                        font-weight: bold;
                    }
                    h1{
                        font-family: var(--font-display);
                        font-size: 24px;
                        color: var(--primary-700);
                        font-weight: bold;
                    }
                }
            }
    
            .datos{
                border-width: 0 0 1px 0;
                border-style: solid;
                border-color: var(--neutral-200);
                padding-bottom: 32px;
    
                ion-item{
                    --background: transparent;
                    ion-label{
                        font-family: var(--font-body);
                        p{
                            font-size: 14px;
                            color: var(--neutral-400);
                            margin: 0;
                        }
                        h3{
                            font-size: 16px;
                            color: var(--primary-700);
                            font-weight: bold;
                            margin: 0;
                        }
                    }
                }
                ion-item::part(native){
                    padding-left: 0;
                }
                .contenedor-icono{
                    height: 32px;
                    width: 32px;
                    background: var(--primary-100);
                    color: var(--primary-700);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 12px !important;
                    border-radius: 100% !important;
                }
            }
    
            .instrucciones{
                margin-top: 24px;
                ion-text{
                    color: var(--neutral-900);
                    font-family: var(--font-body);
                    h3{
                        font-size: 16px !important;
                        font-weight: bold;
                        margin: 0;
                        margin-bottom: 16px;
                    }
                    p{
                        font-size: 16px !important;
                        margin: 0;
                        margin-bottom: 4px;
                    }
                }
            }
        }
    }

    #cuestionario{
        min-height: 80vh;
        .progreso{
            height: 10vh;
            padding-left: 32px;
            padding-right: 32px;
            ion-label{
                font-family: var(--font-display);
                p{
                    font-size: 14px;
                    color: var(--neutral-400);
                }
                h3{
                    font-size: 24px;
                    color: var(--primary-700);
                    font-weight: bold;
                }
            }
            ion-progress-bar{
                --background: var(--neutral-200);
                --progress-background: var(--primary-700);
            }
        }

        .contenido-pregunta{
            min-height: 60vh;
            padding-left: 32px;
            padding-right: 32px;
            .pregunta{
                ion-text{
                    text-align: start;
                    h3{
                        font-family: var(--font-body);
                        font-size: 20px;
                        color: var(--neutral-900);
                        margin-bottom: 16px;
                    }
                }
                .imagen{
                    padding: 16px 20px 16px 20px;
                    .verFoto{
                        margin: 0;
                        margin-left: 20px;
                        margin-top: 12px;
                        position: absolute;
                        color: var(--neutral-50);
                        --background: rgba(0, 0, 0, 0.05);
                        --box-shadow: 0 !important;
                        --border-radius: 8px;
                        width: 32px;
                        height: 32px;
                        ion-icon{
                            font-size: 24px;
                        }
                    }
                    .verFoto::part(native){
                        padding: 0 !important;
                    }

                    ion-img::part(image){
                        border-radius: 16px;
                        height: 170px !important;
                        width: 100% !important;
                        object-fit: cover;
                    }
                }
            }
            .opciones{
                ion-list{
                    padding: 0;
                    background: transparent;
                    ion-item{
                        --border-radius: 8px;
                        --background: var(--primary-50);
                        --border-width: 1px;
                        --border-color: var(--neutral-200);
                        --border-style: solid;
                        box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.08);
                        
                        ion-label{
                            font-size: 16px;
                            font-family: var(--font-body);
                            color: var(--neutral-900);
                        }
                        margin-bottom: 16px;
                    }
                    ion-item.seleccionado{
                        --background: var(--primary-100);
                        --border-color: var(--primary-700);
                        ion-label{
                            color: var(--primary-700);
                            font-weight: bold;
                        }
                    }
                    ion-item::part(native){
                        min-height: 56px;
                    }
                }
            }

            .texto-mensaje{
                border: 1px solid;
                border-color: var(--primary-100);
                border-radius: 5px;
                background-color: var(--primary-50);
                max-height: 100px !important;
                padding: 8px;
                width: 100%;
                scrollbar-width: none !important;
                -ms-overflow-style: none !important;
              }
        }
    }

    #pagina-final{
        min-height: 80vh;
        background: url(../../../../../assets/img/svg/done-illustration.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-color: var(--primary-800);

        .mensaje-final{
            height: 70vh;
            padding: 32px;

            text-align: center;
            ion-text{
                color: var(--neutral-50);
                h3{
                    font-size: 24px;
                    font-family: var(--font-display);
                }
                p{
                    font-size: 16px;
                    font-family: var(--font-body);
                }
            }
        }
    }

    .botones{
        height: 10vh !important;
    }
    
}
