.switch-flex {
    display: flex;
    flex-direction: column;
  }
  
  .textcolor {
    color: var(--primary-700);
  }
  
  .seleccionable{
    cursor: pointer;
    padding:3px;
  }
  
  .seleccionable:hover {
    background-color: var(--primary-100);
  }
  
  .par {
    background-color: var(--neutral-50);
  }
  
  .impar {
    background-color: var(--neutral-100);
  }
  
  .producto{
    height: 6vh;
  }
  
  pagination {
    display: flex;
    justify-content: center;
  }
  
  .my-pagination::ng-deep .page-item.active .page-link {
    z-index: 1;
    color: var(--neutral-50);
    background-color: var(--primary-600) !important;
    border: none !important;
  }
  
  .text-truncate-container{
    font-size: 0.8rem !important;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }