<ion-header class="ion-no-border">
  <div class="contenedor-header">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="cancelar()">
          <ion-icon slot="icon-only" name="chevron-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>{{ nombre }}</ion-title>
    </ion-toolbar>
  </div>
</ion-header>
<ion-content>
  <div class="contendor-principal">
    <div class="contenedor-pdf">
      <ngx-extended-pdf-viewer
      [base64Src]="archivo"
      [filenameForDownload]="archivoNombre"
      [useBrowserLocale]="true"
      [zoom]="'page-actual'"
      [height]="height"
      [textLayer]="true"
      [zoom]="'auto'"
    ></ngx-extended-pdf-viewer>
    </div>
  </div>
</ion-content>
<ion-footer>
  <div class="contenedor-footer">
    <ion-toolbar></ion-toolbar>
  </div>
</ion-footer>


