@import '../../../../../src/theme/variables.scss';
.filter-primario{
  filter: invert(17%) sepia(50%) saturate(2928%) hue-rotate(271deg) brightness(91%) contrast(98%);
}


.filter-gray{
  filter: invert(79%) sepia(13%) saturate(28%) hue-rotate(322deg) brightness(82%) contrast(88%);
}

.filter-text{
  display: flex;
  justify-content: end;
  margin-right: 15vh;
  color: gray;
  font-style: italic;
}

.text-filtro{
  display: flex;
  justify-content: end;
  margin-right: 15vh;
  color: gray;
  font-size: .5rem;
}

.mat-sidenav {
  min-width: 220px;
  max-width: 22vw;
  width:100%;
  border-left: 0.5px solid rgba(247, 246, 246, 0.747);
}

.mat-sidenav-content {
  padding: 20px;
  display: flex;
}

.text-container {
  width: 100%;
  margin-left: 10px;
}


.img-container {
  aspect-ratio: 1/1;
  width: 100%;
  height: 100%;
  display: flex;
}

.img-container img {
  width: 60%;
  height: 60%;
  object-fit: cover;
  border-radius: 50%;
}


.btn-terceario{

  margin-left: 1vw;
}

mat-sidenav-container{
  background-color: #F3F4FA;
  max-height: 100vh;

  mat-sidenav{

    .container-fluid
     {
      padding: 0px 10px;

      .header-paciente{
        display: flex;
        justify-content: end;
        align-self: center;
        height: 9vh;
        border-bottom: 1px solid var(--neutral-200);

        lucide-icon{
          border: 1px solid  #DCDCE4;
          padding: 10px;
          border-radius: 4px;
        }
      }

      .info-paciente{
        display: flex;
        padding: 48px 19px 33px 25px;
        
        .img-contenedor{
          width: 72px;
          height: 72px;
          margin-right: 19px;
          
          img{
            border-radius: 24px;
            aspect-ratio: 1/1;
            height: 100%;
            object-fit: cover;
          }
        }

        .nombre-container{
          display: flex;
          flex-direction: column;
          
          .nombre{
            line-height: 20px;
            font-size: 20px;
            font-weight: 500;
            font-family: var(--font-body  );
            color: var(--primary-700);
            margin-bottom: 8px;
          }

          .edad{
            font-weight: 400;
          }
        }
      }

      .padecimientos{
        padding: 0px 19px 0px 25px;
        margin-bottom: 40px;
        max-height: 22vh;
        overflow-y: auto;
        h2{
          color: var(--primary-700);
          font-family: var(--font-body);
          font-size: 20px;
          font-weight: 500;
          margin: 0px;
        }
        
        .padecimiento{
          margin: 18px 0px;
          padding-left: 0px;
          display: flex;

          .info-padecimiento{
            display: flex;
            flex-direction: column;
            margin: 0;
            h3{
              font-family: var(--font-body);
              font-size: 18px;
              font-weight: 500;
              color: var(--neutral-900);
              margin-bottom: 3px;
            }

            p{
              margin: 0;
              font-family: var(--font-body);
              font-size: 16px;
              font-weight: 400;
              color: var(--neutral-500);
            }
          }
        }
          
          
        

      }

      .valoresFueraRango{
        font-family: var(--font-body);
        h2{
          color: var(--primary-700);
          font-family: var(--font-body);
          font-size: 20px;
          font-weight: 500;
          margin-bottom: 18px;
          padding-left: 25px;
        }

        .buttons{
          display: flex;
          justify-content: space-between;
          padding:0px 25px;
          margin-bottom: 18px;
        }

        .valores{
          
          max-height: 40vh;
          overflow-y: auto;
          .valor{
            border-bottom: 1px solid var(--neutral-200);
            padding: 18px 0px;

            .valor-info{
              
              display: flex;
              flex-direction: column;
              gap: 4px;
              padding-left: 25px;
              
              h3{
                margin: 0;
                color: var(--neutral-900);
              }

              p{
                margin: 0;
                color: var(--neutral-500);
              }

            }
          }
      
        }
  
      }
      }

     
  }


  mat-sidenav-content{
    .contenedor {
      transition: margin-right 0.6s ease-out;
       margin-right: 0;

       
     }
     
  }
}

.saludo{
  font-family: var(--font-display);
  font-family: 32px;
}

.row{
  padding-right: 0px;
  padding-left: 0px !important;
  margin-left: 0px !important;
  margin-right: 0px;
  width: 100%;
}

.purple-dot-container{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 2%;
  margin-right: 10px;
  .purple-dot {
      width: 10px;
      height: 10px;
      background-color: var(--primary-700);
      border-radius: 50%;
      top: 0;
      right: 0;
  }
}

.primary{
  border-radius: 8px;
  background: var(--primary-700);
  color: var(--neutral-50);
}
.secondary{
  background-color: transparent;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  font-size: 14px;
  font-family: var(--font-body);
  font-weight: 600;
  color: var(--primary-700);
  border: 1px solid var(--primary-700);
}