<mat-sidenav-container style="background-color: white;">
  <mat-sidenav #sidenav mode="side" [opened]="mostrarSidebar" position="end" [fixedInViewport]="true">
    <div class="container-fluid">
      <div class="d-flex justify-content-end">
        <div class="button">

          <button
            type="button"
            aria-label="Close"
            (click)="toggleSidebar()"
          >
            <i class="far fa-times-circle"></i>
          </button>
        </div>
      </div>
      <div *ngIf="paciente">
        <div class="bg-white d-flex align-items-center gap-2">
          <div class="img-container">
            <img
              [src]="
                paciente.imagenBase64 != undefined || null
                  ? (paciente.imagenBase64 | urlImagen : paciente.tipoMime)
                  : 'assets/img/default-user.jpg'
              "
              class="rounded"
            />
          </div>
          <div class="bg-white">
            <div style="font-weight: 400; font-size: medium;">
              Paciente
            </div>
            <div
              style="
                font-weight: 300;
                font-size: larger;">
              {{ paciente.nombreCompleto }}
            </div>
          </div>
        </div>

        <div class="text-container">
          <div class="datos">
            <div class="font-weight-small mt-3"  style="font-size: 0.9em" *ngIf="paciente.genero">
             {{paciente.genero}} 
            </div>
            <div class="font-weight-bold mt-2" style="font-size: .9rem">
              {{ paciente.edad + " años" }}
            </div>
            <div class="font-weight-light mt-2" style="font-size: 0.6rem">
              <span *ngIf="paciente.colonia">{{ paciente.colonia }}, </span>
            </div>
            <div class="font-weight-light mt-2" style="font-size: 0.6rem">
              <span *ngIf="paciente.ciudad">{{ paciente.ciudad }}, </span>
              <span *ngIf="paciente.estado">{{ paciente.estado }}</span>
            </div>
          </div>
        </div>
        <div
          class="padecimientos mt-3 bg-white"
          *ngIf="paciente.padecimientos && paciente.padecimientos.length > 0"
        >
          <div class="p-3">
            <label
              class="font-weight-normal"
              style="
                font-weight: 400;
                font-size: .9rem;
                color: gray;
              "
            >
              Padecimientos
            </label>
            <ul>
              <li *ngFor="let padecimiento of paciente.padecimientos">
                <div>
                  <label
                  class="font-weight-normal"
                  style="
                    font-weight: 300;
                    font-size: .7rem;
                    color: gray;
                  "
                    >{{ padecimiento.nombre }} -- Desde
                    {{ padecimiento.fechaDiagnostico | date : "yyyy" }}</label
                  >
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

          <div class="p-3">
            <label 
              class="font-weight-normal"
              style="
              font-weight: 400;
              font-size: .9rem;
              color: gray;
            ">Valores Fuera de Rango</label>
            
            <app-grid-general
              [headerName]="HEADER_GRID"
              [data]="valoresFueraRango"
              [children]="columnsVariableFueraRango"
              [disableDelete]="true"
              [disableEdit]="true"
              [disableXLS]="true"
              
            >
            </app-grid-general>
          </div>
  </mat-sidenav>
  
  <mat-sidenav-content>
    <div class="contenedor" style="width: 100%">
      <div class="titulo-contenedor-paciente">
         Pacientes
         <h3 class="filter-text">Filtros de Búsqueda de pacientes</h3>
         <div class="d-flex justify-content-end">
            <div class="d-flex">
              <input
                type="text"
                class="form-control"
                style="width: 450px"
                placeholder="Buscar..."
                aria-label="Buscar"
              />
              <button class="btn-buscar" type="button">
                <img class="filter-primario" src="assets/img/svg/ico-18x18-buscar.svg"/>
              </button>
              <div class="d-flex align-items-center" style="color: gray">
                <button class="btn" type="button" style="color: gray">
                  <img
                    class="filter-gray"
                    src="assets/img/svg/ico-18x18-Filtros.svg"
                  />
                  Filtros
                </button>
              </div>
            </div>
          </div>
      </div>

      <div class="row">
        <hr class="col-md-12"/>
      </div>

      <div
        class="d-flex align-items-center justify-content-between"
        style="margin-left: 10px"
      >
        <div class="contenedor-agregar justify-content-start" >
          <button class="btn-agregar" (click)="agregar()">Agregar Paciente</button>
          <button class="btn-terceario" (click)="agregarAsistente()" *ngIf="esAsistente !== null">{{ esAsistente  ? 'Mis doctores' : 'Agregar asistentes'}}</button>
        </div>
        <div class="justify-content-end">
          <div style="text-align: right">
            <button type="button" class="btn" (click)="isVistaCuadricula = true">
              <img
                src="assets/img/svg/ico-18x18-Grid-Bloques.svg"
                [ngClass]="isVistaCuadricula ? 'filter-primario' : null"
              />
            </button>
            <button
              type="button"
              class="btn"
              (click)="isVistaCuadricula = false"
              title="Vista de Lista"
            >
              <img
                src="assets/img/svg/ico-18x18-Grid-Lista.svg"
                [ngClass]="!isVistaCuadricula ? 'filter-primario' : null"
              />
            </button>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <ng-container *ngIf="isVistaCuadricula; else vistaLista">
            <app-paciente-vista-cuadricula
              [pacientes]="pacientes"
              (event)="onGridClick($event)"
            >
            </app-paciente-vista-cuadricula>
          </ng-container>
          <ng-template #vistaLista>
            <app-grid-general
              [headerName]="HEADER_GRID"
              [data]="pacientes"
              [children]="columns"
              (event)="onGridClick($event)"
            >
            </app-grid-general>
          </ng-template>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
