<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" [opened]="mostrarSidebar" position="end" [fixedInViewport]="true">
    <div class="container-fluid">
      <div class="d-flex justify-content-end">
        <div class="button">

          <button
            type="button"
            aria-label="Close"
            (click)="toggleSidebar()"
          >
            <i class="far fa-times-circle"></i>
          </button>
        </div>
      </div>
      <div *ngIf="paciente">
          <div class="img-contenedor">
            <img [src]="paciente.imagenBase64 != undefined || null
                              ? (paciente.imagenBase64)
                              : 'assets/img/default-user.jpg'
                          " />
          </div>
          <div class="bg-white">
            <h1 class="titulo">
              Pacientes
            </h1>
            <div
              style="
                font-weight: 300;
                font-size: larger;">
              {{ paciente.nombreCompleto }}
            </div>
          </div>
        </div>

        <div class="text-container">
          <div class="datos">
            <div class="font-weight-small mt-3"  style="font-size: 0.9em" *ngIf="paciente.genero">
             {{paciente.genero}} 
            </div>
            <div class="font-weight-bold mt-2" style="font-size: .9rem">
              {{ paciente.edad + " años" }}
            </div>
            <div class="font-weight-light mt-2" style="font-size: 0.6rem">
              <span *ngIf="paciente.colonia">{{ paciente.colonia }}, </span>
            </div>
            <div class="font-weight-light mt-2" style="font-size: 0.6rem">
              <span *ngIf="paciente.ciudad">{{ paciente.ciudad }}, </span>
              <span *ngIf="paciente.estado">{{ paciente.estado }}</span>
            </div>
          </div>
        </div>
        <div
          class="padecimientos mt-3 bg-white"
          *ngIf="paciente.padecimientos && paciente.padecimientos.length > 0"
        >
          <div class="p-3">
            <label
              class="font-weight-normal"
              style="
                font-weight: 400;
                font-size: .9rem;
                color: gray;
              "
            >
              Padecimientos
            </label>
            <ul>
              <li *ngFor="let padecimiento of paciente.padecimientos">
                <div>
                  <label
                  class="font-weight-normal"
                  style="
                    font-weight: 300;
                    font-size: .7rem;
                    color: gray;
                  "
                    >{{ padecimiento.nombre }} -- Desde
                    {{ padecimiento.fechaDiagnostico | date : "yyyy" }}</label
                  >
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

          <div class="p-3">
            <label 
              class="font-weight-normal"
              style="
              font-weight: 400;
              font-size: .9rem;
              color: gray;
            ">Valores Fuera de Rango</label>
            
            <app-grid-general
              [headerName]="HEADER_GRID"
              [data]="valoresFueraRango"
              [children]="columnsVariableFueraRango"
              [disableDelete]="true"
              [disableEdit]="true"
              [disableXLS]="true"
              
            >
            </app-grid-general>
          </div>
  </mat-sidenav>
  
  <mat-sidenav-content>
    <div class="contenedor" style="width: 100%">
    
      <div class="titulo-contenedor-paciente">
        <h1 class="saludo">
          Pacientes
        </h1>

        <div class="botones">
          <div id="buscar">
                <input type="text" class="form-control" style="width: 100%" placeholder="Buscar" aria-label="Buscar"
                  (change)="filtrarPacientes($event)" [disabled]="!isVistaCuadricula" />
          </div>


          <div id="filtros">
            <button>
              <lucide-icon name="filter"></lucide-icon>
              Filtros
            </button>
          </div>

          <div id="agregar" class="dropdown">
              <button  class="add-button">
                <lucide-icon name="plus"></lucide-icon>
                <span>
                  Agregar...
                </span>
                <img src="../../../../assets/img/svg/bar-vertical.svg">
                <lucide-icon name="chevron-down"></lucide-icon>
              </button>
              <div class="dropdown-content">
                <a (click)="agregar()">Paciente</a>
                <img src="../../../../assets/img/svg/bar-horizontal.svg">
                <a (click)="agregarAsistente()">Asistente</a>
              </div>
              <!-- <button class="btn-terceario" (click)="agregarAsistente()" *ngIf="esAsistente !== null">{{ esAsistente  ? 'Mis doctores' : 'Agregar asistentes'}}</button> -->
          </div>
        </div>
       
    
      </div>


      <div>
        <div class="col-12">
          <ng-container *ngIf="isVistaCuadricula">
            <app-paciente-vista-cuadricula
              [pacientes]="pacientesFiltrados"
              (event)="onGridClick($event)"
            >
            </app-paciente-vista-cuadricula>
          </ng-container>
        
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
