.filter-primario{
  filter: invert(17%) sepia(50%) saturate(2928%) hue-rotate(271deg) brightness(91%) contrast(98%);
}

.btn-buscar{
  color:purple;
  border-radius: 5px;
  border: 1px #d9d9d9 solid !important;
  width: 50px;
  margin-left: 10px;
}

.filter-gray{
  filter: invert(79%) sepia(13%) saturate(28%) hue-rotate(322deg) brightness(82%) contrast(88%);
}

.filter-text{
  display: flex;
  justify-content: end;
  margin-right: 15vh;
  color: gray;
  font-style: italic;
}

.recuadro {
  position: fixed;
  top: 0;
  right: -30%;
  bottom: 0;
  width: 30%;
  background-color: #f1f1f1;
  border-left: 3px solid rgba(134, 132, 132, 0.747);
  transition: right 0.3s ease-out;
}

.recuadro.activo {
  right: 0;
}

.text-container {
  width: 100%;
  margin-left: 10px;
}



.contenedor {
  transition: margin-right 0.3s ease-out;
  margin-right: 0;
}
