.filter-primario{
  filter: invert(17%) sepia(50%) saturate(2928%) hue-rotate(271deg) brightness(91%) contrast(98%);
}

.btn-buscar{
  color:purple;
  border-radius: 5px;
  border: 1px #d9d9d9 solid !important;
  width: 50px;
  margin-left: 10px;
}

.filter-gray{
  filter: invert(79%) sepia(13%) saturate(28%) hue-rotate(322deg) brightness(82%) contrast(88%);
}

.filter-text{
  display: flex;
  justify-content: end;
  margin-right: 15vh;
  color: gray;
  font-style: italic;
}
.mat-sidenav {
  min-width: 220px;
  max-width: 300px;
  width:100%;
  background-color: #EFEDE4;
  border-left: 2px solid rgba(134, 132, 132, 0.747);
}



.mat-sidenav-content {
  padding: 20px;
  display: flex;
}

.text-container {
  width: 100%;
  margin-left: 10px;
}


.contenedor {
 transition: margin-right 0.6s ease-out;
  margin-right: 0;
}


.img-container {
position:relative;
  width: 100%;
}

.img-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}