<div class="modal-content">
  <div class="modal-header">
    <div>Pacientes</div>
    
  </div>

  <div class="container-fluid">

    <div style="text-align: right">
      <!-- Botón Vista Cuadrícula  -->
      <button
        type="button"
        class="btn"
        [ngClass]="isVistaCuadricula ? 'icono-primario-activo' : 'icono-primario'"
        (click)="isVistaCuadricula = true"
      >
      <i class="fa-solid fa-border-all fa-lg"></i>
      </button>
      
      <!-- Botón Vista de Lista -->
      <button
        type="button"
        class="btn"
        [ngClass]="isVistaCuadricula ? 'icono-primario' : 'icono-primario-activo'"
        (click)="isVistaCuadricula = false"
        title="Vista de Lista"
      >
      
      <i class="fa-solid fa-list"></i>
      </button>
      
      <!-- Botón Descargar Excel -->
      <button
        type="button"
        class="btn"
        (click)="descargarExcel()"
      >
      <img
        class="grid-download"
        src="assets/img/svg/ico-15x15-Descargar.svg"
        title="Descargar Excel"
      />
      </button>
    </div>
    <div class="row">
      <div class="col-12">
        <ng-container *ngIf="isVistaCuadricula; else vistaLista">
          <app-paciente-vista-cuadricula
            [pacientes]="pacientes"
            (ver)="ver($event)"
            (editar)="editar()"
            >
          </app-paciente-vista-cuadricula>
        </ng-container>
        <ng-template #vistaLista>
          <app-grid-general
            #gridPacientes
            [headerName]="HEADER_GRID"
            [data]="pacientes"
            [children]="columns"
            (event)="onGridClick($event)"
          >

          </app-grid-general>
        </ng-template>
        

      </div>
    </div>
  </div>

  <div class="modal-footer">
  </div>

</div>
