<div class="contenedor">
  <div class="titulo-contenedor">{{ NOMBRE_ENTIDAD }}</div>
  <div class="cuerpo-contenedor">
    <div class="row">
      <div class="col-12">
        <div
          class="contenedor-agregar"
          (click)="agregar()"
          *ngIf="tieneAccesoAgregar"
        >
          <button class="btn-agregar">Agregar asignatura</button>
        </div>
        <app-grid-general
          #gridNecesidad
          [headerName]="NOMBRE_ENTIDAD"
          [data]="asignaturas"
          [children]="columns"
          (event)="onGridClick($event)"
          [accesoEditar]="EDITAR_ASIGNATURA"
          [accesoEliminar]="ELIMINAR_ASIGNATURA"
        >
        </app-grid-general>
      </div>
    </div>
  </div>
</div>
