<div class="contenedor">
  <div class="titulo-contenedor">
    {{ titulo }}
  </div>

  <div class="cuerpo-contenedor">
    <div class="row">
      <div
      class="contenedor-agregar col-12"
    
      *ngIf="tieneAccesoAgregar$ | async"
    >
      <button class="btn-agregar col"   (click)="onAgregarClick()">Agregar {{ tituloBoton }} </button>
   
        <button *ngIf="tieneAccesoDescargarPlantilla" class="btn-agregar secundario col m-3" (click)="onSincronizarClick()">Sincronizar </button>
        <button *ngIf="tieneAccesoDescargarPlantilla" class="btn-agregar secundario col" (click)="onSubirPlantillaClick()">Subir archivo excel</button>
        <button  *ngIf="tieneAccesoDescargarPlantilla" class="btn-agregar secundario col m-3" (click)="onDescargarPlantillaClick()">Descargar excel </button>
      
    </div>
    </div>
    <div class="row">
      <div class="col-12">
        <app-grid-general
          #grid
          [headerName]="crudConfig.nombreEntidad"
          [data]="elementos$ | async"
          [gridOptions]="gridOptions"
          [children]="columns"
          (event)="onGridClick($event)"
          [disableDelete]="disableDelete"
          [disableEdit]="disableEdit"
          [accesoEditar]="accesoEditar"
          [accesoEliminar]="accesoEliminar"
        >
        </app-grid-general>
      </div>
    </div>
  </div>
</div>
