<div class="contenedor">
  <div class="titulo-contenedor">
    {{ titulo }}
  </div>

  <div class="cuerpo-contenedor">
    <div class="row">
      <div class="col-12">
        <div
          class="contenedor-agregar"
          (click)="onAgregarClick()"
          *ngIf="tieneAccesoAgregar$ | async"
        >
          <button class="btn-agregar">Agregar {{ tituloBoton }} </button>
        </div>
        <app-grid-general
          #grid
          [headerName]="crudConfig.nombreEntidad"
          [data]="elementos$ | async"
          [gridOptions]="gridOptions"
          [children]="columns"
          (event)="onGridClick($event)"
          [disableDelete]="disableDelete"
          [disableEdit]="disableEdit"
          [accesoEditar]="accesoEditar"
          [accesoEliminar]="accesoEliminar"
        >
        </app-grid-general>
      </div>
    </div>
  </div>
</div>
