<div class="contenedor">
  <div class="titulo-contenedor">Perfil</div>
  <div class="cuerpo-contenedor">
      <ion-grid>
        <ion-row>
            <ion-col>
              <ion-input placeholder="Nombres"></ion-input>
            </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-input class="input" placeholder="Apellido Paterno"></ion-input>
          </ion-col>
          <ion-col>
            <ion-input class="input" placeholder="Apellido Materno"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-input class="input" placeholder="Correo Electrónico" type="email" ></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-input class="input" placeholder="Teléfono Móvil" type="tel"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-input class="input" placeholder="Contraseña" type="password"></ion-input>
          </ion-col>
          <ion-col>
            <ion-input class="input" placeholder="Confirmar Contraseña" type="password"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-checkbox labelPlacement="end">Acepto Términos y Condiciones</ion-checkbox>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button expand="block" fill="clear" shape="round">
              Registrar Perfil
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
  </div>
</div>
