<div class="contenedor-principal">
  <div class="titulo">
    <ion-text>
      <h1>Añadir diagnóstico</h1>
    </ion-text>
  </div>
  <div class="formulario">
    <form
      (keydown.enter)="$event.preventDefault()"
      #formulario="ngForm"
      (ngSubmit)="enviarFormulario(formulario)"
      novalidate="novalidate"
    >
      <div class="contenido-formulario">
        <ion-grid class="inputs ion-no-padding">
          <ion-row>
            <ion-col size="12">
              <div class="input">
                <ion-label>Tipo de diagnostico</ion-label>
                <ion-item lines="none" class="select-input">
                  <ion-select 
                    id="padecimiento"
                    name="padecimientoName"
                    interface="popover"
                    [interfaceOptions]="{cssClass: 'custom-select-popover'}"
                    toggleIcon="chevron-up"
                    expandedIcon="chevron-down"
                    placeholder="Seleccionar" 
                    required
                    [(ngModel)]="expedientePadecimientoDto.idPadecimiento">
                    <ng-container *ngIf="diagnosticoFiltradoList?.length; else noDiagnosticos">
                    <ion-select-option 
                      *ngFor="let diagnostico of diagnosticoFiltradoList" 
                      [value]="diagnostico?.idPadecimiento">
                      {{ diagnostico?.nombre }}
                    </ion-select-option>
                   </ng-container>
                   <ng-template #noDiagnosticos>
                    <ion-select-option disabled>No hay más diagnósticos</ion-select-option>
                  </ng-template>
                  </ion-select>
                </ion-item>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <div class="input">
                <ion-label>Fecha de diagnóstico/procedimiento</ion-label>
                <ion-item lines="none" class="date-input">
                  <ion-datetime-button datetime="fechaRealizacion"></ion-datetime-button>
                  <ion-icon
                    id="fechaRealizacionIcon"
                    name="calendar"
                    slot="end">
                  </ion-icon>
                </ion-item>
                <ion-modal [keepContentsMounted]="true" trigger="fechaRealizacionIcon">
                  <ng-template>
                    <ion-datetime
                      presentation="date"
                      color="morado-custom"
                      #fechaRealizacion="ngModel"
                      name="fechaRealizacion"
                      id="fechaRealizacion"
                      showDefaultButtons="true"
                      locale="es-ES"
                      [(ngModel)]="expedientePadecimientoDto.fechaDiagnostico"
                      [max]="fechaActual"
                    ></ion-datetime>
                  </ng-template>
                </ion-modal>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <div class="input">
                <ion-label>Doctor</ion-label>
                <ion-item lines="none" class="select-input">
                  <ion-select 
                    id="doctor"
                    name="doctorName"
                    interface="popover"
                    [interfaceOptions]="{cssClass: 'custom-select-popover'}"
                    placeholder="Seleccionar" 
                    toggleIcon="chevron-up"
                    expandedIcon="chevron-down"
                    required
                    [(ngModel)]="expedientePadecimientoDto.idUsuarioDoctor"
                  >
                    <ion-select-option 
                      *ngFor="let doctor of misDoctoresList" 
                      [value]="doctor?.idUsuarioDoctor"
                    >
                      {{ doctor?.nombre }}
                    </ion-select-option>
                  </ion-select>
                </ion-item>
              </div>
            </ion-col>
          </ion-row>          
        </ion-grid>
      </div>
      <div class="botones botones-column">
        <ion-button 
          class="dark" 
          [disabled]="btnSubmit || !formulario.valid" type="submit">
          Guardar
        </ion-button>
      </div>
    </form>
  </div>
</div>
