.cuerpo-contenedor {
    padding-left: 1em;
    padding-right: 1em;
  }
  
  .preguntaTextArea {
    height: 7em !important;
  }
  
  .respuestaTextArea {
    height: 9em !important;
  }

  .contenedor-inferior {
    margin-top: 33px;
  }