<ion-header class="ion-no-border">
  <div class="contenedor-header">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="cancelar()">
          <ion-icon slot="icon-only" name="chevron-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>{{ nombreEstudio }}</ion-title>
    </ion-toolbar>
  </div>
</ion-header>

<ion-content>
  <div class="contenedor-principal">
    <div class="contenedor-imagen">
      <img [src]="imageSrc">
    </div>
  </div>
  <!-- <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <div class="modal-content">
          <img [src]="imageSrc">
        </div>
      </ion-col>
    </ion-row>
  </ion-grid> -->
</ion-content>
<ion-footer>
  <div class="contenedor-footer">
    <ion-toolbar></ion-toolbar>
  </div>
</ion-footer>
