
:host ::ng-deep {
  .titulo-seccion {
    margin-bottom: 10px;
    color: rgb(78, 78, 78);
    font-size: 16px;
  }

  .card {
    border-radius: 20px;
    height: 100%;
  }
}

.scrollable-panel {
  max-height: 100vh; 
  overflow-y: auto; 
}

.popover-custom {
  max-width: 500px !important; // ajusta el ancho máximo según tus necesidades
  width: auto !important; // ancho automático para ajustar el contenido
}

.center {
  font-size: 30px;
  margin: 0 auto;
  display: block;
  position: relative;
  top: 10px;  
}

.titulo-contenedor{
  display: flex;
  align-items: center;

  .saludo{
    margin-right: 1rem;

    .perfil{
      color:  gray;
      font-size: 1rem;
    }
  
  }


  .nombre-doctor {
    font-weight: 500;
    font-size: 34px;
  }
  
}