<div class="contenedor" *ngIf="usuario$ | async; let usuario">
  <div class="row">
    <div class="col-11">
      <div class="titulo-contenedor">
        Bienvenido,
        <span class="nombre-doctor">{{ usuario.tituloAcademico }} {{ usuario.nombreCompleto }}</span>
      </div>

      <div class="cuerpo-contenedor">
        <div class="d-flex flex-column gap-5">
          <app-alertas></app-alertas>
          <app-resumen-padecimientos></app-resumen-padecimientos>
          <div class="row">
            <div class="col-6">
              <app-grafica-notificaciones></app-grafica-notificaciones>
            </div>
            <div class="col-6">
              <app-grafica-tratamientos></app-grafica-tratamientos>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-1 scrollable-panel" >
      <button
          class="btn center"
          [popover]="contenidoPopOver"
          [outsideClick]="true"
          containerClass="popover-custom"
        ><i class="fa fa-bell" aria-hidden="true"></i></button>
    </div>
    <ng-template #contenidoPopOver>
      <div class="scrollable-panel">
        <app-panel-notificaciones ></app-panel-notificaciones>
      </div>
    </ng-template>
      

    <!-- <div class="col-3 scrollable-panel" >
      <button
        [popover]="contenidoPopOver"
        placement="bottom"
        [containerClass]="'popover-custom'"
      ><i class="fa fa-bell" aria-hidden="true"></i></button>
    </div>
    <ng-template #contenidoPopOver>
      <div class="col-12 scrollable-panel" >
        <app-panel-notificaciones ></app-panel-notificaciones>
      </div>
    </ng-template> -->
    
  </div>
</div>
