<div class="contenedor">
    <div class="titulo-contenedor">Mis Encuestas Asignadas</div>
    <div class="cuerpo-contenedor">

      <div class="grid">
        <div><h3>Encuestas Pendientes:</h3></div>
        <div class="row justify-content-center">
          <div class="col-md-12">
            <app-grid-general
              #gridNecesidad
              [headerName]="HEADER_GRID"
              [data]="examenPendienteList"
              [children]="columnasSinRevisar"
              (event)="onGridClick($event)"
              [disableDelete]="true"
              [disableEdit]="true">
            </app-grid-general>
          </div>
        </div>
      </div>

      <div class="grid">
        <div><h3>Encuestas Contestadas:</h3></div>
        <div class="row justify-content-center">
          <div class="col-md-12">
            <app-grid-general
              #gridNecesidad
              [headerName]="HEADER_GRID"
              [data]="examenContestadoList"
              [children]="columnasConRevisar"
              (event)="onGridClick($event)"
              [disableDelete]="true"
              [disableEdit]="true">
            </app-grid-general>
          </div>
        </div>
      </div>

      <div class="grid">
        <div><h3>Encuestas Vencidas:</h3></div>
        <div class="row justify-content-center">
          <div class="col-md-12">
            <app-grid-general
              #gridNecesidad
              [headerName]="HEADER_GRID"
              [data]="examenVencidoList"
              [children]="columnasSinRevisar"
              (event)="onGridClick($event)"
              [disableDelete]="true"
              [disableEdit]="true">
            </app-grid-general>
          </div>
        </div>
      </div>
    </div>
  </div>
