<ion-header class="ion-no-border">
  <div class="contenedor-header-light">
    <ion-toolbar>
      <ion-buttons class="start" slot="start">
        <ion-button (click)="cerrarModal()">
          <ion-icon slot="start" name="chevron-left"></ion-icon>
          <ion-label>Atrás</ion-label>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </div>
</ion-header>
<ion-content>
  <div class="contenedor-principal">
    <header class="texto">
      <ion-text id="titulo">
        <h1>Aviso de privacidad</h1>
      </ion-text>
    </header>

    <section class="texto">
      <ion-text>

        <!-- Identidad y domicilio del responsable -->
        <h3> Identidad y domicilio del responsable </h3>
        <p>
          La sociedad responsable del tratamiento de datos personales será, CHRISTUS - LATAM HUB CENTER OF EXCELLENCE AND INNOVATION, S.C., en lo sucesivo CHRISTUS CEI.  
        </p>
        <p>
          Para cualquier duda relacionada con la protección de sus datos personales podrá contactarnos en la dirección de correo electrónico <a href="mailto:oncotracker@christuscei.mx" class="custom-link">oncotracker@christuscei.mx</a>
        </p>

      

        <!-- Servicios  -->
        <h3> Servicios </h3>
        <p>
          CHRISTUS CEI tratará sus datos personales para registrarle y concederle acceso a los servicios de contacto entre médicos oncólogos por medio de la Aplicación Digital Oncotracker (en adelante la “Aplicación”), misma que tiene como objeto facilitar una comunicación eficiente y personalizada entre pacientes oncológicos y personal clínico, permitiendo a los pacientes registrar y gestionar sus tratamientos, estudios y datos clínicos, para mejorar la coordinación del cuidado y optimizar el seguimiento de su salud. 
        </p>
    
        <!-- Categorías de datos personales sujetas a la aplicación  -->
        <h3> Categorías de datos personales sujetas a la aplicación  </h3>
        <p>
          Para la prestación de nuestros Servicios y para cumplir con las finalidades de la aplicación señaladas en el presente Aviso de Privacidad, es necesario que CHRISTUS CEI trate los siguientes datos personales, según sea el caso: nombre completo, correo electrónico, teléfono, fecha de nacimiento, género, peso, estatura, frecuencia cardiaca, pasos, sueño, país de residencia, código postal, estado, municipio, localidad, colonia, calle, número exterior, número interior, y otros datos clínicos relacionados con diagnósticos, antecedentes, tratamientos y estudios clínicos del paciente.         
       </p>

       <p>
          Asimismo, CHRISTUS CEI podrá recabar datos derivados del uso de la aplicación (Datos observados y/o inferidos), dichos datos constituyen información acerca de la computadora, dispositivo móvil o dispositivos de otro tipo que utiliza para acceder a los Servicios, tipo de navegador, ID del dispositivo, dirección de mac, dirección de IP, idioma, sistema operativo, ubicación geográfica exacta, fecha y hora de su visita, sitios web que visitó inmediatamente antes y después de visitar el Sitio, e información de hardware y software de otro tipo.  
       </p>

       <p>
        Para CHRISTUS CEI la confidencialidad y debida protección de su información es de máxima importancia, razón por la cual está comprometida a manejar su información de manera responsable y conforme a las disposiciones legales aplicables.  
       </p>

        <!-- Finalidades Primarias de la aplicación  -->
        <h3> Finalidades Primarias de la aplicación  </h3>
        <p>
          CHRISTUS CEI tratará sus datos personales para realizar las siguientes finalidades primarias:  
        </p>

        <ul>
          <li> Acreditar y verificar su identidad conforme a nuestros procedimientos y políticas, para así poder generarle un perfil de usuario dentro de la Aplicación;   </li>
          <li> Permitirle acceso a los Servicios de la Aplicación;  </li>
          <li> Realizar reportes, predicciones y análisis en relación con el uso y calidad de los Servicios;  </li>
          <li> Mantener la seguridad de las redes y servicios de comunicaciones electrónicas, detectar fallos o errores técnicos en la transmisión de las comunicaciones electrónicas, así como cualquier tratamiento que sea necesario para la correcta prestación del servicio de telecomunicaciones o cualquier otra normativa sectorial resulte de aplicación.  </li>
        </ul>


       <!-- Finalidades Secundarias de la aplicación  -->
        <h3> Finalidades Secundarias de la aplicación </h3>
          <p>
            En caso de que usted lo consienta, utilizaremos sus datos para las siguientes finalidades:  
          </p>

          <ul>
            <li> Poner en contacto a Usuarios, en su caso.  </li>            
            <li> Brindar recordatorios y alertas personalizadas en materia del uso de la aplicación.    </li>
            <li> Conservar sus datos para posibles contactos posteriores.     </li>
            <li> Realizar tratamientos de técnicas de análisis masivo de datos para realizar actividades de perfilamiento y mejor conocimiento de los usuarios de la Aplicación mediante la combinación y segmentación de la información facilitada por usted, la obtenida de fuentes de acceso público, incluyendo redes sociales, y aquella información que CHRISTUS CEI pueda inferir u obtener como resultado de la aplicación de diversas tecnologías de análisis de datos. Lo anterior para mejorar nuestros servicios, contactarle y enviarle información de carácter publicitario, promocional y/o informativo que consideramos puede resultar de su interés.  </li>
          </ul>

          <p>
            Las anteriores finalidades secundarias tienen como base de legitimación su consentimiento. Lo anterior quiere decir que usted en cualquier momento puede oponerse a cualquiera de ellas, o bien, revocar su consentimiento.   
          </p>

          <p>
            Es importante que tenga presente que, al otorgar su consentimiento, éste seguirá siendo válido incluso cuando hubiere terminado la relación jurídica entre usted y CHRISTUS CEI, lo que significa que CHRISTUS CEI podrá seguir tratando sus datos personales necesarios para cumplir con las presentes finalidades secundarias.   
          </p>

          <p>
            En caso de que no desee que sus datos personales sean tratados para alguna o todas las finalidades adicionales, desde este momento usted nos puede comunicar lo anterior al correo <a href="mailto:oncotracker@christuscei.mx" class="custom-link">oncotracker@christuscei.mx</a>
          </p>



        <!-- Base de legitimación  -->
        <h3 >Base de legitimación </h3>
        <p>
          CHRISTUS CEI da tratamiento a sus datos personales con base en la relación jurídica que mantenemos con usted derivado de los Términos y Condiciones.   
        </p>

          <!-- Transferencias  -->
        <h3> Transferencias  </h3>
        <p>
          CHRISTUS CEI podrá transferir sus datos personales sin requerir de su consentimiento en los siguientes supuestos:   
        </p>

        <ul> 
          <li> A empresas afiliadas, subsidiarias y/o entidades controladoras, nacionales o extranjeros, que operan bajo las mismas políticas internas en materia de protección de datos personales para los fines mencionados en el presente Aviso de Privacidad;     </li>
          <li> A autoridades competentes en los casos previstos por la normatividad aplicable.    </li>
          <li> A Usuarios con quienes la Aplicación estime que sea útil o conveniente ponerle en contacto, en su caso.    </li>
        </ul>


        <!-- Medios para ejercer Derechos ARCO  -->
        <h3> Medios para ejercer Derechos ARCO </h3>
        <p>
          Usted podrá ejercer cualquiera de los derechos de Acceso, Rectificación, Cancelación u Oposición (en lo sucesivo “Derechos ARCO”), así como revocar su consentimiento para el tratamiento de sus datos personales enviando un correo electrónico a CHRISTUS CEI a <a href="mailto:oncotracker@christuscei.mx" class="custom-link">oncotracker@christuscei.mx</a>donde se le atenderá en tiempo y forma.  CHRISTUS CEI le proporcionará un “Formulario de Solicitud para el Ejercicio de los Derechos de los Titulares” para que usted pueda ejercer su derecho.           </p>
        <p>
          Para que CHRISTUS CEI pueda darle seguimiento a su solicitud, usted deberá acreditar correctamente su identidad para lo que es necesario que complete todos los campos indicados en el Formulario y lo acompañe con copia de alguna de las identificaciones oficiales vigentes que se señalan en el mismo.           </p>
        <p>
          En caso de que la información proporcionada sea errónea o insuficiente, o bien, no se acompañen los documentos de acreditación correspondientes, CHRISTUS CEI, dentro de los cinco (5) días hábiles siguientes a la recepción de la solicitud, podrá requerirle que aporte los elementos o documentos necesarios para dar trámite a la misma. Usted contará con diez (10) días hábiles para atender el requerimiento, contados a partir del día siguiente en que lo haya recibido. De no dar respuesta en dicho plazo, se tendrá por no presentada la solicitud correspondiente.           
        </p>

        <p>
          CHRISTUS CEI le comunicará la determinación adoptada, en un plazo máximo de veinte (20) días hábiles contados desde la fecha en que se recibió la solicitud, a efecto de que, si resulta procedente, haga efectiva la misma dentro de los quince (15) días hábiles siguientes a que se comunique la respuesta.  
        </p>

        <!-- Opciones y medios para limitar el uso o divulgación de sus datos personales  -->
        <h3> Opciones y medios para limitar el uso o divulgación de sus datos personales </h3>
        <p>
          Usted podrá limitar el uso o divulgación de sus datos personales enviando su solicitud a <a href="mailto:oncotracker@christuscei.mx" class="custom-link">oncotracker@christuscei.mx</a>
        </p>

        <p>
          Los requisitos para acreditar su identidad, así como el procedimiento para atender su solicitud se regirán por los mismos criterios señalados en el apartado anterior.  
        </p>

        <p>
          En caso de que su solicitud resulte procedente, CHRISTUS CEI lo registrará en el listado de exclusión propio de CHRISTUS CEI.   
        </p>

        <!-- Uso de Cookies y/o Tecnologías Similares  -->
        <h3> Uso de Cookies y/o Tecnologías Similares  </h3>
        <p>
          CHRISTUS CEI puede utilizar varias tecnologías para mejorar la eficiencia de su sitio web, incluyendo su experiencia cuando navega por el sitio. Las Cookies son pequeñas cantidades de información que se almacenan en el navegador utilizado por cada Usuario para que el servidor recuerde cierta información que posteriormente pueda utilizar. Esta información permite identificarle y guardar sus preferencias personales para brindarle una mejor experiencia de navegación. Le recordamos que usted puede deshabilitar o ajustar el uso de cookies siguiendo los procedimientos del navegador de internet que utiliza.         
       </p>


       

        <!-- Conservación de sus datos personales  -->
        <h3> Conservación de sus datos personales  </h3>
        <p>
          CHRISTUS CEI conservará sus datos personales mientras mantenga una base de legitimación que le permita, en términos de las leyes aplicables, dar tratamiento a sus datos personales. Si requiere más información en lo que refiere a los plazos de conservación de sus datos personales contáctenos a <a href="mailto:oncotracker@christuscei.mx" class="custom-link">oncotracker@christuscei.mx</a> En caso de controversia, divergencia, reclamación o duda con motivo de la interpretación, aplicación, ejecución, cumplimiento, resolución, rescisión de este acuerdo, así como la compensación de los daños y perjuicios resultantes, el Usuario y CHRISTUS CEI se someten expresamente a la jurisdicción de los Tribunales de la Ciudad de Monterrey, Nuevo León, renunciando a cualquier otro fuero que pudiera corresponderles por razón de su domicilio presente o futuro.  
        </p>

        <!-- Autoridad de protección de datos personales  -->
        <h3> Autoridad de protección de datos personales </h3>
        <p>
          En caso de considerarlo necesario, le informamos que tiene el derecho de acudir ante el Instituto Nacional de Transparencia Acceso a la Información y Protección de Datos Personales (INAI) para hacer valer cualquier inconformidad relacionada con su derecho a la protección de datos personales.          
        </p>

        <!-- Cambios al Aviso de Privacidad  -->
        <h3> Cambios al Aviso de Privacidad  </h3>
        <p>
          CHRISTUS CEI se reserva el derecho, bajo su exclusiva discreción, de cambiar, modificar, agregar o eliminar partes del presente Aviso de Privacidad en cualquier momento. En tal caso, CHRISTUS CEI le informará de los cambios por el mismo medio que ha puesto a su disposición este Aviso de Privacidad. 
        </p>

        <h3>Última actualización </h3>
        <p>
          El presente Aviso de Privacidad corresponde a la versión del 4 de septiembre de 2024.  
        </p>
      </ion-text>
    </section>
  </div>
</ion-content>
