<div class="bgImageContainer"></div>
<div class="contenedor-principal">
  <main>
    <div class="main">
      <!-- Logo Track R -->
      <div class="logos">
        <img
          src="../../../assets/img/svg/svg-Logo-01-Trackr.svg"
          alt="TrackR_Logo"
        />
      </div>
      <br />

      <!-- Botones -->
      <div class="fixed-bottom" style="padding-bottom: 40px; margin:50px">
        <!-- Botón Login -->
        <div class="row">
          <div class="align-top">
            <ion-button routerLink="/login" class="btn-login"> Login </ion-button>
          </div>
        </div>
        <!-- Botón Registrarme -->
        <div class="row">
          <div class="align-bottom">
            <ion-button class="btn-register" fill="outline">
              Registrarme
            </ion-button>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
