<app-widget 
  colorBackground="var(--primary-100)" 
  widgetClass="salud" 
  (click)="cargarHR()"
>
<div class="contenido" salud>
  <div class="header">
    <div class="icono">
      <ion-icon slot="icon-only" name="ritmo-cardiaco"></ion-icon>
    </div>
  </div>
  <div class="datos">
    <ion-text>
      <p class="label">Ritmo cardiaco</p>
      <p class="medicion"><span id="valor">{{ritmoCardiaco}}</span><span id="unidad"> {{unidadMedida}}</span></p>
    </ion-text>
  </div>
</div>
</app-widget>
