<app-widget 
  colorBackground="var(--primary-700)" 
  widgetClass="salud" 
  (click)="cargarDatos()"
>
<div class="contenido" salud>
  <div class="header">
    <div class="icono">
      <ion-icon slot="icon-only" name="suenio"></ion-icon>
    </div>
  </div>
  <div class="datos">
    <ion-text>
      <p class="label">Sueño</p>
      <p class="medicion">
        <span id="horas">{{tiempoDormido}}</span>
        <span class="unidad">h</span>
        <span id="minutos"> {{minutostiempoDormido}}</span>
        <span class="unidad">min</span>
      </p>
    </ion-text>
  </div>
</div>
</app-widget>