<app-widget title="Sueño" iconClass="moon" colorBackground="#4B443C" colorTitle="#F4F4F4" widgetClass="salud" (click)="cargarDatos()">
  <ion-grid>
    <ion-col>
      <ion-row>
        <!-- Tiempo total -->
        <ion-col class="sueno-total">
          <ion-row>
            <ion-label>
              <span class="valor"> {{ tiempoDormido }} h {{ minutostiempoDormido }} min </span>
            </ion-label>
          </ion-row>

          <ion-row>
            <ion-label>
              tiempo total
            </ion-label>
          </ion-row>
        </ion-col>

        <ion-col>
          <!-- Sueño rem  -->
          <ion-row>
            <ion-label>
              <span class="valor">{{ suenoHorasREM }} h {{ suenoMinutosREM }} min </span>
            </ion-label>
            <ion-label>
              sueño rem
            </ion-label>
          </ion-row>
          <!-- Sueño profundo -->
          <ion-row>
            <ion-label>
              <span class="valor"> {{ suenoHorasProfundo }} h {{ suenoMinutosProfundo }} min </span>
            </ion-label>
            <ion-label>
              sueño profundo
            </ion-label>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-col>

  </ion-grid>
</app-widget>