<ion-header class="ion-no-border">
  <div class="contenedor-header">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button routerLink="">
          <ion-icon slot="start" name="chevron-back"></ion-icon>
          Atrás
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </div>
</ion-header>

<ion-content>
  <div class="contenedor-principal">
    <div class="saludo">
      <ion-text>
        <h1>¡Hola de nuevo!</h1>
        <p>Ingresa tu usuario y contraseña para iniciar sesión.</p>
      </ion-text>
    </div>
    <form 
      #formulario="ngForm"
      novalidate="novalidate"
      (ngSubmit)="enviarFormulario(formulario)"
    >
      <div class="formulario">
        <div class="contenido-formulario">
          
            <ion-list class="inputs">
              <div class="input">
                <ion-text><p>Usuario</p></ion-text>
                <ion-item lines="none" class="normal-input">
                  <div class="input-icon">
                    <ion-icon name="person-outline"></ion-icon>
                  </div>
                  <ion-input
                    #correo="ngModel"
                    [(ngModel)]="loginRequest.correo"
                    id="correo"
                    name="correo"
                    type="text"
                    maxlength="50"
                    required="true"
                    autocomplete="off"
                    placeholder="Escribe tu usuario aquí"
                  >
                  </ion-input>
                </ion-item>
              </div>
              <div class="input">
                <ion-text><p>Contraseña</p></ion-text>
                <ion-item lines="none" class="password-input">
                  <ion-input 
                    #contrasena="ngModel"
                    [(ngModel)]="loginRequest.contrasena"
                    id="contrasena"
                    name="contrasena"
                    [type]="pswInputType"
                    autocomplete="off"
                    required="true"
                    maxlength="50"
                    placeholder="Escribe tu contraseña aquí"
                  >
                  </ion-input>
                  <div class="input-icon">
                    <ion-button class="btn-mostrar-contrasena" fill="clear"(click)="mostrarContrasena()">
                      <ion-icon *ngIf="!mostrarPwd" slot="icon-only" name="eye-outline"></ion-icon>
                      <ion-icon *ngIf="mostrarPwd" slot="icon-only" name="eye-off-outline"></ion-icon>
                    </ion-button>
                  </div>
                </ion-item>
              </div>
            </ion-list>
        </div>
        <div class="botones">
          <ion-button class="btn-login" type="submit" [disabled]="btnSubmit || !formulario.valid">
            Iniciar Sesión
          </ion-button>
          <a routerLink="/acceso/peticion-restablecer-contrasena"  class="recuperar-contrasena">¿Olvidaste tu contraseña?</a>
        </div>
      </div>
    </form>
  </div>
  <!-- alerta de cargando cuando se necesite -->
  <ion-alert
    [isOpen]="cargando$ | async"
    [message]="spinner"
    cssClass="custom-alert-loading"
  >
  </ion-alert>
</ion-content>

<ion-footer class="ion-no-border" >
  <div class="contenedor-footer">
    <ion-text>
      <p>CHRISTUS MUGUERZA</p>
    </ion-text>
  </div>
</ion-footer>
