
  .background-restablecer {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(116,23,152);
    background: linear-gradient(90deg, rgba(116,23,152,1) 10%, rgba(52,13,79,0.9486169467787114) 50%, rgba(116,23,152,1) 90%);
  }
  .contenedor-restablecer {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-width: 400px;
    width: 400px;
    border: 1px #dbdbdb solid;
    border-radius: 10px;
    padding: 2rem;
    background: transparent;
    color: #ffff;
  }