<div class="d-flex">
  <div class="modal-content">

    <div *ngIf="mostrarHeader" class="modal-header">
      <div>{{ titulo }}</div>
      <button
        type="button"
        class="close pull-right"
        aria-label="Close"
        (click)="cerrar()"
      >
        <i class="far fa-times-circle"></i>
      </button>
    </div>

    <div class="modal-body mx-3">
      <div class="btn-salir-container">
         <button (click)="cerrar()">
          <lucide-icon name="x" size="10"></lucide-icon>
        </button>
      </div>
      <ng-container [ngTemplateOutlet]="modalBody">
      </ng-container>
    </div>

    <div class="modal-footer" *ngIf="modalFooter">
      <div
        class="d-flex flex-wrap-reverse justify-content-center w-100"
        style="gap: 10px"
      >
        <ng-container [ngTemplateOutlet]="modalFooter">
        </ng-container>
      </div>
    </div>
  </div>
</div>
