<ion-header class="ion-no-border">
  <div class="contenedor-header-dark">
    <ion-toolbar>
      <ion-title>Datos clínicos</ion-title>
      <ion-buttons class="end" slot="end">
        <ion-button class="icon-only" (click)="AgregarDatosClinicos()">
          <ion-icon name="plus"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </div>
</ion-header> 
<ion-content class="primary">
  <div class="contenedor-principal">
    <div class="selector-tiempo">
      <div class="label">
        <ion-text><p>Fecha y hora</p></ion-text>
      </div>
      <div class="datetime-buttons">
        <div class="datetime-input" id="date-picker">
          <ion-item lines="none" class="date-input">
            <ion-icon
              id="dateIcon" 
              name="calendar" 
              slot="start">
            </ion-icon>
            <ion-datetime-button datetime="date"></ion-datetime-button>
          </ion-item>

          <ion-modal [keepContentsMounted]="true" trigger="dateIcon">
            <ng-template>
              <ion-datetime
                presentation="date"
                id="date"
                name="dateName"
                [max]="dateToday"
                [(ngModel)]="fechaSeleccionada"
                color="morado-custom"
                locale="es-MX"
                showDefaultButtons="true"
                cancelText="Cancelar"
                doneText="Ok">
              </ion-datetime>
            </ng-template>
          </ion-modal>
        </div>
        <div class="datetime-input" id="time-picker">
          <ion-item lines="none" class="date-input">
            <ion-icon
              id="timeIcon"
              name="clock-2" 
              slot="start">
            </ion-icon>
            <ion-datetime-button datetime="time"></ion-datetime-button>
          </ion-item>

          <ion-modal [keepContentsMounted]="true" trigger="timeIcon">
            <ng-template>
              <ion-datetime
                presentation="time"
                id="time"
                name="timeName"
                [max]="dateToday"
                [(ngModel)]="fechaSeleccionada"
                color="morado-custom"
                locale="es-MX"
                showDefaultButtons="true"
                cancelText="Cancelar"
                doneText="Ok"
                hourCycle="h12">
              </ion-datetime>
            </ng-template>
          </ion-modal>
        </div>
      </div>
    </div>
    <div class="lista-valores">
      <div class="label">
        <ion-text><p>Valores fuera de rango</p></ion-text>
      </div>
      <div class="lista-vacia" *ngIf="listaValoresVacia()">
        <ion-text>
          <p>Nada Por aquí. <br> Aún no hay valores fuera de rango.</p>
        </ion-text>
      </div>
      <ion-list lines="full" *ngIf="!listaValoresVacia()">
        <ion-item *ngFor="let valor of valoresFueraRango">
          <ion-label>
            <h3>
              <span id="valor">{{valor.valorRegistrado}}</span>
              <span id="medida"> {{valor.unidadMedida}}</span>
            </h3>
            <p>
              <span>{{valor.variable}}</span>
              <span> &bull; </span>
              <span>{{valor.parametro}}</span>
            </p>
            <p>{{valor.fechaHora | date: "MMMM d, y 'a las' h:mm a" : '' : 'es-MX'}}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>