.contenedor-principal{
    height: 100%;
    background: var(--primary-50);

    .selector-tiempo{
        height: 15vh;

        .datetime-buttons{
            display: flex;
            justify-content: space-between;
            padding: 0 32px 0 32px;

            .datetime-input{

                min-width: 155px;
                max-width: 216px;
                width: 100%;
                ion-item{
                    width: 100%;
                    --inner-padding-end: 10px !important;
                    --border-width: 1px ;
                    --border-color: var(--primary-700);
                    --border-radius: 8px;
                    --background: var(--primary-100);

                    ion-icon{
                        margin: 0;
                        color: var(--primary-700);
                    }
                }

                ion-item::part(native){
                    padding-left: 10px;
                }

                ion-item.date-input{
                    ion-datetime-button{
                        width: 100%;
                    }

                    ion-datetime-button::part(native){
                        padding: 0;
                    }

                    ion-datetime-button::part(native){ //boton html dentro del ion-datetime-button
                        width: 100%;
                        font-family: var(--font-body);
                        font-size: 16px;
                        font-weight: bold;
                        color: var(--primary-700) !important;
                        background: transparent;
                        color: var(--neutral-900);
                    }
                  }
            }

            #date-picker{
                margin-right: 8px;
            }

            #time-picker{
                margin-left: 8px;
            }
        }
    }


    .lista-valores{
        height: calc(100% - 15vh);

        ion-list{
            padding: 0;

            ion-item{
                
                ion-label{
                    font-family: var(--font-body);

                    h3{
                        font-size: 16px;
                        color: var(--neutral-900);
                    }

                    p{
                        font-size: 16px;
                        color: var(--neutral-500);
                    }
                }
            }
    
            ion-item::part(native){
                min-height: 100px;
                padding-left: 32px !important;
            }
        }
        
    }

    .label{
        padding: 32px 32px 16px 32px;
        ion-text{
            p{
                font-family: var(--font-body);
                font-size: 16px;
                margin: 0;
            }
        }
    }
}