<div class="contenedor">
  <div class="titulo-contenedor">Catálogo de Códigos Postales</div>
  <div class="cuerpo-contenedor">
    <div class="row">
      <div class="col-md-12">
        <div class="contenedor-agregar" (click)="agregar()" *ngIf="tieneAccesoAgregar">
          <i class="fas fa-plus-circle"></i><span>Agregar</span>
        </div>
        <app-grid-general
          [headerName]="HEADER_GRID"
          [data]="CodigoPostalList"
          [children]="columns"
          (event)="onGridClick($event)"
          [accesoEditar]="accesoEditar"
          [accesoEliminar]="accesoEliminar"
          [cargandoGrid]="cargandoGrid"
        >
        </app-grid-general>
      </div>
    </div>
  </div>
</div>
