<div class="contenedor">
  <div class="titulo-contenedor">Códigos Postales</div>
  <div class="cuerpo-contenedor">
    <div class="row">
      <div class="col-md-12">
        <div class="contenedor-agregar" (click)="agregar()" *ngIf="tieneAccesoAgregar">
          <button class="btn-agregar">Agregar Código Postal</button>
        </div>
        <button class="btn-agregar secundario col m-3" (click)="sincronizarPlantilla()">Sincronizar </button>
        <button  class="btn-agregar secundario col" (click)="subirPlantilla()">Subir archivo excel</button>
        <button  class="btn-agregar secundario col m-3" (click)="descargarPlantilla()">Descargar excel </button>
        <app-grid-general
          [headerName]="HEADER_GRID"
          [data]="CodigoPostalList"
          [children]="columns"
          (event)="onGridClick($event)"
          [accesoEditar]="accesoEditar"
          [accesoEliminar]="accesoEliminar"
          [cargandoGrid]="cargandoGrid"
        >
        </app-grid-general>
      </div>
    </div>
  </div>
</div>
