<div class="d-flex">
  <div class="barra-lateral-modal"></div>
  <div class="modal-content">
    <div class="modal-header">
      <div>Sección Ayuda - {{ accion }}</div>
      <button type="button" class="close pull-right" aria-label="Close" (click)="cancelar()">
        <i class="far fa-times-circle"></i>
      </button>
    </div>
    <form
      (keydown.enter)="$event.preventDefault()"
      #formulario="ngForm"
      (ngSubmit)="enviarFormulario(formulario)"
      novalidate="novalidate"
    >
      <div class="modal-body" id="modal">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="label-input required-label">Clave</label>
              <div>
                <input
                  #clave="ngModel"
                  [(ngModel)]="seccion.clave"
                  id="clave"
                  name="clave"
                  class="form-control"
                  type="text"
                  maxlength="20"
                  required="required"
                  autocomplete="off"
                  [disabled]="seccion.idAyudaSeccion > 0"
                />
                <div *ngIf="clave.errors?.['required'] && clave.touched" class="error">
                  La clave es requerida
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="label-input required-label">Orden</label>
              <div>
                <input
                  #orden="ngModel"
                  [(ngModel)]="seccion.orden"
                  id="orden"
                  name="orden"
                  class="form-control"
                  type="number"
                  maxlength="20"
                  required="required"
                  autocomplete="off"
                  min="1"
                />
                <div *ngIf="orden.errors?.['required']  && orden.touched" class="error">
                  El orden es requerido.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label class="label-input required-label">Nombre</label>
              <div>
                <input
                  #nombre="ngModel"
                  [(ngModel)]="seccion.nombre"
                  id="nombre"
                  name="nombre"
                  class="form-control"
                  type="text"
                  maxlength="50"
                  required="required"
                  autocomplete="off"
                />
                <div *ngIf="nombre.errors?.['required']  && nombre.touched" class="error">
                  El nombre es requerido
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="text-center">
          <button type ="button" class="btn-secundario mr-3"(click)="cancelar();">Cancelar</button>
          <button [disabled]="btnSubmit" type="submit" class="btn-primario btn-margin-left">Guardar</button>
        </div>
      </div>
    </form>
  </div>
</div>
