

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label position="floating">Room meet</ion-label>
    <ion-input [(ngModel)]="room" name="room" type="text" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Usuario</ion-label>
    <ion-input [(ngModel)]="user" name="username" type="text" required></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="submitForm()">Entrar</ion-button>
  <ion-button expand="full" (click)="newMeetJitsi()">Nuevo meet</ion-button>
  <!--ion-button size="small" id="webcamButton" (click)="webcamButton()">Iniciar webcam</ion-button-->


  <app-create-jitsi-meet *ngIf="newMeet" style="width: 50%; height: 100%;"></app-create-jitsi-meet>

  <app-call-jitsi *ngIf="jitsiDataUp" style="width: 100%; height: 100%;"></app-call-jitsi>



</ion-content>