<p>
  mis-doctores works!
</p>

<ion-list>
  <ion-card *ngFor="let doctor of misDoctores">

    <ion-card-header>
      Doctor-especialidad-hospital
    </ion-card-header>
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-img alt="Doctor" src="https://ionicframework.com/docs/img/demos/thumbnail.svg"
          style="border-radius: 100px;">
        </ion-img>
      </ion-thumbnail>

      <ion-card-title>
        <ion-row>
          {{doctor.nombre}}
        </ion-row>

        <ion-row>
          {{doctor.ambito}}
        </ion-row>

        <ion-row>
          {{doctor.hospital}}
        </ion-row>
      </ion-card-title>

      <ion-button color="danger" slot="end" (click)="eliminar(doctor)">Eliminar</ion-button>

    </ion-item>

  </ion-card>
</ion-list>


<ion-list>




  <ion-button size="default" fill="outline" [routerLink]="['mis-doctores/agregar']"></ion-button>


</ion-list>