
<ion-header class="ion-no-border">
  <div class="contenedor-header-light">
    <ion-toolbar>
      <ion-buttons class="start" slot="start">
        <ion-button routerLink="inicio-perfil">
          <ion-icon slot="start" name="chevron-left"></ion-icon>
          <ion-label>Atrás</ion-label>
        </ion-button>
      </ion-buttons>
      <ion-buttons class="end" slot="end">
        <ion-button class="icon-only" (click)="AgregarDoctor()">
          <ion-icon name="plus"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </div>
</ion-header>
<ion-content class="primary">
  <div class="contenedor-principal">
    <div class="titulo">
      <ion-text>
        <h3>Mis doctores</h3>
      </ion-text>
    </div>

    <div class="lista-doctores">
      <div class="lista-vacia" *ngIf="listaDoctoresVacia()">
        <ion-text>
          <p>Nada por aquí. <br> Aún no tienes doctores asignados</p>
        </ion-text>
        <ion-button fill="outline" (click)="AgregarDoctor()">
          <ion-icon slot="start" name="plus"></ion-icon>
          Añadir doctor
        </ion-button>
      </div>

      <ion-list class="custom-general-item-list" *ngIf="!listaDoctoresVacia()">
        <ion-item *ngFor="let doctor of misDoctores" lines="none">
          <ion-label>
            <h3>{{doctor.nombre}}</h3>
            <p>{{doctor.ambito}}</p>
            <p>{{doctor.hospital}}</p>
          </ion-label>
          <ion-button
            [disabled]="eliminandoDoctor"
            class="custom-icon-only clear-error slot-end"
            slot="end" 
            (click)="presentarAlertaEliminar(doctor)">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>
