@import '../../styles/circle-container.scss';

.counter {
  color: var(--accent-color-green);
}

.circle-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border: 4px;
  border-style: solid;
  border-radius: 50%;
  width: 55px;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  border-color: var(--accent-color-green);
}

img{
  position: absolute; // Establecer la imagen como una posición absoluta para poder desplazarla dentro del contenedor.
  z-index: 9;
  transform: translateX(-40px);
  top: 0px;
  transition: transform 1.0s ease;
}

div[class*=col-],
div[class^=col] {
  padding: 0px;
}

.label {
  font-size: 0.4em;
  font-weight: bold;
  line-height: 0.5;
}

.medida {
  font-size: 0.4em;
  font-weight: bold;
  line-height: 0.5;
}

