@import '../../styles/circle-container.scss';

.container.d-flex {
  padding: 0;

  .counter {
    flex: 40;
  }

  .img-container {
    flex: 20;
  }

  .values {
    flex: 40;
  }
}

.counter {
  color: var(--accent-color-green);

  .circle-container {
    width: 20vw;
    font-size: 5.5vw;

    .valor {
      font-size: 1em;
      font-weight: bold;
    }

    .label {
      font-size: 0.5em;
    }
  }

  .meta {
    font-size: 2vw;

    .valor {
      font-size: 1.6em;
      font-weight: bold;
    }
  }
}

.img-container {
  object-fit: contain;

  img{
    width: 100%;
  }
}

.values .text-center {
  font-size: 4vw;

  .value {
    font-size: 1em;

    .valor {
      font-size: 1em;
      font-weight: bold;
    }

    .medida {
      font-size: 0.7em;
    }
  }

  .label {
    font-size: 0.5em;
  }
}
