@import "../../../../../../theme/variables.scss";

.values {
  font-size: 4vw;
  color: var(--neutral-100);
  font-family: var(--font-body);

  .value {
    font-size: 1em;

    .valor {
      font-size: 0.8em;
      font-weight: bold;
    }

    .medida {
      font-size: 0.8em;
      margin-right: 0.2em;
    }
  }

  .label {
    font-size: 0.6em;
  }
}
