<mat-sidenav-container>
  <!-- Barra lateral -->
  <mat-sidenav mode="side" opened>
    <div class="lateral-superior">
      <!--Imagen de Usuario -->
      <div class="text-center pt-3 pb-4">
        <img *ngIf="urlImagen !== undefined" 
          class="imagen-usuario" 
          [src]="urlImagen" 
          width="100px"
          height="100px"
          alt="Imagen de Usuario"
          [matMenuTriggerFor]="menu"
        />

        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="logout()">Salir</button>
        </mat-menu>
       <br>
      </div>
    </div>

      <!-- Items de Navegación -->
      <div *ngFor="let item of navItems">
        <app-menu-item
          [item]="item"
        ></app-menu-item>
      </div>


    <!-- Utilidades -->
    <div class="lateral-inferior pt-5">

      <app-menu-item
        [item]="{ name: 'Buscar', icon: 'fas fa-magnifying-glass', url: 'administrador', claveTipoAcceso: '' }"
      >
      </app-menu-item>

      <app-menu-item
        [item]="{ name: 'Notificaciones', icon: 'fa-regular fa-bell', url: 'administrador', claveTipoAcceso: '' }"
        (click)="mostrarNotificaciones()"
      >
      </app-menu-item>

      <button
        *ngIf="ayudas.length > 0 || acceso?.urlVideoAyuda"
        class="button-item d-flex justify-content-center"
        mat-button
        style="height: 4%;"
        (click)="consultarAyuda()"
        routerLinkActive="active"
      >
        <i class="item mr-3 fas fa-question-circle"></i>
      </button>
    </div>
  </mat-sidenav>

  <!-- Contenido -->
  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #contenidoPopOver>
  <div class="scrollable-panel">
    <app-panel-notificaciones ></app-panel-notificaciones>
  </div>
</ng-template>
