mat-sidenav-container{
  height: 100vh;
}

mat-sidenav {
  width: 250px;
  height: 100vh;
  background-color: var(--neutral-50);
}

mat-sidenav-content {
  background-color: var(--primary-50) !important;
}

.contenedor {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.lateral-inferior{
  width: 100%;
  display: flex;
  flex-direction: column;
  vertical-align: bottom;
  position:absolute;
  bottom: 0;
  justify-content: space-between;
}

.logotipo {
  position: fixed;
  z-index: 2;
  background: #F2F2F2;
  height: 80px;
}

.item {
  text-align: center;
  font-size: 1.75em;
  color: #FFFFFF;
  cursor: pointer;
  padding: 1rem 0.7rem 1rem 0.7rem !important;
  transition: 0.3s ease;
}

.presentacion{
  display: flex;
  align-items: center;
  padding-left: 36px;
  padding-right: 36px;
  margin-bottom: 32px;
  margin-top: 32px;
  .foto-perfil{
    img {
      width: 40px;
      height: 40px;
      border-radius: 100%;
    }
  }

  .datos{
    h3, p{
      width: 144px !important;
      overflow: hidden;
      white-space: nowrap;
      margin: 0;
      margin-left: 12px;
      text-overflow: ellipsis;
      font-family: var(--font-body);
      padding-right: 24px;
    }
    h3{
      font-size: 16px;
      color: var(--neutral-900);
      font-weight: bold;
    }
    p{
      font-size: 14px;
      color: var(--neutral-500);
    }
  }
}
