<ion-content>
  <div class="contenedor-header">
    <div class="contenedor-toolbar">
      <ion-toolbar>
        <div class="avatar">
          <ion-avatar>
            <img [src]="fotoPerfilUrl" alt="profile-pic">
          </ion-avatar>
        </div>
        <div class="toolbar">
          <ion-text>
            <h3>¡Hola, {{infoHeader?.nombre}}!</h3>
            <p>Bienvenido(a) de nuevo.</p>
          </ion-text>
          <ion-buttons slot="end">
            <ion-button (click)="abrirConfiguracionDashboard()">
              <ion-icon name="settings-outline"></ion-icon>
            </ion-button>
            <app-notificaciones-page></app-notificaciones-page>
          </ion-buttons>
        </div>
      </ion-toolbar>
    </div>
  </div>
  <div class="contenedor-principal">
    <div class="widgets-salud">
      <app-widget-container [widgetKeys]="selectedUserWidgets"></app-widget-container>
    </div>
    <div class="texto-seccion">
      <ion-text>
        <p>Seguimiento de padecimientos</p>
      </ion-text>
    </div>
    <div class="widgets-seguimiento">
      <ion-grid>
        <ion-row *ngIf="padecimientosList">
          <ion-col [size] = "12" *ngFor="let padecimiento of padecimientosList">
              <app-widget-seguimiento
                  [tipoWidget] = "padecimiento.idWidget"
                  nombrePadecimiento="{{ padecimiento.nombrePadecimiento }}"

                  [tomasTomadas]=" padecimiento.tomasTomadas "
                  [tomasTotales]=" padecimiento.tomasTotales "

                  nombreVariable="{{padecimiento.variables[0]?.descripcion}}"
                  valorVariable="{{padecimiento.variables[0]?.valorVariable}}"
                  unidadVariable="{{padecimiento.variables[0]?.unidadMedida}}"
                  claseVariable="{{ padecimiento.variables[0]?.iconoClase }} + icono-seguimiento"

                  nombreVariable2="{{padecimiento.variables[1]?.descripcion}}"
                  valorVariable2="{{padecimiento.variables[1]?.valorVariable}}"
                  unidadVariable2="{{padecimiento.variables[1]?.unidadMedida}}"
                  claseVariable2="{{ padecimiento.variables[1]?.iconoClase }} + icono-seguimiento"


                  nombreTratamiento="Medicamento"
                  valorTratamiento="2U"
                  unidadTratamiento="Humalog Mix 25 Plum"
                  claseTratamiento="{{ padecimiento.iconoClase }} + icono-seguimiento"

                  (click) = "mostrarSeguimiento(padecimiento.idPadecimiento)"
              ></app-widget-seguimiento>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>