<ion-header>
  <app-header></app-header>
</ion-header>

<ion-button expand="full" shape="round" routerLink="home/chat-movil" (click)="regresarBtn()">Regresar</ion-button>

<ion-title class="ion-text-center ion-align-items-center" style="padding-top: 1vh; padding-bottom: 1vh; padding: 0;">{{chat.titulo}}</ion-title>

<div class="absolute">
  <div class="listado">
    <div *ngFor="let mensaje of mensajes">
      <div class="message user" *ngIf="mostrarMensaje(mensaje.idPersona)">
        <div class="message-bubble">
          {{ mensaje.mensaje }}
        </div>
      </div>
      <div class="message other" *ngIf="!mostrarMensaje(mensaje.idPersona)">
        <div class="message-bubble">
          <div class="nombre">{{ mensaje?.nombrePersona || 'Chat' }}</div>
          {{ mensaje.mensaje }}
        </div>
      </div>
    </div>
  </div>

  <div class="final">
    <div class="form-group">
      <div class="row">
        <div class="col-10">
          <label class="label-input required-label" style="color: gray"
            >Mensaje</label
          >
          <div>
            <textarea
              #descripcion="ngModel"
              [(ngModel)]="msg"
              name="mensaje"
              class="form-control"
              type="text"
              maxlength="800"
              autocomplete="off"
              style="width: 100%"
              rows="1"
              required
            ></textarea>
            <div
              *ngIf="(descripcion.errors?.['required'] && descripcion.touched )"
              class="error"
            >
              La descripción es requerida
            </div>
          </div>
        </div>

        <div class="col-2">
          <div class="form-group">
            <button type="submit" class="btn boton" (click)="enviarMensaje()">
              <i class="fa fa-paper-plane" style="font-size: 24px"></i>
            </button>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>
