<ion-header class="chat-header ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start" class="start">
      <ion-button fill="clear" routerLink="home/chat-movil" (click)="regresarBtn()">
        <ion-icon name="chevron-left"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="titulo">
      {{ chat.titulo }}
    </ion-title>
    <ion-buttons slot="end" class="end popup-wrapper">
      <ion-button class="popup-button" fill="clear" id="click-trigger">
        <ion-icon name="video"></ion-icon>
      </ion-button>

      <ion-button fill="clear" id="puntos-trigger">
        <ion-icon name="ellipsis-vertical" ></ion-icon>
      </ion-button>

      <ion-popover class="custom-popover" trigger="puntos-trigger" triggerAction="click">
        <ng-template>
          <ion-content>
            <ion-list lines="none">
              <ion-item (click)="abandonarChat()" button>
                <ion-label>Abandonar chat</ion-label>
              </ion-item>
            </ion-list>
          </ion-content>
        </ng-template>
      </ion-popover>
          
      <ion-popover class="custom-popover" trigger="click-trigger" triggerAction="click" dismiss-on-select="true" size="auto">
        <ng-template>
          <ion-content>
            <ion-list lines="none">
              <ion-item (click)="crearLlamadaJitsi()" button>
                <ion-label>Jitsi</ion-label>
              </ion-item>
              <ion-item (click)="crearLlamadaWebRTC()" button>
                <ion-label>WebRTC</ion-label>
              </ion-item>
            </ion-list>
          </ion-content>
        </ng-template>
      </ion-popover>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="contenedor-principal">
    <ion-modal class="enviar-foto-modal" [isOpen]="isModalOpen">
      <ng-template>
        <ion-header>
          <ion-toolbar class="header">
            <ion-buttons>
              <ion-button fill="clear" (click)="cancelarEnviarFoto()">
                <ion-icon slot="icon-only" name="chevron-left"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <div class="contenedor-imagen">
            <ion-img class="imagen" [src]="fotoTomada"></ion-img>
          </div>
        </ion-content>
        <ion-footer>
          <ion-toolbar class="footer">
            <textarea
              placeholder="Añade un comentario..."
              *ngIf="!grabacionIniciada"
              class="texto-mensaje"
              #descripcion="ngModel"
              [(ngModel)]="msg"
              name="mensaje"
              type="text"
              maxlength="800"
              autocomplete="off"
              rows="1"
              required
              (keyup.enter)="enviarMensaje()">
            </textarea>
            <ion-buttons slot="end">
              <ion-button fill="clear" (click)="enviarMensaje()">
                <ion-icon style="color: var(--primary-700);" slot="icon-only" name="send-filled"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-footer>
      </ng-template>
    </ion-modal>
    
    <div class="contenedor-chat">
      <div #scrollContainer class="lista-mensajes">
        <div class="row-mensaje"
        [ngClass]="mostrarMensaje(mensaje.idPersona) ? 'mio' : 'otra-persona'"
        *ngFor="let mensaje of mensajes">
        <div 
          class="bubble"
          [ngClass]="mostrarMensaje(mensaje.idPersona) ? 'mio' : 'otra-persona'">
          <div class="bubble-content">
            <div class="mensaje">
              <span>{{ mensaje.mensaje }}</span>
            </div>
            <div class="adjunto" *ngIf="hayAdjuntoEnMensaje(mensaje)">
              <div class="audio" *ngIf="adjuntoEsAudio(mensaje)">
                <app-audio-wave
                  [color]="setColorAudio(mensaje.idPersona)"
                  [idArchivo]="mensaje.idArchivo"
                  [height]="36"
                  [width]="132"
                  (isAudioPlaying)="onAudioPlay($event)">
                </app-audio-wave>
              </div>
              <div 
                class="archivo ion-activatable" 
                *ngIf="!adjuntoEsAudio(mensaje)" 
                (click)="clickArchivo(mensaje.idArchivo)">
                <ion-ripple-effect></ion-ripple-effect>
                <div id="contenido-archivo">
                  <ion-icon class="icono" name="file"></ion-icon>
                  <span class="nombre-archivo">{{ mensaje.archivoNombre }}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="bubble-footer">
            <div class="fecha-mensaje">
              <span>{{ mensaje.fecha | date: "dd/MM/yyyy 'a las' h:mm a" : '' : 'es-MX' }}</span>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>  
  </div>
</ion-content>

<ion-footer class="chat-footer ion-no-border" >
  <div>
    <ion-toolbar class="optional-toolbar" *ngIf="isAudio || archivo">
      <div *ngIf="isAudio" style="display: flex; justify-content: space-between;  margin: 1vw 2vw 0 2vw;">
        <audio controls [src]="audio2"></audio>
        <ion-buttons style="color: var(--error-200);">
          <ion-button fill="clear" (click)="changeAudio()">
            <ion-icon name="trash" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-buttons>
      </div>
      <div *ngIf="archivo" style="display: flex; justify-content: space-between; margin: 1vw 2vw 0 2vw;">
        <ion-item lines="none" style="width: 100%;">
          <ion-icon slot="start" name="file"></ion-icon>
          <ion-label>{{ archivo?.name }}</ion-label>
        </ion-item>
        <ion-buttons style="color: var(--error-200);">
          <ion-button fill="clear" (click)="eliminarArchivo()">
            <ion-icon name="trash" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-buttons>
      </div>
    </ion-toolbar>

    <ion-toolbar class="main-toolbar">
      <div [ngClass]="{'contenedor-principal2': !alturaTextAreaAlterada}" class="contenedor-principal1">
        <div class="grabando-audio-container" *ngIf="grabacionIniciada">
          <div class="contador-tiempo">
            <ion-buttons slot="start">
              <ion-button fill="clear" disabled>
                <ion-icon style="color: var(--error-200);" size="small" slot="icon-only" name="mic"></ion-icon>
              </ion-button>
            </ion-buttons>
            <span *ngIf="timer$ | async">
              {{duracionAudio}}
            </span>
          </div>
          <span #movableSpan style="position: absolute; transform: translateX(-50%); left: 50%;">
            Desliza para cancelar
            <ion-icon style="position: absolute; right: -10%; bottom: 18%;" name="chevron-left"></ion-icon>
          </span>
        </div>

        <div class="contenedor-izquierda">
          <ion-buttons slot="start" class="left-buttons" *ngIf="!grabacionIniciada">
            <ion-button fill="clear" (click)="openFileInput()">
              <ion-icon slot="icon-only" name="file"></ion-icon>
            </ion-button>
            <input
                type="file"
                id="fileInput"
                #fileInput
                style="display: none"
                (change)="onFileSelected($event)"
              />
          </ion-buttons>
        </div>

        <div class="contenedor-central" *ngIf="!grabacionIniciada">
          <textarea
            #textarea
            class="texto-mensaje"
            #descripcion="ngModel"
            [(ngModel)]="msg"
            name="mensaje"
            type="text"
            maxlength="800"
            autocomplete="off"
            rows="1"
            required
            (keyup.enter)="enviarMensaje()"
            (input)="ajustarAlturaTextarea($event)">
        </textarea>
        </div>
        
          <div class="contenedor-derecha">
            <ion-buttons slot="end" class="right-buttons" *ngIf="!escribiendoMensaje()">
              <ion-button *ngIf="!grabacionIniciada" (click)="tomarFoto()">
                <ion-icon slot="icon-only" name="camera"></ion-icon>
              </ion-button>
              <ion-button 
                appSwipe 
                appPress 
                (press)="presionarGrabarAudio($event)" 
                (swipe)="deslizarCancelarAudio($event)">
                <ion-icon [ngStyle]="{'color': grabacionIniciada ? 'var(--primary-700)' : 'var(--neutral-500)'}" slot="icon-only" name="mic"></ion-icon>
              </ion-button>
            </ion-buttons>
            <ion-buttons slot="end" class="right-buttons" *ngIf="escribiendoMensaje()">
                <ion-button type="submit" (click)="enviarMensaje()" [disabled]="msg === '' || msg === undefined">
                  <ion-icon slot="icon-only" style="color: var(--primary-700);" name="send"></ion-icon>
                </ion-button>
            </ion-buttons>
          </div>
      </div>
    </ion-toolbar>

  </div>
</ion-footer>