<ion-header>
  <ion-toolbar class="chat-header">
    <ion-buttons slot="start">
      <ion-button
        fill="clear"
        routerLink="home/chat-movil"
        (click)="regresarBtn()"
      >
        <ion-icon slot="icon-only" name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title
      class="ion-text-center ion-align-items-center"
      style="padding: 1vh 2vw 1vh 2vw; font-size: 1em; font-weight: bold"
    >
      {{ chat.titulo }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="crearLlamada()">
        <ion-icon name="videocam-outline"></ion-icon>
      </ion-button>

      <ion-button fill="clear" id="puntos-trigger">
        <ion-icon name="ellipsis-vertical-outline" ></ion-icon>
      </ion-button>

      <ion-popover trigger="puntos-trigger" triggerAction="click">
        <ng-template>
          <ion-content>
            <ion-list>
              <ion-item (click)="abandonarChat()">Abandonar Chat</ion-item>
            </ion-list>
          </ion-content>
          
        </ng-template>
      </ion-popover>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-modal class="enviar-foto-modal" [isOpen]="isModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar class="header">
          <ion-buttons>
            <ion-button fill="clear" (click)="cancelarEnviarFoto()">
              <ion-icon slot="icon-only" name="chevron-back"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <div class="contenedor-imagen">
          <ion-img class="imagen" [src]="fotoTomada"></ion-img>
        </div>
      </ion-content>
      <ion-footer>
        <ion-toolbar class="footer">
          <textarea
            placeholder="Añade un comentario..."
            *ngIf="!grabacionIniciada"
            class="texto-mensaje"
            #descripcion="ngModel"
            [(ngModel)]="msg"
            name="mensaje"
            type="text"
            maxlength="800"
            autocomplete="off"
            rows="1"
            required
            (keyup.enter)="enviarMensaje()">
          </textarea>
          <ion-buttons slot="end">
            <ion-button fill="clear" (click)="enviarMensaje()">
              <ion-icon style="color: var(--primary-700);" slot="icon-only" name="send"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-footer>
    </ng-template>
  </ion-modal>

  <div class="chat-container">
    <div #scrollContainer class="listado">
      <div style="height: 2vh;"></div>
      <div *ngFor="let mensaje of mensajes" >
        <div class="message user" *ngIf="mostrarMensaje(mensaje.idPersona)">
          <div class="message-bubble" (click)="validarMeet(mensaje.mensaje)">
            {{mensaje.mensaje}} <br>
            <button class="btn btn-1 archivo" (click)="clickArchivo(mensaje.idArchivo)" *ngIf="mensaje.idArchivo !== 0">
              <i class="fa fa-file" style="font-size: 24px;"></i> {{mensaje.archivoNombre}}
            </button>
            <br>
            {{imprimirFecha(mensaje.fecha)}}
          </div>
        </div>
        <div class="message other" *ngIf="!mostrarMensaje(mensaje.idPersona)">
          <div class="message-bubble">
            <div class="nombre">{{mensaje.nombrePersona}}</div>
            {{mensaje.mensaje}} <br>
            <button class="btn archivo" (click)="clickArchivo(mensaje.idArchivo)" *ngIf="mensaje.idArchivo !== 0">
              <i class="fa fa-file" style="font-size: 24px;"></i> {{mensaje.archivoNombre}}
            </button>
            <br>
            {{imprimirFecha(mensaje.fecha)}}
          </div>
        </div>
      </div>
    </div>
  </div>
 
</ion-content>

<ion-footer class="chat-footer">
  <div class="form-group">

    <ion-toolbar class="optional-toolbar" *ngIf="isAudio || archivo">
      <div *ngIf="isAudio" style="display: flex; justify-content: space-between;  margin: 1vw 2vw 0 2vw;">
        <audio controls [src]="audio2"></audio>
        <ion-buttons style="color: red; opacity: 0.5;">
          <ion-button fill="clear" (click)="changeAudio()">
            <ion-icon name="trash" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-buttons>
      </div>
      <div *ngIf="archivo" style="display: flex; justify-content: space-between; margin: 1vw 2vw 0 2vw;">
        <ion-item lines="none">
          <ion-icon slot="start" name="document-outline"></ion-icon>
          <ion-label>{{ archivo?.name }}</ion-label>
        </ion-item>
        <ion-buttons style="color: red; opacity: 0.5;">
          <ion-button fill="clear" (click)="eliminarArchivo()">
            <ion-icon name="trash" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-buttons>
      </div>
    </ion-toolbar>

    <ion-toolbar class="main-toolbar">
      <div class="grabando-audio-container" *ngIf="grabacionIniciada">
        <div class="contador-tiempo">
          <ion-buttons slot="start">
            <ion-button fill="clear" disabled>
              <ion-icon size="small" slot="icon-only" name="mic"></ion-icon>
            </ion-button>
          </ion-buttons>
          <span *ngIf="timer$ | async">
            {{duracionAudio}}
          </span>
        </div>
        <span #movableSpan style="position: absolute; transform: translateX(-50%); left: 50%;">
          Desliza para cancelar
          <ion-icon style="position: absolute; right: -10%; bottom: 18%;" slot="icon-only" name="chevron-back"></ion-icon>
        </span>
      </div>

      <ion-buttons slot="start" class="left-buttons" *ngIf="!grabacionIniciada">
        <ion-button fill="clear" (click)="openFileInput()">
          <ion-icon slot="icon-only" style="color: var(--primary-700);" name="document-outline"></ion-icon>
        </ion-button>
        <input
            type="file"
            id="fileInput"
            #fileInput
            style="display: none"
            (change)="onFileSelected($event)"
          />
      </ion-buttons>

      <textarea
        *ngIf="!grabacionIniciada"
        class="texto-mensaje"
        #descripcion="ngModel"
        [(ngModel)]="msg"
        name="mensaje"
        type="text"
        maxlength="800"
        autocomplete="off"
        style="width: 100%"
        rows="1"
        required
        (keyup.enter)="enviarMensaje()">
      </textarea>
        
      <ion-buttons slot="end" class="right-buttons" *ngIf="!escribiendoMensaje()">
        <ion-button *ngIf="!grabacionIniciada" (click)="tomarFoto()">
          <ion-icon slot="icon-only" style="color: var(--primary-700);" name="camera-outline"></ion-icon>
        </ion-button>
        <ion-button 
          appSwipe 
          appPress 
          (press)="presionarGrabarAudio($event)" 
          (swipe)="deslizarCancelarAudio($event)">
          <ion-icon slot="icon-only" style="color: var(--primary-700);" name="mic-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="end" class="left-buttons" *ngIf="escribiendoMensaje()">
        <div class="form-group">
          <ion-button type="submit" (click)="enviarMensaje()" [disabled]="msg === '' || msg === undefined">
            <ion-icon slot="icon-only" style="color: var(--primary-700);" name="paper-plane"></ion-icon>
          </ion-button>
        </div>
      </ion-buttons>
      
    </ion-toolbar>
    
  </div>
</ion-footer>
