.chat-header{
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
  border-bottom: 1px solid var(--neutral-100);

  ion-toolbar{
    --background: var(--neutral-50);
    padding-top: 32px;

    .titulo{
      font-family: var(--font-body);
      font-size: 18px;
      color: var(--neutral-900);
      font-weight: bold;
    }
    ion-button{
      color: var(--primary-700);
      ion-icon{
        font-size: 24px !important;
      }
    }
    .start{
      margin-left: 16px;
    }
    .end{
      margin-right: 16px;
    }
  }
}

.contenedor-principal{
  min-height: 100%;
  height: fit-content;
  background: url('../../../../../assets/background_pattern.svg');
}

.lista-mensajes {
  overflow-y: scroll;
  padding: 32px;

  .row-mensaje{
    width: 100%;
    height: auto;
    display: flex;
    
    .bubble{
      width: fit-content;
      max-width: 80%;
      margin: 8px 0 8px 0;
      font-family: var(--font-body);

      .bubble-content{
        padding: 10px;
        padding-bottom: 4px !important;

        .mensaje{
          font-size: 16px;
        }
        .adjunto{
          border-radius: 4px;
        }
      }
      .bubble-footer{
        padding: 10px;
        padding-top: 4px !important;
        .fecha-mensaje{
          width: 100%;
          font-size: 10px;
          text-align: end;
        }
      }
    }

    .bubble.otra-persona{
      background: var(--neutral-50) !important;
      border-radius: 16px 16px 16px 0px !important;
      .bubble-content{
        color: var(--neutral-900);
        
        .adjunto{
          background: var(--neutral-200);
        }
      }
      .bubble-footer{
        color: var(--neutral-600);

        .fecha-mensaje{
          text-align: start !important;
        }
      }
    }

    .bubble.mio{
      background: var(--primary-700) !important;
      border-radius: 16px 16px 0px 16px !important;
      color: var(--neutral-50);

      .adjunto{
        background: var(--primary-800);
      }
    }
  }

  .row-mensaje.mio{
    justify-content: end !important;
  }

  .row-mensaje.otra-persona{
    justify-content: start !important;
  }

  .adjunto{
    margin-top: 4px;
    .audio{
      width: fit-content;
      height: 36px;
      padding: 0 16px 0 8px;
    }

    .archivo{
      width: 100%;
      max-width: 320px;
      height: 36px;
      padding: 0 8px 0 8px;
      position: relative; //necesario para el ripple effect, así como la clase ion-activatable
      #contenido-archivo{
        height: 100%;
        display: flex;
        align-items: center;
        .icono{
          margin-right: 4px;
          font-size: 16px !important;
        }
        .nombre-archivo{
          font-size: 12px;
          width: calc(100% - 24px);
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          display: inline-block;
        }
      }
    }
  }

}

.chat-footer{
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  border-top: 1px solid var(--neutral-100);

    .optional-toolbar{
      audio::-webkit-media-controls-panel {
        background-color: var(--neutral-50);
      }
    }
    .main-toolbar{
      padding-bottom: 32px;

      .grabando-audio-container{
        display: flex;
        align-items: center;

        .contador-tiempo{
          display: flex;
          align-items: center;
          z-index: 99;
          background-color: var(--neutral-50);
          padding-right: 2vw;

          ion-button{
            color: var(--error-200);
            opacity: 1;
          }
        }
      }

      .contenedor-principal1{
        display: flex;
        justify-content: space-between;
        ion-icon{
          color: var(--neutral-500);
        }
      }

      //Si la altura del textarea no ha sido alterada por tener varias lineas, 
      //los botones estarán centrados con el textarea
      .contenedor-principal2{
        align-items: center;
      }

      .contenedor-izquierda{
        display: flex;
        align-items: flex-end !important;
      }

      .contenedor-central{
        display: flex;
        align-items: flex-end;
        margin-bottom: 12px;
        margin-top: 12px;
        width: 100%;

        .texto-mensaje{
          border: 1px solid;
          border-color: var(--primary-100);
          border-radius: 5px;
          background-color: var(--primary-50);
          max-height: 100px !important;
          padding: 8px;
          width: 100%;
          scrollbar-width: none !important;
          -ms-overflow-style: none !important;
        }

        .texto-mensaje:focus{
          outline: none !important;
        }

        
      }

      .contenedor-derecha{
        display: flex;
        align-items: flex-end;
      }

    }

}

.enviar-foto-modal{

  ion-content{
    --background: var(--neutral-950);
  }

  .contenedor-imagen{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .texto-mensaje{
    margin-left: 10vw;
    width: 70vw;
    border: 0px;
    border-radius: 5px;
    background-color: var(--primary-50);

  }

  .texto-mensaje:focus{
    outline: none !important;
    border: 1px solid;
    border-color: var(--primary-700);

  }
}

