::ng-deep{
    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
        color:var(--primary-700);
        border-color: transparent;
        border-bottom: .2em solid var(--primary-700);
        font-weight: 700;
    }

    .nav-link{
        color:var(--neutral-700);
    }

    .nav-link:focus, .nav-link:hover{
        color:var(--primary-700);
    }
}

.subseccion-gray{
    font-family: var(--font-body);
    font-size: 20px;
    font-weight: bold;
    color: var(--neutral-700);
    border-bottom: 1px solid var(--neutral-200);
    margin: 0;
    padding: 30px;
    width: 100%;
  
    .titulo{
      color: var(--primary-700);
      font-size: 16px;
  
    }
  
  }