:ng-deep .ui-table-caption {
  padding: 0 !important;
  background-color: #ffffff !important;
  border: none !important;
}

::ng-deep .primeng-table .ui-state-highlight {
  background-color: #deebf7 !important;
  color: black !important;
}

.primeng-table {
  table,
  tr,
  td,
  th {
    border: none !important;
    font-family: "Roboto", "Segoe UI", sans-serif;
    font-size: 13px;
  }

  th,
  td {
    padding-top: 3px;
    padding-bottom: 3px;
  }

  td i {
    font-size: 13px;
  }

  .table-header > th {
    color: #0000008a;
    background-color: #ffffff;
    font-weight: 600;
  }

  .row-group-header {
    font-weight: bold;
  }

  tr {
    border-top: 1px solid #bdc3c7 !important;
    border-bottom: 1px solid #bdc3c7 !important;

    &:not(.ui-state-highlight) {
      &:nth-child(even) {
        background-color: #ededed !important;
      }

      &:hover {
        background-color: #fff2cc !important;
      }
    }
  }
}
