<app-widget title="Sueño" iconClass="bed-outline">
  <div class="container d-flex justify-content-center align-items-center">
    <div class="seccion-porcentaje text-center">
      <div class="relative-container">
        <div class="circle-container">
          <span class="valor">{{ suenoActual | number }}%</span>
        </div>
        <div class="img-container">
          <img src="/assets/img/widgets/sleeping.png"/>
        </div>
      </div>
      <div class="label mt-2">Calidad de Sueño</div>
    </div>

    <div class="seccion-valores d-flex flex-column gap-2">
      <!--Sueño REM-->
      <div class="sueno-rem">
        <div>
          <span class="valor">{{ horasMinDiarias }}</span>
          <span class="unidad">h</span>
          <span class="valor">{{ minutosMinDiarias }}</span>
          <span class="unidad">min</span>
        </div>
        <div>
          <span class="label">Sueño Rem</span>
        </div>
      </div>

      <!--Tiempo dormido-->
      <div class="sueno-profundo align-self-end">
        <div>
          <span class="valor">{{ suenoProfundo }}</span>
          <span class="unidad">h</span>
          <span class="valor">{{ minsuenoProfundo }}</span>
          <span class="unidad">min</span>
        </div>
        <div>
          <span class="label">Sueño Profundo</span>
        </div>
      </div>

      <!--Sueño Profundo-->
      <div class="tiempo-dormido">
        <div>
          <span class="valor">{{ tiempoDormido }}</span>
          <span class="unidad">h</span>
          <span class="valor">{{ minutostiempoDormido }}</span>
          <span class="unidad">min</span>
        </div>
        <div>
          <span class="label">Tiempo Dormido(a)</span>
        </div>
      </div>
    </div>
  </div>
</app-widget>
