<ion-header>
  <app-header></app-header>
</ion-header>

<ion-router-outlet></ion-router-outlet>

<!-- <div class="rellenar-div">
  <app-barra-chats
    class="overflow"
    [chats]="chats"
  ></app-barra-chats>
</div> -->

<!-- <div class="row">
  <div class="col-4">
    <div class="rellenar-div">
      <app-barra-chats
        class="overflow"
        [chats]="chats"
        (idChatPadre)="obtenerChatSeleccionado($event)"
      ></app-barra-chats>
    </div>
  </div>

  <div class="col-8">

    <div class="row">
      <div class="mensajes">
        <app-mensajes
          *ngIf="clickEnChat"
          [mensajes]="mensajesChatSeleccionado"
          [idChat]="idChatSeleccionado"
        ></app-mensajes>
      </div>
    </div>
  </div>
</div> -->
