 <!-- 1 Variable -->
 <div *ngIf="tipoWidget === 1" class="widget-hover">
  <app-widget
  title="{{ nombrePadecimiento }}"
  colorTitle="var(--primary-950)"
  widgetClass="seguimiento"
>
  <div class="container d-flex justify-content-center gap-5">
    <div class="dato">

      <span class="nombre">{{ nombreVariable }}</span>
      <span class="valor ">{{ valorVariable }}</span>
      <span class="unidad">{{ unidadVariable }}</span>
    </div>

    <div class="dato">

      <span class="nombre">{{ nombreTratamiento }}</span>
      <span class="valor"> {{tomasTomadas }}/{{ tomasTotales }} </span>
    </div>
  </div>
</app-widget>
</div>
<!-- 2 Variables -->
<div *ngIf="tipoWidget === 2"  class="widget-hover">
  <app-widget
  title="{{ nombrePadecimiento }}"
  colorTitle="var(--primary-950)"
  widgetClass="seguimiento"
>
  <div class="d-flex justify-content-center gap-5">
    <div class="col">
      <div class="dato">
        <div class="container">
          <div class="row test">
            <!-- Primera columna -->
            <div class="col-6 align-items-center">
              <span class="valor valor-2">{{ valorVariable }}</span>
            </div>
            <!-- Segunda columna -->
            <div class="col-6">
              <div class="row">
                <!-- Fila 1 en la segunda columna -->
                <div class="col-12">
                  <span class="nombre">{{ nombreVariable }}</span>
                </div>
                <!-- Fila 2 en la segunda columna -->
                <div class="col-12">
                  <span class="unidad">{{ unidadVariable }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="dato">
        <div class="container">
          <div class="row test">
            <!-- Primera columna -->
            <div class="col-6 align-items-center">
              <span class="valor valor-2">{{ valorVariable2 }}</span>
            </div>
            <!-- Segunda columna -->
            <div class="col-6">
              <div class="row">
                <!-- Fila 1 en la segunda columna -->
                <div class="col-12">
                  <span class="nombre">{{ nombreVariable2 }}</span>
                </div>
                <!-- Fila 2 en la segunda columna -->
                <div class="col-12">
                  <span class="unidad">{{ unidadVariable2 }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
   

    <div class="dato">

      <span class="nombre">{{ nombreTratamiento }}</span>
      <span class="valor">{{ tomasTomadas}}/{{ tomasTotales }}</span>
    </div>
  </div>
</app-widget>
</div>
<!-- 1 Variable y un circlo-->
<div *ngIf="tipoWidget === 3"  class="widget-hover">
  <app-widget
  title="{{ nombrePadecimiento }}"
  colorTitle="var(--primary-950)"
  widgetClass="seguimiento"
>
    <div class="container d-flex align-items-center gap-5">
      <div class="dato">
        <div class="counter d-flex flex-column align-items-center">
          <div class="circle-container">
            <div class="valor" style="align-self: center;">{{ valorVariable | number }}</div>
            <div class="label">{{unidadVariable}}</div>
          </div>
        </div>
      </div>

      <div class="dato">

        <span class="nombre">{{ nombreTratamiento }}</span>
        <span class="valor">{{ tomasTomadas }}/{{ tomasTotales }}</span>
      </div>
    </div>
  </app-widget>
</div>

