@import '../styles/circle-container.scss';
@import '../../../../../../../theme/variables.scss';
.dato {
  position: relative;
  width: 28vw;
  font-size: 4vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0.8em;
  font-family: var(--font-body);

  .icono {
    position: absolute;
    top: 0;
    right: -10px;
  }

  .nombre {
    align-self: flex-start;
    font-size: 0.6em;
    color: var(--neutral-600);
  }



  .valor {
    align-self: flex-start;
    font-size: 1.6em;
    font-weight: bold;
    color: var(--primary-700);
  }
  .unidad {
    font-size: 1;
    color: var(--neutral-300);
  }

}

.counter {
  color: black;

  .circle-container {
    width: 20vw;
    font-size: 5.5vw;
    border-color: var(--neutral-700);

    .valor {
      font-size: 1em;
      font-weight: bold;
      
    }

    .label {
      font-size: 0.5em;
    }
  }

  .meta {
    font-size: 2vw;

    .valor {
      font-size: 1.6em;
      font-weight: bold;
    }
  }
}

.widget-hover {
  transition: transform 0.2s ease-in-out;
}

.widget-hover:hover {
  transform: scale(1.025);
}

.col-6{
  display: flex;
  padding: 0;
  align-self: center !important;
}

.valor-2{
  position: relative;
  top: 50%;
  //right: -1vh;
  transform: translateY(15%);
}
