<ion-header class="ion-no-border">
  <div class="contenedor-header-light">
    <ion-toolbar>
      <ion-buttons class="start" slot="start">
        <ion-button (click)="regresarBtn()">
          <ion-icon name="chevron-left"></ion-icon>
          <ion-label>Atrás</ion-label>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </div>
</ion-header>
<ion-content class="primary">
  <div class="contenedor-principal">
    <div class="titulo">
      <ion-text>
        <h3>Nuevo chat</h3>
      </ion-text>
    </div>
    <div class="contenedor-barra-busqueda">
      <app-searchbar (search)="handleSearch($event)"></app-searchbar>
    </div>
    <div class="lista-doctores"> 
      
      <ion-list style="margin-top: 16px;" lines="none" *ngIf="filtrando">
        <ion-item class="doctor" *ngFor="let doctor of doctoresFiltrados" detail button detailIcon="chevron-right" (click)="mostrarAlertCrearChat(doctor.idUsuarioDoctor)">
          <ion-avatar slot="start">
            <ion-img *ngIf="doctor.urlImagen" alt="profile pic" [src]="doctor.urlImagen"></ion-img>
            <ion-img *ngIf="!doctor.urlImagen" alt="profile pic" src="assets/img/svg/avatar-placeholder.svg"></ion-img>
          </ion-avatar>
          <ion-label>{{doctor.titulo}} {{ doctor.nombre }}</ion-label>
        </ion-item>
      </ion-list>

      <ng-container *ngFor="let group of gruposDoctores">
        <ion-list lines="none" *ngIf="!filtrando">
          <ion-item-divider class="divider">
            {{ group.letra }}
          </ion-item-divider>
          <ion-item class="doctor" *ngFor="let doctor of group.doctores" detail button detailIcon="chevron-right" (click)="mostrarAlertCrearChat(doctor.idUsuarioDoctor)">
            <ion-avatar slot="start">
              <ion-img *ngIf="doctor.urlImagen" alt="profile pic" [src]="doctor.urlImagen"></ion-img>
              <ion-img *ngIf="!doctor.urlImagen" alt="profile pic" src="assets/img/svg/avatar-placeholder.svg"></ion-img>
            </ion-avatar>
            <ion-label>{{doctor.titulo}} {{ doctor.nombre }}</ion-label>
          </ion-item>
        </ion-list>
      </ng-container>
    </div>
  </div>
</ion-content>


<!-- <ion-header>
  <ion-toolbar class="primary-toolbar">
      <ion-buttons>
          <ion-button fill="clear" (click)="regresarBtn()">
              <ion-icon slot="icon-only" name="chevron-back"></ion-icon>
          </ion-button>
          <ion-button fill="clear" (click)="regresarBtn()">
            Regresar
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-title>Nuevo Chat</ion-title>
  <ion-toolbar class="barra-busqueda" >
    <ion-searchbar show-cancel-button="focus" placeholder="Buscar" animated (ionChange)="buscar($event)"></ion-searchbar>
  </ion-toolbar>

  <ng-container *ngFor="let group of gruposDoctores">
    <ion-list>
      <ion-item-divider>
        {{ group.letra }}
      </ion-item-divider>
      <ion-item *ngFor="let doctor of group.doctores">
        <ion-avatar>
          <ion-img *ngIf="doctor.urlImagen" alt="profile pic" [src]="doctor.urlImagen"></ion-img>
          <ion-img *ngIf="!doctor.urlImagen" alt="profile pic" src="https://ionicframework.com/docs/img/demos/avatar.svg"></ion-img>
        </ion-avatar>
        <ion-label style="padding-left: 2vh;" (click)="doctorClick(doctor.idUsuarioDoctor)">{{ doctor.nombre }}</ion-label>

        <div class="generar-chat" *ngIf="doctorSeleccionado && doctor.idUsuarioDoctor === idDoctorSelecionado">
          <ion-item lines="none">
            <ion-input
              class="nombre-chat" 
              label="Generar chat: "
              placeholder="Nombre del chat"
              labelPlacement="floating" 
              name="tituloChat" 
              [(ngModel)]="tituloChat">
            </ion-input>
            <ion-button slot="end" (click)="crearChat()" fill="clear">
              <ion-icon slot="icon-only" name="send"></ion-icon>
            </ion-button>
          </ion-item>
      </div>
      </ion-item>
    </ion-list>
  </ng-container>
</ion-content> -->
