@import "../../../shared/styles/variables.scss";

.grid-header {
  display: grid !important;
  grid-template-columns: 65% 35%;
}

.grid-images {
  grid-column: 2;
}

.grid-header img,
.divImage {
  float: right;
  width: 15px;
  height: 15px;
  margin: 6px;
  cursor: pointer;
}

.divImage i{
  font-size: 18px;
}

.grid-input {
  text-align: center !important;
}

.grid-download {
  cursor: pointer;
}

.ag-header-cell-text {
  flex: 1;
}

.ag-theme-balham {
  color: $color-font !important;
}

.ag-theme-balham .ag-row-selected {
  background-color: $color-terceario !important;
}

.ag-theme-balham .ag-root {
  border: 1px #ffffff solid !important;
}

.ag-theme-balham .ag-row {
  border: transparent !important;
}

.ag-root,
.ag-row {
  border: none !important;
}

.ag-header {
  border-bottom: 1px $color-secundario solid;
}

.ag-theme-balham .ag-paging-panel {
  border-top: 0;
}

.ag-body-viewport {
  border-bottom: 0px $color-secundario solid;
  
  max-height: calc(100vh - 346px);
    position: relative;
    overflow: scroll;
    overflow-y: auto !important;
    width: 100%; 
}

.ag-header .ag-header-cell-sortable,
.ag-pinned-left-header .ag-header-cell-sortable,
.ag-pinned-right-header .ag-header-cell-sortable,
.ag-cell {
  padding-left: 10px;
}

.ag-root-wrapper-body.ag-layout-normal {
  height: 100% !important;
}

.ag-header {
  background: #ffffff !important;
}

.ag-row-even {
  background: #ededed !important;
}

.ag-row-hover {
  background: $color-terceario !important;
}

app-grid-action .delete,
app-grid-action .edit,
app-grid-action .copy,
app-grid-action .see {
  cursor: pointer;
}

.ag-theme-balham .ag-header {
  border-top: 1px $color-secundario solid;
}

.ag-theme-balham,
.ag-theme-balham .ag-header {
  font-size: 13px !important;
}

.grid-reg-pagina .selectize-input {
  padding: 2px;
  height: 22px !important;
  line-height: 17px !important;
}

.grid-reg-pagina .item {
  padding-left: 3px !important;
}

.ag-cell-edit-input {
  text-align: center;
  color: grey;
  border: none !important;
}

.grid-reg-pagina .selectize-input {
  padding: 2px !important;
}

.fa-exclamation-triangle {
  color: #de3b39 !important;
}

.ag-floating-bottom .ag-row {
  background: white !important;
}

.ag-theme-balham .ag-header-cell::after,
.ag-theme-balham .ag-header-group-cell::after {
  display: none !important;
}

.ag-center-cols-viewport {
  overflow: hidden !important;
  width: 100%;
  overflow-x: auto;
}

.ag-cell {
  display: flex;
  align-items: center;
}