<div class="d-flex">
  <div class="barra-lateral-modal"></div>
  <div class="modal-content">
    <div class="modal-header">
      <div>Tipo evaluación - {{ accion }}</div>
      <button class="btn-salir" (click)="cancelar()">
        <lucide-icon name="x" size="10"></lucide-icon>
      </button>
    </div>
    <form
      (keydown.enter)="$event.preventDefault()"
      #formulario="ngForm"
      (ngSubmit)="enviarFormulario(formulario)"
      novalidate="novalidate"
    >
      <div class="modal-body" id="modal">
        <div class="row">
          <div class="col" style="width: 30%">
            <div class="form-group">
              <label class="label-input required-label">Fecha Alta</label>
              <div class="calendario">
                <input
                  #fechaAlta="ngModel"
                  type="text"
                  class="form-control"
                  autocomplete="off"
                  placeholder="dd/mm/aaaa"
                  [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
                  name="fechaAlta"
                  [(ngModel)]="asignatura.fechaAlta"
                  required
                  bsDatepicker
                  disabled="disabled"
                />
              </div>
              <div *ngIf="fechaAlta.errors?.['required'] && fechaAlta.touched" class="error">
                La fecha alta es requerida
              </div>
            </div>
          </div>
          <div class="col" style="width: 30%">
            <div class="form-group">
              <label class="label-input required-label">Estatus</label>
              <div class="calendario">
                <input 
                   [value]="asignatura.estatus ? 'Activo' : 'Inactivo'" 
                   name="estatusContrato"
                   class="form-control"
                   type="text" 
                   [required]="true" 
                   disabled="disabled"
                 />
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col" style="width: 60%">
            <div class="form-group">
              <label class="label-input required-label">Tipo de evaluación</label>
              <div>
                <input
                  #descripcion="ngModel"
                  [(ngModel)]="asignatura.descripcion"
                  maxlength="200"
                  name="descripcion"
                  class="form-control"
                  type="text"
                  [required]="true"
                />
              </div>
              <div
                *ngIf="descripcion.errors?.['required'] && descripcion.touched"
                class="error"
              >
                El Cuestionario es requerida
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <div class="text-right">
          <button
            type="button"
            class="btn-secundario btn-margin-right"
            (click)="cancelar()"
          >
            Cancelar
          </button>
        </div>

        <div class="text-right">
          <button
            [disabled]="submiting"
            type="submit"
            class="btn-primario btn-margin-left"
          >
            Guardar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
