 <!-- 1 Variable -->
 <div *ngIf="tipoWidget === 1">
  <app-widget
  title="Seguimiento de {{ nombrePadecimiento }}"
  iconClass="medkit-outline"
>
  <div class="container d-flex justify-content-center gap-4">
    <div class="dato">
      <span class="icono"><ion-icon class="{{claseVariable}}"></ion-icon></span>
      <span class="nombre">{{ nombreVariable }}</span>
      <span class="valor">{{ valorVariable }}</span>
      <span class="unidad">{{ unidadVariable }}</span>
    </div>

    <div class="dato">
      <span class="icono"><ion-icon class="{{claseTratamiento}}"></ion-icon></span>
      <span class="nombre">{{ nombreTratamiento }}</span>
      <span class="valor">2 de 4</span>
    </div>
  </div>
</app-widget>
</div>
<!-- 2 Variables -->
<div *ngIf="tipoWidget === 2">
  <app-widget
  title="Seguimiento de {{ nombrePadecimiento }}"
  iconClass="medkit-outline"
>
  <div class="container d-flex justify-content-center gap-4">
    <div class="col">
      <div class="dato">
        <span class="icono"><ion-icon class="{{claseVariable}}"></ion-icon></span>
        <span class="nombre">{{ nombreVariable }}</span>
        <span class="valor">{{ valorVariable }}</span>
        <span class="unidad">{{ unidadVariable }}</span>
      </div>
  
      <div class="dato">
        <span class="icono"><ion-icon class="{{claseVariable2}}"></ion-icon></span>
        <span class="nombre">{{ nombreVariable2 }}</span>
        <span class="valor">{{ valorVariable2 }}</span>
        <span class="unidad">{{ unidadVariable2 }}</span>
      </div>
    </div>
   

    <div class="dato">
      <span class="icono"><ion-icon class="{{claseTratamiento}}"></ion-icon></span>
      <span class="nombre">{{ nombreTratamiento }}</span>
      <span class="valor">2 de 4</span>
    </div>
  </div>
</app-widget>
</div>
<!-- 1 Variable y un circlo-->
<div *ngIf="tipoWidget === 3">
  <app-widget
  title="Seguimiento de {{ nombrePadecimiento }}"
  iconClass="medkit-outline"
>
    <div class="container d-flex align-items-center gap-2">
      <div class="counter d-flex flex-column align-items-center">
        <!-- Contador -->
        <div class="circle-container">
          <div class="valor">{{ valorVariable | number }}</div>
          <div class="label">{{unidadVariable}}</div>
        </div>
    </div>

    <div class="dato">
      <span class="icono"><ion-icon class="{{claseTratamiento}}"></ion-icon></span>
      <span class="nombre">{{ nombreTratamiento }}</span>
      <span class="valor">2 de 4</span>
    </div>
    </div>


  </app-widget>
</div>

