@import '../../styles/circle-container.scss';
.dato {
  position: relative;
  width: 28vw;
  font-size: 4vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0.8em;

  .icono {
    position: absolute;
    top: 0;
    right: 0;
  }

  .nombre {
    align-self: flex-start;
    font-size: 0.6em;
  }

  .icono {
    font-size: 1.6em;
  }

  .valor {
    font-size: 1.6em;
    font-weight: bold;
  }
  .unidad {
    font-size: 1;
  }

}

.icono-seguimiento {
  padding: 9px;
  padding-left: 0;
  font-size: 3vw;
  color: #741798;
}


.counter {
  color: black;

  .circle-container {
    width: 20vw;
    font-size: 5.5vw;
    border-color: #B0D8FB;

    .valor {
      font-size: 1em;
      font-weight: bold;
    }

    .label {
      font-size: 0.5em;
    }
  }

  .meta {
    font-size: 2vw;

    .valor {
      font-size: 1.6em;
      font-weight: bold;
    }
  }
}

.widget-hover {
  transition: transform 0.2s ease-in-out;
}

.widget-hover:hover {
  transform: scale(1.025);
}
