<div class="d-flex">
  <div class="barra-lateral-modal"></div>
  <div class="modal-content">
    <div class="modal-header">
      <div>{{ accion }} Municipio</div>
      <button type="button" class="close pull-right" aria-label="Close" (click)="cancelar()">
        <i class="far fa-times-circle"></i>
      </button>
    </div>
    <form
      (keydown.enter)="$event.preventDefault()"
      #formulario="ngForm"
      (ngSubmit)="enviarFormulario(formulario)"
      novalidate="novalidate"

    >
      <div class="cuerpo-contenedor" id="modal">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label class="label-input required-label">Clave</label>
              <div>
                <input
                  #clave="ngModel"
                  [(ngModel)]="municipio.clave"
                  name="clave"
                  class="form-control"
                  type="text"
                  maxlength="20"
                  minlength="1"
                  autocomplete="off"
                  required
                  [disabled]="municipio.idMunicipio > 0"
                />
                <div *ngIf="clave.errors?.['required'] && clave.touched" class="error">
                  La clave es requerido
                </div>
              </div>
            </div>
          </div>
          <div class="form-group col-md-8">
            <label class="label-input required-label">País</label>
            <ng-select
              #paisLst="ngModel"
              name="paisName"
              bindLabel="nombre"
              bindValue="idPais"
              [items]="paisList"
              [required]="true"
              [(ngModel)]="municipio.idPais"
              [placeholder]="placeHolderSelect"
              [notFoundText]="placeHolderNoOptions"
              (ngModelChange)="consultarEstados($event);"
            ></ng-select>
            <div *ngIf="paisLst.errors?.['required'] && paisLst.touched" class="error">
              El país es requerido
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-12">
            <label class="label-input required-label">Estado</label>
            <ng-select
              #estadoLst="ngModel"
              name="estadoName"
              bindLabel="nombre"
              bindValue="idEstado"
              [items]="estadoList"
              [required]="true"
              [(ngModel)]="municipio.idEstado"
              [placeholder]="placeHolderSelect"
              [notFoundText]="placeHolderNoOptions"
            ></ng-select>
            <div *ngIf="estadoLst.errors?.['required'] && estadoLst.touched" class="error">
              El estado es requerido
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label class="label-input required-label">Municipio</label>
              <div>
                <input
                  #nombre="ngModel"
                  [(ngModel)]="municipio.nombre"
                  name="nombre"
                  class="form-control"
                  type="text"
                  maxlength="50"
                  autocomplete="off"
                  required

                />
                <div *ngIf="nombre.errors?.['required'] && nombre.touched" class="error">
                  El nombre es requerido
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="text-right">
          <button type="button" (click)="cancelar()" class="btn-secundario btn-margin-left">
            Cancelar
          </button>
          <button [disabled]="btnSubmit" type="submit" class="btn-primario btn-margin-left">
            Guardar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
