<ion-header class="ion-no-border">
  <div class="contenedor-header-light">
    <ion-toolbar>
      <ion-buttons class="start" slot="start">
        <ion-button (click)="cerrarModal()">
          <ion-icon slot="start" name="chevron-left"></ion-icon>
          <ion-label>Atrás</ion-label>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </div>
</ion-header>
<ion-content>
  <div class="contenedor-principal">
    <header class="texto">
      <ion-text id="titulo">
        <h1>Términos y condiciones</h1>
      </ion-text>
    </header>

    <section class="texto">
      <ion-text>

        <!-- 1. Responsable del servicio -->
        <h3>1. Responsable del servicio</h3>
        <p>
          CHRISTUS - LATAM HUB CENTER OF EXCELLENCE AND INNOVATION, S.C.  (denominado como “CHRISTUS CEI”) bajo el uso
          de la Aplicación denominada como “Oncotracker” ofrece los Servicios que se describen en los presentes Términos
          y Condiciones. 
        </p>
        <p>
          Podrás ponerte en contacto con nosotros, y ser contactado a través de los siguientes canales de comunicación: 
        </p>

        <address>
          <ul>
            <li><b>Teléfono:</b> 8123148100</li>
            <li><b>Correo electrónico:</b> <br> <a href="mailto:oncotracker@christuscei.mx" class="custom-link">oncotracker@christuscei.mx</a></li>
          </ul>
        </address>
        <p>
          En caso de tener alguna duda sobre nuestros Servicios (dicho término se define más adelante) podrás contactarnos en los citados medios de atención. En caso de que hayamos recibido tu solicitud en días u horas no hábiles, la misma se tendrá por presentada a partir del día hábil siguiente.  
        </p>
        <p>
          En caso de que necesitemos contactarte, lo haremos a través del correo electrónico que tengas registrado o a través de la propia Aplicación.  
        </p>

        <!-- 2. Aceptacion de los terminos y condiciones -->
        <h3>2. Aceptación de los Términos y Condiciones</h3>
        <p>
          Al hacer uso de nuestros Servicios (registrarse o hacer uso de la Aplicación) usted acepta y queda obligado de conformidad con los presentes Términos y Condiciones, y autoriza que Aplicación utilice su información para los fines contemplados en nuestro Aviso de Privacidad. Para más información sobre el tratamiento que llevamos a cabo de tus datos personales ponemos a tu disposición nuestro Aviso de Privacidad.
        </p>
        <p>
          Por lo anterior, le recomendamos que, de manera previa a utilizar los Servicios de la Aplicación, lea cuidadosamente los presentes Términos y Condiciones, así como nuestro Aviso de Privacidad, ya que los mismos pueden ser actualizados y/o modificados por CHRISTUS CEI en cualquier momento.  
        </p>
        <p>
          Si usted no está de acuerdo con los presentes Términos y Condiciones, deberá abstenerse de utilizar nuestros Servicios y, en consecuencia, de registrarse como Usuario de la Aplicación.   
        </p>

        <!-- 3. Definiciones -->
        <h3>3. Definiciones</h3>
        <p>
          Para efectos de lo dispuesto en los presentes Términos y Condiciones, se emplearán las siguientes definiciones:
        </p>
        <ul>
          <li><b>Aviso de Privacidad:</b>  Es el documento físico, electrónico o en cualquier otro formato generado por CHRISTUS CEI y que es puesto a disposición de la persona a la que corresponden los datos personales, previo al tratamiento de sus datos personales.  </li>
          <li><b>Aplicación:</b> Es un desarrollo informático aplicativo (app) diseñado para realizar una función determinada directamente para el usuario, la cual se implementa en distintos sistemas operativos MultiOS (ANDROID-iOS).  </li>
          <li><b>Servicios:</b> Son los servicios de la Aplicación que se describen en el apartado 4 de los presentes Términos y Condiciones. </li>
          <li><b>Términos y Condiciones:</b> Se refiere a los presentes Términos y Condiciones, mismos que establecen la forma y el fondo que regirán el uso de la Aplicación.   </li>
          <li><b>Usuario:</b> Cualquier persona que se registre como tal en la Aplicación. </li>
        </ul>

        <!-- 4. Servicios -->
        <h3>4. Servicios</h3>
        <p>
          El objetivo único y exclusivo de la Aplicación es optimizar la calidad de la atención al paciente oncológico desde una perspectiva integral que incluya la mejora de la comunicación entre el paciente y personal clínico, abordando tanto la dimensión emocional como el seguimiento detallado de su padecimiento a través de módulos para el registro de datos clínicos, tratamientos y estudios del paciente. 
        </p>
        <p>
          CHRISTUS CEI no es responsable sobre la veracidad de la información que el Usuario ha proporcionado a la Aplicación.    
        </p>

        <p>
          CHRISTUS CEI no garantiza ni asegura la precisión e idoneidad de cualquier tipo de información disponible en la Aplicación, incluyendo leyes, notas explicativas, etc., así como de la información emitida por cualquier autoridad, de carácter informativa, como Diarios Oficiales o Circulares, ya que los cambios que realizan las autoridades son sin previo aviso y de momento a momento.  
        </p>

        <p>
          CHRISTUS CEI no autoriza el uso de la información disponible dentro de la Aplicación, para cualquier otro propósito que no sea el uso de la Aplicación y, asimismo, prohíben, la reventa, redistribución y uso de esta información para propósitos comerciales. Ninguna parte del contenido de la Aplicación tiene por objeto servir de asesoramiento profesional, ni podrá ser utilizado en ningún litigio contra CHRISTUS CEI, sólo constituye una difusión (compilación-base de datos) de criterios ordenados y analizados por especialidad, de carácter informativo, analítico, reflexivo y explicativo.  
        </p>

        <p>
          Los resultados que se obtengan por el uso de la información de la Aplicación son responsabilidad exclusiva del Usuario, en el entendido de que CHRISTUS CEI, sus técnicos y profesionistas no tendrán ninguna responsabilidad por cualquier resultado de la Aplicación.  
        </p>

       <!-- 5. Condiciones de uso de la aplicacion -->
        <h3>5. Condiciones de uso de la Aplicación</h3>
          <p>
            El Usuario que hace uso de la Aplicación declara y acepta:  
          </p>

          <ul>
            <li> Que tiene al menos 18 años, que ha alcanzado la mayoría de edad en el país en que reside y que tiene capacidad legal suficiente para contratar de acuerdo con las leyes mexicanas y las leyes del país en que reside.   </li>
            <li> Que toda la información que proporciona a la Aplicación es correcta, veraz y actualizada.   </li>
            <li> Que es el propietario de la información que proporciona a la Aplicación.   </li>
          </ul>

          <p>
            En términos generales, cualquier Usuario de la Aplicación garantiza y reconoce, bajo protesta de decir verdad, que:  
          </p>

          <ul>
            <li> Es mayor de edad; </li>
            <li> Acepta expresamente los presentes Términos y Condiciones, los cuales ha leído y comprendido en su totalidad, y manifiesta su consentimiento expreso para usar medios electrónicos como forma de contratación; </li>
            <li> Que posee plena capacidad jurídica para celebrar contratos;</li>
            <li> Que toda la información que brinda a CHRISTUS CEI a través de la Aplicación es veraz, completa, exacta y actual;  </li>
            <li> Autoriza expresamente a CHRISTUS CEI para llevar a cabo el tratamiento de sus datos personales en los términos establecidos en el Aviso de Privacidad.    </li>
          </ul>

          <p>
            CHRISTUS CEI podrá cancelar o restringir su cuenta si detecta algún uso indebido de la Aplicación y de los Servicios que se ofrezcan en los mismos, entendiendo como uso indebido de manera enunciativa, más no limitativa, los siguientes supuestos:  
          </p>

          <ul>
            <li> Acceder a datos no destinados al Usuario o iniciar sesión en un servidor o cuenta en la que el usuario no esté autorizado su acceso.  </li>
            <li> Intentar interferir con el Servicio: huésped o red, incluyendo, sin limitación, a través del envío de virus a la Aplicación, sobrecarga, inundación, spam, bombardeo de correo o fallas.  </li>
            <li> Intento o realización de actividades fraudulentas entre las que se encuentran sin limitar, la falsificación de identidades o formas de pago.  </li>
          </ul>


        <!-- 6. Otras obligaciones vinculadas al uso de la aplicacion -->
        <h3>6. Otras obligaciones vinculadas al uso de la Aplicación</h3>
        <p>
          Para hacer uso de los Servicios que ofrece CHRISTUS CEI a través de la Aplicación, el Usuario tendrá que cumplir con las siguientes obligaciones: 
        </p>

        <ol type="a">
          <li> Registrarse en la Aplicación; </li>
          <li> Brindar y mantener su información exacta correcta y actualizada.   </li>
          <li> Elegir una contraseña robusta alternando el uso de carácter alfanuméricos y mayúsculas  </li>
          <li> Mantener la seguridad y confidencialidad de su nombre de usuario y contraseña para el uso de la Aplicación.   </li>
          <li> Adoptar las medidas de seguridad que resulten necesarias para proteger su información como antivirus, firewalls, entre otros.  </li>
          <li> En caso de que detecte una situación anormal relacionada con el uso de su Perfil deberá notificarlo a CHRISTUS CEI a la dirección de correo electrónico señalada en los presentes Términos y Condiciones.    </li>
          <li> Hacer uso adecuado y lícito de la Aplicación.   </li>
          <li> No infringir los derechos de propiedad intelectual de la Aplicación ni cualquiera de los proyectos que se encuentren en la Aplicación.  </li>
          <li> Utilizar la Aplicación de acuerdo con lo previsto en estos Términos y Condiciones.  </li>
          <li> No incurrir en cualquier conducta o acción ilícita durante el uso de la Aplicación. En caso de incumplimiento de las referidas obligaciones y en caso de incumplimiento en cualquier otra obligación del Usuario establecida en los presentes Términos y Condiciones, y en las leyes aplicables a los presentes Términos y Condiciones, CHRISTUS CEI tendrá derecho a cancelar los Servicios, sin previo aviso y/o a cancelar la cuenta del Usuario de manera inmediata, sin necesidad de declaración judicial ni de notificación previa alguna al Usuario. </li>
        </ol>

        <p>
          El Usuario deberá defender, indemnizar y no llevar a juicio a CHRISTUS CEI, sus afiliados ni a ninguno de sus empleados, contratistas, proveedores y representantes afiliados, pues son libres de responsabilidades, acusaciones y gastos, incluyendo cuotas de defensa legal razonables, que surjan de o estén relacionadas al mal uso de, o acceso a, la Aplicación, Servicios, contenido u otra forma de publicaciones del Usuario, violación a los Términos y Condiciones o violación realizada por el Usuario o por cualquier tercero, de propiedad intelectual u otro derecho de cualquier persona o entidad.
        </p>

          <!-- 7. Fin de la relacion juridica con christus cei -->
        <h3>7. Fin de la relación jurídica con CHRISTUS CEI</h3>
        <p>
          Los presentes Términos y Condiciones serán aplicables hasta la extinción de la relación jurídica que se derive de alguna de las siguientes razones:  
        </p>

        <ol type="a"> 
          <li> Cuando el Usuario decida dar de baja su Usuario de la Aplicación.   </li>
          <li> Cuando el Usuario deje de utilizar su cuenta de Usuario.  </li>
          <li> CHRISTUS CEI podrá cancelar o restringir la cuenta de cualquier Usuario si se detecta algún uso indebido del sitio y de los Servicios que se ofrezcan en los mismos.  </li>
        </ol>

        El Usuario reconoce que los presentes Términos y Condiciones serán aplicables en todo momento de la relación jurídica al uso que el Usuario haga respecto de la Aplicación.  

        <!-- 8. Proteccion de datos personales -->
        <h3>8. Protección de datos personales</h3>
        <p>
          CHRISTUS CEI sólo recaba información personal de los Usuarios cuando estos se registran en la Aplicación, así como cuando interactúan con el contenido de ésta.   
        </p>

        <p>
          La confidencialidad y efectiva protección de dicha información es primordial para CHRISTUS CEI, quien mantendrá una protección adecuada, de conformidad con los principios y obligaciones previstos por las leyes mexicanas y demás normatividad aplicable, a efecto de asegurar la seguridad, integridad y privacidad de la información recabada y tratada en la Aplicación.  
        </p>

        <p>
          Para conocer las condiciones generales a las que se sujeta el tratamiento de sus datos personales, así como para ejercer los derechos que la normatividad prevé, le remitimos a nuestro Aviso de Privacidad.  
        </p>

        <!-- 9. Uso de cookies y/o Web beacons -->
        <h3>9. Uso de cookies y/o Web beacons</h3>
        <p>
          El Usuario reconoce que CHRISTUS CEI puede colocar cookies y/o web beacons en su computadora, así como permitir que terceros que se anuncien o coparticipen en la funcionalidad de la Aplicación, de igual forma lo hagan.    
        </p>

        <!-- 10. Propiedad Intelectual -->
        <h3>10. Propiedad Intelectual</h3>
        <p>
          Las marcas, logotipos, grafismos, fotografías, animaciones, vídeos y textos que figuran en la Aplicación son propiedad intelectual de CHRISTUS CEI, los cuales están protegidos por las leyes mexicanas de propiedad intelectual, y no pueden ser reproducidos parcial o totalmente ni utilizados o representados sin la autorización expresa y por escrito de CHRISTUS CEI y/o de sus empresas asociadas o representantes, bajo amenaza de acciones legales.  
        </p>

        <p>
          Los Servicios, Productos y todos los derechos relativos a estos son y permanecerán de la propiedad de CHRISTUS CEI.  
        </p>

        <p>
          Ninguno de estos Términos y Condiciones ni su uso de la Aplicación le transfieren u otorgan ningún derecho:  
        </p>

        <ol type="a">
          <li> Sobre o en relación con los Servicios y/o Productos, excepto en cuanto a la licencia limitada otorgada anteriormente; o bien,  </li>
          <li> A utilizar o mencionar en cualquier modo los nombres de empresa, logotipos, nombres de producto y servicio de CHRISTUS CEI.  </li>
        </ol>

        <p>
          Por lo anterior, queda prohibida la modificación, copia, reproducción, descarga, difusión, transmisión, explotación comercial y/o distribución de cualquier tipo de contenido, servicios, herramientas, páginas del sitio, códigos informáticos o demás elementos que componen la Aplicación.  
        </p>

        <!-- 11. Normatividad y políticas aplicables en caso de controversia -->
        <h3>11. Normatividad y políticas aplicables en caso de controversia</h3>
        <p>
          En caso de controversia, divergencia, reclamación o duda con motivo de la interpretación, aplicación, ejecución, cumplimiento, resolución, rescisión de este acuerdo, así como la compensación de los daños y perjuicios resultantes, el Usuario y CHRISTUS CEI se someten expresamente a la jurisdicción de los Tribunales de la Ciudad de Monterrey, Nuevo León, renunciando a cualquier otro fuero que pudiera corresponderles por razón de su domicilio presente o futuro.  
        </p>

        <!-- 12. Nulidad -->
        <h3>12. Nulidad</h3>
        <p>
          En caso de que cualquier cláusula de los presentes Términos y Condiciones sea declarada nula, las demás cláusulas seguirán vigentes y se interpretarán teniendo en cuenta la voluntad de las partes y la finalidad misma de los presentes Términos y Condiciones.  
        </p>

        <p>
          CHRISTUS CEI podrá no ejercer alguno de los derechos y facultades conferidos en este documento lo que no implicará en ningún caso la renuncia a los mismos, salvo reconocimiento expreso por parte de CHRISTUS CEI o prescripción de la acción que en cada caso corresponda.  
        </p>

        <!-- 13. Modificacion de los terminos y condiciones -->
        <h3>13. Modificación de los Términos y Condiciones </h3>
        <p>
          CHRISTUS CEI se reserva el derecho de modificar, en cualquier momento, la presentación y configuración de la Aplicación, así como de los presentes Términos y Condiciones.  
        </p>

        <p>
          Por ello, CHRISTUS CEI recomienda al Usuario leerlos atentamente cada vez que acceda a la Aplicación.  
        </p>

        <p>
          Última actualización: 4 de septiembre de 2024 
        </p>
      </ion-text>
    </section>
  </div>
</ion-content>
