<ion-header class="ion-no-border">
  <div class="contenedor-header">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="cerrarModal()">
          <ion-icon slot="start" name="chevron-back"></ion-icon>
          Atrás
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </div>
</ion-header>
<ion-content>
  <div class="contenedor-principal">
    <div class="texto">
      <ion-text id="titulo">
        <h1>Términos y condiciones</h1>
      </ion-text>
      <ion-text>
        <p>
          Lorem ipsum dolor sit amet consectetur. Potenti auctor risus bibendum lacus. Purus et pretium adipiscing enim. Curabitur
          et ipsum sed nibh hac id. Volutpat urna aliquet proin commodo. In risus mollis ante malesuada purus dictum nec sem nunc.
        </p>
      </ion-text>
      <ion-text>
        <p>
          Aliquet tortor ut mauris imperdiet egestas dolor nunc tempor lectus. Condimentum nam viverra arcu platea neque id.
          Egestas in sed amet magna mattis eget cursus. Volutpat laoreet feugiat neque tortor nisl. Arcu feugiat in venenatis
          tincidunt massa gravida mi. Rhoncus sit morbi nibh sem lobortis faucibus. Fermentum imperdiet sed ornare tempor eu.
          Pretium commodo non nunc arcu feugiat morbi fermentum. Turpis netus elementum vel fringilla ultrices sit ultrices at.
        </p>
      </ion-text>
      <ion-text>
        <p>
          Massa posuere vitae velit placerat tellus. Aliquet amet pretium amet tellus mi. At tempor tincidunt mattis nullam.
        </p>
      </ion-text>
      <ion-text>
        <p>
          Arcu feugiat in venenatis tincidunt massa gravida mi. Rhoncus sit morbi nibh sem lobortis faucibus.
        </p>
      </ion-text>
    </div>
  </div>
  
</ion-content>
