<ion-header>
  <app-header></app-header>
</ion-header>

<ion-content>
  <div class="contenedor">
    <div class="titulo-contenedor">Dashboard</div>
    <div class="cuerpo-contenedor">
      <ion-grid>
        <ion-row>
          <ion-col [size]="4">
            <app-widget-frecuencia></app-widget-frecuencia>
          </ion-col>
          <ion-col [size]="8">
            <app-widget-pasos></app-widget-pasos>
          </ion-col>
          <ion-col [size]="8">
              <app-widget-sueno></app-widget-sueno>
          </ion-col>
          <ion-col [size]="4">
            <app-widget-peso></app-widget-peso>
          </ion-col>
          <ion-col>
            <app-widget-seguimiento
              nombrePadecimiento="Diabetees"
              nombreVariable="Glucosa"
              valorVariable="120"
              unidadVariable="mg/dL"
              claseVariable="water-outline"
              nombreTratamiento="Insulina"
              valorTratamiento="2U"
              unidadTratamiento="Humalog Mix 25 Plum"
              claseTratamiento="eyedrop-outline"
            ></app-widget-seguimiento>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
