::ng-deep .ion-page {
  // TODO: 2023-04-21 -> Cambiar la imagen
  background-image: url("https://as1.ftcdn.net/v2/jpg/01/30/80/34/1000_F_130803455_nNQlINCNtklK5L1iHZFN0cqpkYj18PVl.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
