// Arbol de Nodos / DropDownTree
.node-container.container-perfil-informacion,
.node-container.container-perfil-acceso,
.node-container.container-configuraciones,
.node-container.arbol-estructura-wrapper,
.node-container.drop-down-tree-container {
  tree-viewport {
    max-height: 600px;
  }

  .tree-children {
    margin-left: 1.1em !important;
  }

  .header-tree-style {
    color: #55565a;
    word-break: break-all;
  }

  .is-dragging-over {
    height: 2em;
  }

  .toggle-children {
    // background-image: url("~/assets/img/svg/caret-down-black.png");
    background-size: contain;
    display: inline-block;
    height: 12px;
    width: 12px;
    cursor: pointer;
  }

  .checkbox-estilo-grid .cr {
    margin-top: 0px;
    position: relative;
    display: inline-block;
    background-color: transparent;
    border: solid 2px #2d2d2d;
    border-radius: 0.15em;
    width: 1.1em;
    height: 1.1em;
    vertical-align: middle;
    color: white;
    margin-left: 0px;
  }

  .checkbox-estilo-grid label.checkbox-label {
    vertical-align: middle;
  }

  .node-expander-virtual {
    margin-left: 20px;
    display: inline-block;
  }

  .node-content-wrapper-active {
    // background: $color-node-hover;
  }

  .wrap-content-node {
    width: 90%;
    display: inline-block;
  }

  .wrap-fix-content-node {
    display: inline-block;
    min-width: 80%;
  }

  .node-content-wrapper {
    padding: 1px 4px;
  }
}

// DropDownTree
.node-container.drop-down-tree-container {
  tree-viewport {
    max-height: 200px;
  }

  tree-node .checkbox {
    line-height: 0;
    display: inline-block;
  }

  tree-node-content > span {
    @extend .header-tree-style;
    display: inline-block;
    padding-left: 5px;
    padding-top: 3px !important;
  }

  tree-node-collection > div {
    margin-bottom: 2px;
  }

  .checkbox .check-label {
    padding-top: 5px;
  }

  .node-expander-virtual {
    margin-left: 16px !important;
  }

  .toggle-children {
    top: 3px;
  }
  .angular-tree-component {
    display: inherit;
  }

  .tree-children {
  }
}

.drop-down-tree-container {
  position: relative;
  min-height: 32px;
  height: auto;
  padding: 0;
  clear: both;

  .input-outline-focus {
    border-color: #8ad4ee;
  }

  .inner-addon {
    position: relative;
  }

  .inner-addon .glyphicon,
  .inner-addon .fa {
    position: absolute;
    padding: 0 2%;
    margin: auto;
    top: 30%;
    pointer-events: none;
  }

  .inner-addon .filtro-busqueda {
    right: 20px;
    pointer-events: visible;
    cursor: pointer;
  }

  .inner-addon .filtro-eliminar {
    right: 0;
    pointer-events: visible;
    cursor: pointer;
  }

  .inner-addon .drop-down-caret {
    right: 0;
    color: $color-secundario;
  }

  .wrap-input-seleccionados {
    min-height: 32px;
    max-width: 100%;
    padding: 2px;
    cursor: default;
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid $color-secundario;
    outline: 0;
    background: white;
  }

  .wrap-elemento-seleccionado {
    position: relative;
    font-size: small;
    padding: 3px;
    margin: 2px;
    display: inline-block;
    color: white;
    background-color: $color-primario !important;
    border-radius: 3px;
    padding-right: 24px !important;
    cursor: pointer;
  }

  .wrap-drop-down-tree {
    z-index: 1000;
  }

  .input-filtro {
    padding-right: 20% !important;
  }

  .input-seleccionar-todo {
    margin-left: 16px;
  }

  .placeholder {
    padding: 4px;
    font-size: 14px;
    font-family: "Aller Italic";
    color: #999999;
  }

  .remove-element {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 17px;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    color: #ffffff;
    text-decoration: none;
    vertical-align: middle;
    display: inline-block;
    padding: 3px;
    border-left: 1px solid rgba(0, 0, 0, 0);
    border-radius: 0 2px 2px 0;
    box-sizing: border-box;
  }

  .remove-element:hover {
    background: rgba(0, 0, 0, 0.05);
  }

  .max-width-nodes-container {
    max-width: 94%;
  }
}

app-drop-down-tree.ng-invalid.ng-touched
  div.drop-down-tree-container
  div.wrap-input-seleccionados {
  border-color: red !important;
}

app-drop-down-tree
  div.drop-down-tree-container
  div.wrap-input-seleccionados
  div
  div.wrap-elemento-seleccionado {
  font-size: 14px !important;
}

.node-content-wrapper,
.tree-children {
  position: relative;
}

.node-content-wrapper::before,
.tree-children::after {
  content: "";
  position: absolute;
}

.node-content-wrapper::before {
  border-bottom: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
  height: 28px;
  top: -17px;
  width: 20px;
  left: -28px;
}

.tree-node-level-1
  > tree-node-wrapper
  > .node-wrapper
  > .node-content-wrapper::before {
  display: none;
}

.tree-node-leaf > .node-wrapper > .node-content-wrapper::before {
  width: 25px;
}

.tree-children::after {
  height: 100%;
  top: -15px;
  left: -15px;
}

tree-node:last-child > .tree-node > .tree-children::after {
  border-left: none;
}

.toggle-children {
  z-index: 1;
}

.node-container {
  .node-content-wrapper.etapa-header {
    width: 100%;
  }

  .angular-tree-component {
    padding: 0.2% 0;
    min-width: max-content;
  }

  .node-content-wrapper.checkbox > label {
    margin-bottom: 0;
  }

  .tree-node {
    padding: 0.1% 0;
  }

  .tree-children {
    padding-left: 0 !important;
  }

  .toggle-children {
    // background-image: url("~/assets/img/svg/caret-down.png");
  }

  .toggle-children-wrapper-expanded .toggle-children {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }

  .toggle-children-wrapper-collapsed .toggle-children {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }

  .is-dragging-over {
    background: #a5a5a5;
  }

  .node-content-wrapper:hover {
    background: none;
    box-shadow: inset 0 0 0;
  }

  .node-wrapper {
    width: 100%;
    min-width: 100%;
    color: #5a5a5a;
    font-size: 0.975em !important;
    cursor: default;
  }

  .toggle-children-placeholder {
    display: none;
  }

  .angular-tree-component span {
    color: white;
  }
}

.nodo-contenedor {
  .node-content-wrapper.etapa-header {
    width: 100%;
    text-align: center;
  }

  .angular-tree-component {
    min-width: max-content;
  }

  .node-content-wrapper.checkbox > label {
    margin-bottom: 0;
  }

  .tree-node {
  }

  .tree-children {
    padding-left: 0 !important;
  }

  .toggle-children {
  }

  .toggle-children-wrapper-expanded .toggle-children {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }

  .toggle-children-wrapper-collapsed .toggle-children {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }

  .is-dragging-over {
    background: #a5a5a5;
  }

  .node-content-wrapper:hover {
    background: none;
    box-shadow: inset 0 0 0;
  }

  .node-wrapper {
    width: 100%;
    min-width: 100%;
    color: #5a5a5a;
    font-size: 0.975em !important;
    cursor: default;
  }

  .toggle-children-placeholder {
    display: none;
  }

  .angular-tree-component span {
    color: #ffffff;
  }
}
