@import "variables";
@import '../../../theme/variables.scss';

.modal-xxlg {
  width: 90% !important;
  max-width: 90% !important;
  margin: 0;
}

.modal-xlg {
  width: 80% !important;
  max-width: 80% !important;
  margin: 0;
}

.modal-md {
  width: 50% !important;
  max-width: 50% !important;
  margin: 0;
}

.modal-medium {
  width: 70% !important;
  max-width: 70% !important;
  margin: 0;
}

.modal-sm {
  width: 43% !important;
  max-width: 43% !important;
  margin: 0;

  .modal-content{
    background-color: var(--primary-50) !important;
  }
}

.modal-xsm {
  width: 35% !important;
  max-width: 35% !important;
}

.modal-md-aviso {
  max-width: 571px !important;
  width: 571px;
}

@media only screen and (max-width: 576px) {
  .modal-md-aviso {
    max-width: 99% !important;
    width: 99%;
    margin: 0;
  }

  .barra-lateral-modal {
    display: none !important;
  }
}

// Cuando los botones no caben en el modal
@media only screen and (max-width: 768px) {
  // Centrar información del div
  .modal-md {
    width: 80% !important;
    max-width: 80% !important;
    margin: 0;
  }

  .modal-xsm {
    width: 70% !important;
    max-width: 70% !important;
  }

  .modal-md-confirmacion {
    width: 80% !important;
    max-width: 80% !important;
  }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
  // Centrar información del div
  .modal-md {
    width: 65% !important;
    max-width: 65% !important;
    margin: 0;
  }

  .modal-xsm {
    width: 40% !important;
    max-width: 45% !important;
    margin: 0;
  }

  .modal-md-confirmacion {
    width: 45% !important;
    max-width: 50% !important;
  }
}

.modal-position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  overflow-x: hidden;
  overflow-y: hidden !important;
}

.modal-header {
  margin-bottom: 0;
  border: none;
  border-radius: 0 !important;
  font-size: 16px;
  padding: 32px;
  color: var(--primary-700);
  font-weight: 500;
  background-color: var(--neutral-50);
}


.modal-content .close {
  color: var(--primary-700);
  opacity: 1 !important;
  border: none;
  background-color: var(--neutral-50);
}

.modal-content .close i:hover {
  color: var(--primary-500);
}

.modal-content {
  max-height: 90vh;
  border-radius: 0 !important;
}

.title-modal-confirmacion {
  color: var(--neutral-700);
  font-size: medium;
}

.modal-footer {
  padding: 0.5rem !important;
  display: flex;
  justify-content: center;
  border-top: 0;
}

.modal-footer button {
  margin: 0 1rem !important;
}

.modales {
  .mensaje {
    color: $color-font;
    font-size: 1rem;
  }

  .modal-exito {
    .icon-success {
      text-align: center;
      color: var(--success-200);
      font-size: 400%;
    }
  }

  .modal-error {
    .icon-error {
      text-align: center;
      color: var(--neutral-50);
      font-size: 400%;
    }
  }

  .modal-confirmacion {
    .mensaje {
      padding-bottom: 2em;
    }
  }
}

.barra-lateral-modal {
  width: 16px;
  border-radius: 0 4px 4px 0;
  background: var(--primary-700);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
}

.modal-open .modal {
}

.modal-body {
  width: auto;
  overflow: auto;
}

.modal-body label {
  padding: .5em;
}

.modal-content {
   max-height: 90vh;
   border-radius: 0 !important;
   padding: 1rem 1rem;
   border: none;
}

.modal-contenedor {
  max-height: 90vh;
  border-radius: 0 !important;
  margin: 1%;
}

.modal-footer{
  .text-right{
    display: flex;
  }
}
