@import "variables";

.modal-xxlg {
  width: 90% !important;
  max-width: 90% !important;
  margin: 0;
}

.modal-xlg {
  width: 80% !important;
  max-width: 80% !important;
  margin: 0;
}

.modal-md {
  width: 50% !important;
  max-width: 50% !important;
  margin: 0;
}


.modal-medium {
  width: 70% !important;
  max-width: 70% !important;
  margin: 0;
}


.modal-xsm {
  width: 35% !important;
  max-width: 35% !important;
}

.modal-md-confirmacion {
  width: 35% !important;
  max-width: 40% !important;
}

.modal-md-aviso {
  max-width: 571px !important;
  width: 571px;
}

@media only screen and (max-width: 576px) {
  .modal-md-aviso {
    max-width: 99% !important;
    width: 99%;
    margin: 0;
  }

  .barra-lateral-modal {
    display: none !important;
  }
}

// Cuando los botones no caben en el modal
@media only screen and (max-width: 768px) {
  // Centrar información del div
  .modal-md {
    width: 80% !important;
    max-width: 80% !important;
    margin: 0;
  }

  .modal-xsm {
    width: 70% !important;
    max-width: 70% !important;
  }

  .modal-md-confirmacion {
    width: 80% !important;
    max-width: 80% !important;
  }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
  // Centrar información del div
  .modal-md {
    width: 65% !important;
    max-width: 65% !important;
    margin: 0;
  }

  .modal-xsm {
    width: 40% !important;
    max-width: 45% !important;
    margin: 0;
  }

  .modal-md-confirmacion {
    width: 45% !important;
    max-width: 50% !important;
  }
}

.modal-position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  overflow-x: hidden;
  overflow-y: hidden !important;
}

.modal-header {
  margin-bottom: 0;
  border: none;
  border-radius: 0 !important;
  font-size: 1.2rem;
  padding: 1rem;
  color: $color-primario;
  font-weight: 600;
  background-color: #E7E7E7;
}

.modal-content .close {
  color: $color-primario;
  opacity: 1 !important;
}

.modal-content .close i:hover {
  color: $color-primario-hover;
}

.modal-content {
  border-radius: 0 !important;
  overflow: auto;
}

.title-modal-confirmacion {
  color: #000000;
  font-size: medium;
}

.modal-footer {
  padding: 0.5rem !important;
  display: flex;
  justify-content: center;
  border-top: 2px #eaddf6 solid !important;
  background-color: #f7f7f7;
}

.modal-footer button {
  margin: 0 1rem !important;
}

.modales {
  .mensaje {
    color: $color-font;
    font-size: 1rem;
  }

  .modal-exito {
    .icon-success {
      text-align: center;
      color: rgba(165, 220, 134, 1);
      font-size: 400%;
    }
  }

  .modal-error {
    .icon-error {
      text-align: center;
      color: #e4e5e6;
      font-size: 400%;
    }
  }

  .modal-confirmacion {
    .mensaje {
      padding-bottom: 2em;
    }
  }
}

.barra-lateral-modal {
  width: 9px;
  background: $color-terceario;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 4rem;
}

.barra-lateral-modal i{
  display: none;
}

.modal-open .modal {
  background: #00000077;
}

modal-container .cuerpo-contenedor {
  max-height: calc(100vh - 150px) !important;
  overflow: scroll !important;
  overflow-x: auto !important;
  overflow-y: auto !important;
}
