@import "variables.scss";

button {
  &.btn {
    border: none;
  }

  &.btn-primario,
  &.btn-secundario,
  &.btn-secundario-cancelar{
    font-family: var(--font-body);
    font-size: 14px;
    transition: 200ms;
    width: auto;
    height: 44px;
    font-size: 14px;
    min-width: 120px !important;
    max-width: 180px !important;
    width: 100%;
    border-radius: 4px;
    border: none;
  }
  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
  &:focus {
    outline: 0;
  }
  &.boton-tipo-icono {
    min-width: auto !important;
    height: auto !important;
    color: inherit !important;
    margin-bottom: auto !important;
  }
  &.invisible {
    display: none;
    width: 0;
    height: 0;
  }
  &.full-disabled {
    opacity: 0;
    pointer-events: none;
  }

  &.btn-margin-left {
    margin-left: 5px;
  }
}

.btn-primario,
.btn-filtro {
  background-color: var(--primary-700);
  color: var(--neutral-50);
  &:hover {
    background-color: var(--primary-600);
  }
}

.btn-terceario {
  background-color: var(--primary-700);
  color: var(--primary-700);
  min-width: 60px !important;
  height: 44px;
  border-radius: 4px;
  color: var(--neutral-50);
  border: none !important;
  &:hover {
    background-color: var(--primary-200);
  }
}

.btn-cuaternario {
  background-color: $color-cuaternario;
  &:hover {
    background-color: $color-cuaternario-hover;
  }
}

.btn-secundario {
  background-color: var(--neutral-50);
  color: var(--primary-700) !important;
  border: 1px solid var(--primary-700) !important;
  C5C5C5 &:hover {
    background-color: var(--primary-200);
  }
}


.btn-secundario-cancelar {
  background-color: #a5a5a5; 
  &:hover {
    background-color: #c5c5c5;   
  }
}

.btn-secundario:hover {
  background: var(--primary-200);
}

.btn-primario i {
  margin-right: 5px;
}

.limpiar {
  margin-left: 14px;
  color: #000000;
}

.contenedor-agregar {
  font-size: 1.2rem;
  display: inline-block;
  overflow-y: initial;
}

.contenedor-agregar i {
  color: $color-primario;
  margin-right: 10px;
  cursor: pointer;
}

.contenedor-agregar i:hover {
  color: $color-primario-hover;
}

.contenedor-agregar span {
  cursor: pointer;
}

.container-btn-centro {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.btn-agregar{
  height: 100%;
  width: 100%;
  height: 44px;
  max-width: 180px !important;
  border: none;
  border-radius: 8px;

  font-family: var(--font-body);
  font-size: 14px;
  font-weight: bold;
  text-align: center;

  color: var(--neutral-50);
  background-color: var(--primary-700);

  transition: 200ms;
  &:hover {
    background-color: var(--primary-500);
  }

}