/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #e9e8e8;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #cecece;
}
