.mat-drawer-container {
  background-color: #e7e7e7;
}

.drawer-menu {
  background: none;
  width: 100%;
}

.mat-button .mat-menu-trigger {
  position: absolute;
  top: 0;
  right: 0;
}

.mat-button-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.contenedor-button-item{
  .borde{
    width: 8px;
    height: 64px;
    background: var(--primary-700);
    z-index: 999;
    border-radius: 0 8px 8px 0;
    display: none; //No aparece si no está activa la pestaña
  }
  
  &.active{
    .borde{
      display: block !important;
    }
  }
}

.button-item {
  width: 100%;
  transition: 0.4s ease;
  min-height: 58px !important;
  border-radius:  0px !important;
  justify-content: start !important;
  font-size: 16px;

  .mdc-button__label{ //icono y label centrados
    display: flex !important;
    align-items: center !important;
  }
}

.button-item {
  color: var(--neutral-400) !important;
  font-family: var(--font-body) !important;

  &.active{
    font-weight: bold;
  }

  &.active,
  &:hover {
    background-color: var(--primary-100);
    color: var(--primary-700) !important;
    cursor: pointer;
    .item {
      color: var(--primary-700) !important;
    }
  }
}

.navpop-icon {
  color: #2e75b6;
}

.button-item:hover {
  // cursor: pointer;
  // background-color: #f5f5f5 !important;
}

.mat-menu-panel.pop-card {
  background-color: #f5f5f5 !important;
}
