:root {
    --color-primario: #671E75;
    --color-primario-hover: #F9EFFB;
}

$color-primario: #671E75;
$color-primario-hover: #0083e0;
$color-primario-alt: #ff9933;

$color-secundario: #9ba8b7;
$color-secundario-hover: #475462;

$color-terceario: #deebf7;
$color-terceario-hover: #ADCDEB;

$color-cuaternario: #052F5F;
$color-cuaternario-hover: #0956AE;

$color-menu: #e7e7e7;
$color-font: #000000;
$color-border-inputs: #98989A;
$border-radius-inputs: 20px;
