

.grid-cuadricula {
   
    table{
        border-radius: 4px;
        box-shadow: 0px 1px 4px 0px rgba(33, 33, 52, 0.10);
        overflow: hidden; 
        border-style: hidden;
        font-size: 14px;
        font-family: var(--font-body);
        text-align: left;
        background: none;

        .ptable-header>th {
            color: var(--primary-700) !important;
            background-color: #ffffff !important;
            text-align: left;
        } 
        
        #foto{
            width: (1/20)*100%;
        }

        #nombre{
            width: (4/20)*100%;
        }

        #edad{
            width: (2/20)*100%;
        }

        #patologias{
            width: (5/20)*100%;
        }   

        #dosis{
            width: (3/20)*100%;
        }

        #variables{
            width: (3/20)*100%;
        }

        #iconos{
            width: (2/20)*100%;
            padding-left: 0px;
            padding-right: 0px;

            lucide-icon{
                border: 1px solid  #DCDCE4;
                padding: 10px;
                border-radius: 4px;
            }
        }

    }
}

.img-container {
    object-fit: cover;
    aspect-ratio: 1;
    width: 70px;
    overflow: hidden;
    padding: 1rem 0rem;
   

    img {
        width: 60%;
        height: 60%;
        border-radius: 13px;
    }
}
