<div class="d-flex">
    <div class="barra-lateral-modal"></div>
    <div class="modal-content">
        <div class="modal-header">
            <div>{{ accion }} Respuesta</div>
            <button type="button" class="close pull-right" aria-label="Close" (click)="cancelar()">
                <i class="far fa-times-circle"></i>
            </button>
        </div>
        <form (keydown.enter)="$event.preventDefault()" #formulario="ngForm" (ngSubmit)="enviarFormulario(formulario)"
            novalidate="novalidate">

            <div class="modal-body" id="modal">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="label-input required-label">Identificador</label>
                            <div>
                                <input #clave="ngModel" [(ngModel)]="resp.clave" name="clave" class="form-control"
                                    type="text" [required]="true" [disabled]="accion == 'Editar'" maxlength="30" />
                            </div>
                            <div *ngIf="clave.errors?.['required'] && clave.touched" class="error">
                                La clave es requerida
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="label-input required-label">Respuesta</label>
                            <div>
                                <textarea #respuesta="ngModel" [(ngModel)]="resp.respuesta1" name="respuesta1"
                                    class="respuestaTextArea form-control" [required]="true"></textarea>
                            </div>
                            <div *ngIf="respuesta.errors?.['required'] && respuesta.touched" class="error">
                                La asignatura es requerida
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="label-input required-label">Valor</label>
                            <div>
                                <input #valor="ngModel" [(ngModel)]="resp.valor" name="valor" class="form-control"
                                    type="number" min="0" maxlength="30" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <label class="label-input required-label"
                            style="margin-top: 10px; margin-bottom: -10px;">¿Respuesta Correcta?</label><br>
                        <label class="switch">
                            <input class="accent" checked="checked" #correcta id="correcta" name="correcta"
                                type="checkbox" [(ngModel)]="resp.respuestaCorrecta" />
                            <span class="slider round">
                                <span class="on">Sí</span>
                                <span class="off">No</span>
                            </span>
                        </label>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <div class="text-right">
                    <button type="button" class="btn-secundario mr-3" (click)="cancelar()">
                        Cancelar
                    </button>
                    <button [disabled]="submitting" type="submit" class="btn-primario btn-margin-left">
                        Guardar Respuesta
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>