@import "../../widgets/styles/circle-container.scss";

.circle-container {
    font-size: 3vw;
    line-height: 1;
    margin: auto;
}

.contenedor{
    padding: 10px;
}

.contenedor-texto-variable{

    padding-top: 3em;
    ion-label{
        font-weight: bold;
        color: #4c0080;
        padding-left: 2em;
    }
}
.contenedor-filtro{
    padding-left: 4em;
    margin-bottom: 3em;

}

.etiqueta-extremos{
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}

.contenedor-label-valores-extremos{
    display: flex;
    justify-content: center;
}

.label-valores-extremos{
    font-size: small;

    .etiqueta{
        color: #4c0080;
        font-weight: bold;
    }

    .fecha{
        color: gray;

    }
}

.valores-extremos {
    font-size: 1em;

    .valor {
      font-size: 1.9em;
      font-weight: bold;
    }
  
    .unidad {
      font-size: 1em;
    }
}

.histograma{
    margin: 8em 0.2em 2em 0.2em;
}




