<div class="contenedor-principal">
  <div class="cards-container">
    <div class="card">
      <div class="contenido-card">
        <div class="contenedor-grid">
          <app-grid-general
            #gridTratamientos
            [headerName]="HEADER_GRID"
            [data]="tratamientos$ | async"
            [children]="columns"
            [disableDelete]="true"
            [disableEdit]="true"
          >
          </app-grid-general>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7 no-padding">
        <div class="card">
          <div class="subseccion">
            Apego a Tratamientos de Pacientes por Padecimiento
          </div>
          <div class="contenido-card">
            <div class="contenedor-histograma">
              <canvas
                baseChart
                [data]="chartData"
                [type]="chartType"
                [options]="chartOptions"
                [plugins]="chartPlugins"
              >
              </canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
