<app-modal-base [titulo]="nombreEntidad + ' - ' + accion">
    <ng-template #modalBody>
      <form #formulario="ngForm" id="form" novalidate="novalidate" (keydown.enter)="$event.preventDefault()">
      <!-- Row -->
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label class="label-input required-label">Clasificación Pregunta</label>
            <div>
              <input #nombre="ngModel" [(ngModel)]="entidad.nombre" name="nombre" class="form-control" type="text"
                maxlength="50" autocomplete="off" required />
              <div *ngIf="nombre.errors?.['required'] && nombre.touched" class="error">
                El nombre es requerido
              </div>
            </div>
          </div>
        </div>


        <div class="col">
          <div class="form-group">
            <label class="label-input required-label">Estatus</label>

            <div>
              <input name="estatus" class="form-control" type="text" maxlength="50"
                [value]="true ? 'Activo': 'Inactivo'" disabled />
            </div>
          </div>
        </div>
      </div>
    </form>

    <div *ngIf="!esAgregar">

      <!-- Subseccion -->
      <div class="subseccion">
        Respuestas
      </div>

      <app-respuestas-clasificacion-pregunta
        [idClasificacionPregunta]="idEntidad"></app-respuestas-clasificacion-pregunta>

    </div>
  </ng-template>

  <ng-template #modalFooter>
    <button type="button" class="btn-secundario mr-3" (click)="cancelar()">
      Cancelar
    </button>

    <button type="submit" class="btn-primario btn-margin-left" [disabled]="submiting" form="form"
      (click)="onSubmit(formulario)">
      Guardar Clasificación Pregunta
    </button>
  </ng-template>

</app-modal-base>