<div class="card-container row">
  <div class="col-4">
    <app-tarjeta
      [claseIcono]="'badge-alert'"
      [claseIconoFondo]="'icon-badge-info'"
      [valor]="pacientesFueraDeRango.toString()"
      [etiqueta]="'Alertas en pacientes \n (Valores fuera de Rango)'"
      claseColor="primary">
    </app-tarjeta>
  </div>
  <div class="col-4">
    <app-tarjeta
      [claseIcono]="'message-square-more'"
      [claseIconoFondo]="'icon-message-square-more'"
      [valor]="solicitudesDeChat.toString()"
      [etiqueta]="'Solicitudes a través de Chat'"
      claseColor="neutral">
    </app-tarjeta>
  </div>
  <div class="col-4">
    <app-tarjeta
      [claseIcono]="'video'"
      [claseIconoFondo]="'icon-video'"
      [valor]="solicitudesDeVideo.toString()"
      [etiqueta]="'Solicitudes de Videoconsultas'"
      claseColor="neutral">
    </app-tarjeta>
  </div>
</div>
