.button-container {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

.contenedor {
  margin-top: 0;
}

.cuerpo-contenedor {
  width: auto;
  margin: 1rem;
}

.titulo-contenedor {
  font-size: 1.5rem;
  padding: 2rem;
  color: $color-primario;
  background-color: #ffffff;
}

.titulo-contenedor-paciente {
  font-size: 1.5rem;
  padding: 1.1rem;
  color: $color-primario;
}

.subseccion {
  color: $color-primario;
  border-bottom: 1px $color-primario solid;
  margin-bottom: 25px;
  padding-top: 10px;
  margin-top: 10px;
  width: 100%;
}

.subtitulo-contenedor {
  font-size: 1.3rem;
  padding: 0.5rem;
  color: $color-primario;
  background-color: #ffffff;
}

.subseccion {
  color: $color-primario;
  border-bottom: 1px $color-primario solid;
  margin-bottom: 10px;
  padding-top: 10px;
  margin-top: 15px;
  width: 100%;
}

// TODO: 2023-07-11 -> Renombrar a color-primario
.icono-primario {
  color: $color-primario;
}

.panel-busqueda {
  margin-top: 0.5rem;
  border-top: 1px solid #e6e4e7f8;
  height: 20px !important;
}

.separador {
  margin: 15px 0px;
  height: 1px;
  background: $color-primario;
}

.custom-alert{
  .mat-mdc-dialog-surface {
    border-radius: 16px !important;
  }
  
  .mat-mdc-dialog-container{
    min-height: 277px;
    width: 327px;
  }

  .mat-mdc-dialog-content{
    padding: 32px 24px 0 24px !important;
  }

  .mat-mdc-dialog-actions{
    padding: 24px !important;
  }
}

.mat-mdc-tab-header {
  border-radius: 0 0 8px 8px;
  background: var(--neutral-50);
  //border: none ;
}

.modal-notificaciones{
  position: absolute;
  top: calc(10vh - 12px);
  right: 56px;
  //left: 110px;
  margin: 0 !important;

  .modal-content{
    border-radius: 8px !important;
    max-height: 60vh !important;
    overflow-y: scroll;
  }
  
}
