:root {
    --color-primario: #671E75;
    --color-primario-hover: #F9EFFB;

    --primary-50: #F3F4FA;
    --primary-100: #EAEBF5;
    --primary-200: #D8D9ED;
    --primary-300: #C0C2E1;
    --primary-400: #A8A6D3;
    --primary-500: #958FC5;
    --primary-600: #8377B4;
    --primary-700: #695e93;
    --primary-800: #5C547F;
    --primary-900: #4D4867;
    --primary-950: #2D2A3C;

    --neutral-50: #FFFFFF;
    --neutral-100: #F4F4F4;
    --neutral-200: #DCDCDC;
    --neutral-300: #BDBDBD;
    --neutral-400: #989898;
    --neutral-500: #7C7C7C;
    --neutral-600: #656565;
    --neutral-700: #525252;
    --neutral-800: #464646;
    --neutral-900: #292929;
    --neutral-950: #000000;

    --error-100: #F9DEDC;
    --error-200: #B3261E;
    --error-300: #410E0B;

    --font-display: 'Gayathri', sans-serif;
    --font-body: 'Inter', sans-serif;
}


