.contenido{
    margin: .7em;
}

.texto-seccion{
    font-weight: bold;
    color: #4c0080;
}

.pendientes{
    margin-bottom: 2vh;

    ion-item{
        margin: 10px;
        --border-width: 2px;
        --border-radius: 20px;
    }
}
.contestados{
    .texto-ver-mas{
        color: grey;
        text-align: center;
    }
}
