.contenedor-principal {
  height: 100%;

  .lista-cuestionarios {
    ion-list {
      background: var(--primary-50);
      padding-top: 16px !important;
      ion-item {
        --border-width: 0 0 2px 0;
        --border-color: var(--primary-50);
        --detail-icon-opacity: 1;
        --detail-icon-color: var(--neutral-900);
        --inner-padding-end: 32px !important;

        ion-label {
          padding-left: 16px;
          h3 {
            font-family: var(--font-body);
            font-size: 16px;
            color: var(--neutral-900);
          }

          p {
            font-family: var(--font-body);
            font-size: 14px;
            color: var(--neutral-600);
          }
        }
      }
    }
  }
}
