@import "../../../../../theme/variables.scss";


.contenido{
    margin: .7em;
}

.texto-seccion{
    font-weight: bold;
    color: var(--primary-600);
}

.pendientes{
    margin-bottom: 2vh;

    ion-item{
        margin: 10px;
        --border-width: 2px;
        --border-radius: 20px;
    }

    .btn-responder{
        --color: var(--neutral-50);
        --background: var(--primary-400);
    }
}
.contestados{
    .texto-ver-mas{
        color: grey;
        text-align: center;
    }
}

ion-header{
    ion-title{
    font-weight: bold;
    }
    .primary-toolbar{
    --border-width: 1px 0;
    --border-color: var(--neutral-200);
    --background: url('../../../../../assets/header_dark.svg');
    height: 20vh;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    }
}

.mensajeVacio{
    height: 60vh;
    background-color: #F3F4FA;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}
