<ion-header class="ion-no-border">
  <div class="contenedor-header-dark">
    <ion-toolbar>
      <ion-title>
        Cuestionarios
      </ion-title>
    </ion-toolbar>
  </div>
</ion-header>
<ion-content class="primary">
  <div class="contenedor-principal">

    <ion-toolbar class="segment-toolbar">
      <ion-segment  value="pendientes" color="morado-custom">
        <ion-segment-button value="pendientes" (click)="changeSection('pendientes')">
          <ion-label>Pendientes</ion-label>
        </ion-segment-button>
          
        <ion-segment-button value="contestados" (click)="changeSection('contestados')">
          <ion-label>Contestados</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>

    <div id="pendientes" *ngIf="segmentoSeleccionado === 'pendientes'">      
      <div class="lista-cuestionarios">
        <div class="lista-vacia" *ngIf="examenPendienteList.length === 0">
          <ion-text>
            <p>
              Nada por aquí. <br> Aún no se te ha asignado un cuestionario.
            </p>
          </ion-text>
        </div>

        <ion-list *ngIf="examenPendienteList.length !== 0">
          <ion-item lines="none" detail="true" *ngFor="let examen of examenPendienteList"
            (click)="responderCuestionario(examen.idExamen)">
            <ion-label>
              <h3>{{examen.tipoExamen}}</h3>
              <p>{{examen.fechaExamen | date: "MMMM d, y 'a las' h:mm a" : '' : 'es-MX'}}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </div>
    </div>

    <div  id="contestados" *ngIf="segmentoSeleccionado === 'contestados'">
      <div class="lista-cuestionarios">
        <div class="lista-vacia" *ngIf="examenContestadoList.length === 0">
          <ion-text>
            <p>
              Nada por aquí. <br> Aún no tienes cuestionarios contestados.
            </p>
          </ion-text>
        </div>

        <!--Mostrar 5-->
        <ion-list *ngIf="examenContestadoList.length !== 0">
          <ion-item 
            lines="none" 
            detail="true" 
            *ngFor="let examen of (mostrarTodosContestados ? examenContestadoList : examenContestadoList?.slice(0,5))" 
            (click)="navigateVerCuestionario(examen.idExamen)"
          >
            <ion-label>
              <h3>{{examen.tipoExamen}}</h3>
              <p>{{examen.fechaExamen | date: "MMMM d, y" : '' : 'es-MX'}}</p>
            </ion-label>
          </ion-item>

          <ion-item lines="none" button class="texto-ver-mas" (click)="verMas(!mostrarTodosContestados)" *ngIf="masDeCincoExamenes">
            <ion-label *ngIf="!mostrarTodosContestados">
              Ver Todos (+{{cantidadCuestionariosContestadosOcultos}})
            </ion-label>
            <ion-label *ngIf="mostrarTodosContestados">
              Ver menos
            </ion-label>
          </ion-item>
        </ion-list>
      </div>
    </div>
  </div>
</ion-content>
