<!-- <app-header></app-header> -->

<div class="video-container">
  <div class="container">
    <div class="row row-video">
      <!-- LLAMADAS -->
        <div class="col">
          <video id="remoteVideo" autoplay playsinline controls [srcObject]="remoteStream"></video>
        </div>
        <div class="col">
          <video id="webcamVideo" autoplay playsinline [muted]="true" controls [srcObject]="localStream"></video>

          <div class="controls-bar">
            <button *ngFor="let control of controls; let i = index"
                    [class.inactive]="!control.isActive"
                    [class.call-button]="control.icon === 'phone'"
                    class="control-button"
                    (click)="toggleControl(i)">
              <lucide-angular [name]="getIconImg(control)"></lucide-angular>
            </button>
          </div>

        </div>
    </div>

  </div>

</div>