<!-- <app-header></app-header> -->

<div class="video-container">
  <div class="container">
    <div class="row row-video">
      <!-- LLAMADAS -->
        <div class="col">
          <video id="remoteVideo" autoplay playsinline controls [srcObject]="remoteStream"></video>
        </div>
        <div class="col">
          <video id="webcamVideo" autoplay playsinline [muted]="true" controls [srcObject]="localStream"></video>
        </div>
    </div>


    
      <div class="row mt-5">
        <div class="col-auto">
          <button  id="hangupButton" (click)="closeStreams()">Colgar</button>
        </div>
      </div>
  </div>

</div>