
<!-- Agregar diseño de esta página -->

<ion-header>

</ion-header>
<ion-content>
<ion-list>
  <ion-item (click)="navigateInformacionGeneral()">
    Informacion General
  </ion-item>
  <ion-item (click)="navigateMisDoctores()">
    Mis Doctores
  </ion-item>
  <ion-item (click)="navigateMisTratamientos()">
    Mis Tratamientos
  </ion-item>
  <ion-item (click)="navigateMisEstudios()">
    Mis Estudios
  </ion-item>
  <ion-item button="true">
    Bibliotecas de código abierto
  </ion-item>
  <ion-item button="true">
    Cerrar sesión
  </ion-item>
</ion-list>
</ion-content>