<ion-content>
  <div class="contenedor-header">
    <ion-toolbar>
      <ion-title>Mi Perfil</ion-title>
    </ion-toolbar>
  </div>
  <div class="contenedor-principal" [ngStyle]="mostrarOpcionesInfoGeneral || mostrarOpcionesMasInformacion ? {'height':'100%'} : {}"> <!--Aumentar el tamaño cuando las opciones de info-general estén activas-->
    <div class="card">
      <div class="datos">
        <div class="avatar">
          <ion-avatar>
            <img alt="foto perfil" [src]="fotoPerfilUrl"/>
          </ion-avatar>
        </div>
        <div class="nombre">
          <ion-text>
            <p id="name">{{infoPerfil?.nombre}} {{infoPerfil?.apellidoMaterno}}</p>
            <p id="username">{{infoPerfil?.correo}}</p>
          </ion-text>
        </div>
      </div>
      <div class="lista">
        <ion-list lines="full">
          <ion-item button (click)="DropDownInformacionGeneral()">
            <ion-icon slot="start" name="persona"></ion-icon>
            <ion-label>Informacion general</ion-label>
            <ion-icon *ngIf="!mostrarOpcionesInfoGeneral" slot="end" name="chevron-forward"></ion-icon>
            <ion-icon *ngIf="mostrarOpcionesInfoGeneral" slot="end" name="chevron-down"></ion-icon>
          </ion-item>
          <div *ngIf="mostrarOpcionesInfoGeneral" class="opciones-info-general">
            <ion-item button (click)="navigateInformacionGeneral()">
              <ion-label>General</ion-label>
            </ion-item>
            <ion-item button (click)="navigateInformacionGeneral()">
              <ion-label>Domicilio</ion-label>
            </ion-item>
            <ion-item button (click)="navigateInformacionGeneral()">
              <ion-label>Antecedentes</ion-label>
            </ion-item>
            <ion-item button (click)="navigateInformacionGeneral()">
              <ion-label>Diagnosticos</ion-label>
            </ion-item>
          </div>
          <ion-item button (click)="navigateMisDoctores()">
            <ion-icon slot="start" name="cruz"></ion-icon>
            <ion-label>Mis doctores</ion-label>
            <ion-icon slot="end" name="chevron-forward"></ion-icon>
          </ion-item>
          <ion-item button (click)="navigateMisTratamientos()">
            <ion-icon slot="start" name="pildora"></ion-icon>
            <ion-label>Mis tratamientos</ion-label>
            <ion-icon slot="end" name="chevron-forward"></ion-icon>
          </ion-item>
          <ion-item button (click)="navigateMisEstudios()">
            <ion-icon slot="start" name="portapapeles-mas"></ion-icon>
            <ion-label>Mis estudios</ion-label>
            <ion-icon slot="end" name="chevron-forward"></ion-icon>
          </ion-item>
          <ion-item button (click)="DropDownMasInformacion()">
            <ion-icon slot="start" name="informacion"></ion-icon>
            <ion-label>Más información</ion-label>
            <ion-icon *ngIf="!mostrarOpcionesMasInformacion" slot="end" name="chevron-forward"></ion-icon>
            <ion-icon *ngIf="mostrarOpcionesMasInformacion" slot="end" name="chevron-down"></ion-icon>
          </ion-item>
          <div *ngIf="mostrarOpcionesMasInformacion" class="opciones-mas-informacion">
            <ion-item button (click)="mostrarTerminosYCondiciones()">
              <ion-label>Términos y condiciones</ion-label>
            </ion-item>
            <ion-item button (click)="mostrarTerminosYCondiciones()">
              <ion-label>Bibliotecas de código abierto</ion-label>
            </ion-item>
          </div>
          <ion-item button lines="none" (click)="presentarAlertaCerrarSesion()" style="--color-activated: var(--error-200);">
            <ion-icon slot="start" name="cerrar-sesion" style="stroke: var(--error-200);"></ion-icon>
            <ion-label style="color: var(--error-200);" >Cerrar sesión</ion-label>
            <ion-icon slot="end" name="chevron-forward"></ion-icon>
          </ion-item>
        </ion-list>
      </div>
    </div>
  </div>
</ion-content>
