.contenedor-header-dark{
    height: 30vh !important;
    justify-content: flex-start;
     
    ion-toolbar{
        --padding-bottom: 0 !important;
        --padding-top: 10vh !important;
    }
}

.contenedor-principal{
    position: relative;
    height: calc(100% - 30vh);
    background: var(--primary-50);
    display: flex;
    justify-content: center;
    padding-left: 32px;
    padding-right: 32px;

    .card{
        position: absolute;
        top: -68px; //sobresalido al header
        z-index: 9999;
        
        width: calc(100% - 64px); // 32px de espacio a cada lado
        border-radius: 16px;

        background: var(--neutral-50);
        
        .datos{
            display: flex;
            position: relative;
            width: 100%;
            flex-direction: column;
            align-items: center;

            .avatar{
                margin-top: -46px;
                background: transparent;
                z-index: 9999;
    
                ion-avatar{
                    width: 31vw;
                    height: 31vw;
                    border: 8px solid var(--neutral-50);
                }
            }

            .nombre{
                ion-text{

                    p {
                        font-family: var(--font-body);
                        margin: 0;
                        text-align: center;
                    }

                    #name{
                        color: var(--neutral-900);
                        font-size: 24px;
                    }

                    #username{
                        color: var(--neutral-500);
                        font-size: 16px;
                    }
                }

            }
        }

        .lista{
            position: relative;
            height: 100%;
            width: 100%;
            background: transparent;

            ion-list{
                padding-bottom: 0;
                background: transparent;
            }

            ion-item{
                --background: transparent;
                --color-activated: var(--primary-700);
                --detail-icon-opacity: 1;
                --detail-icon-font-size: 24px;
                --detail-icon-color: var(--neutral-200);
                ion-icon{
                    color: var(--primary-700);
                    margin: 12px;
                    margin-left: 0;
                }
                ion-label{
                    font-family: var(--font-body);
                    font-size: 16px;
                }
            }

            ion-item.router-item{
                --inner-padding-end: 32px !important;
            }

            ion-item::part(native){
                padding-left: 24px;
                min-height: 64px;
            }

            .accordion-item{
                --inner-padding-end: 0;

                ion-accordion-group{
                    width: 100%;
                    ion-accordion{
                        ion-item{
                            ion-icon{
                                color: var(--primary-700);
                            }

                            ion-icon.ion-accordion-toggle-icon{
                                color: var(--neutral-200) !important;
                            }
                        }

                        .accordion-option{
                            --inner-padding-end: 32px !important;
                            --background: rgba(244, 244, 244, 0.5);
                        }
                        .accordion-option::part(native){
                            padding-left: 60px !important;
                        }
                    }
                }
            }

            .accordion-item::part(native){
                padding: 0;

            }
        }
    }

}

@media (max-height: 750px){

    .card{
        top: -32px !important; //menos sobresalido

        .lista{
            ion-item::part(native){
                min-height: 48px !important; //items más pequeños
            }
        }
    }
}

ion-accordion.accordion-expanded > [slot="header"] .ion-accordion-toggle-icon,
ion-accordion.accordion-expanding > [slot="header"] .ion-accordion-toggle-icon {
  transform: rotate(90deg);
}

#cerrar-sesion{
    --color-activated: var(--error-200);
    ion-icon, ion-label{
        color: var(--error-200);
    } 
}

#eliminar-cuenta{
    --color-activated: var(--neutral-50);
    --background: var(--error-200);
    border-radius: 0 0 16px 16px;
    --detail-icon-color: var(--neutral-50);
    ion-icon, ion-label{
        color: var(--neutral-50);
    } 
}
