
.contenedor-button-item{
  display: flex;
  align-items: center;
}

.item-icon{
  margin-left: 36px;
  margin-right: 16px;
}

.button-item.active{
  .item-icon{
    margin-left: 28px !important;
  }
}

