<div class="overflow">
  <div>
    <div class="grid">
      <div class="row">
        <div class="col-8">
          <h2 class="ms-3" style="font-weight: normal;">Chats con pacientes</h2>
        </div>
        <div class="col-4" style="display: flex; flex-direction: row; justify-content: center; ">
          <mat-icon class="purple" (click)="abrirModal()" >add</mat-icon>
        </div>
      </div>
    </div>
  </div>
  
  <mat-list>
    <div class="">
      
      <mat-list-item *ngFor="let chat of chats" class="cuadro" style="height: 10vh;" (click)="enviarIdChat(chat.idChat || 0)">
        <div class="grid">
          <div class="row" style="display: flex; flex-direction: row;">
            <div class="col-2" style="display: flex; flex-direction: row; justify-content: flex-end; align-items: center;">
              <img 
                class="avatar"
                [src]="
                chat.idCreadorChat != undefined || null
                  ? (chat.imagenBase64 | urlImagen : chat?.tipoMime)
                  : 'assets/img/default-user.jpg'
                  " alt=""> 
            </div>
  
            <div class="col-10">
              <div class="grid">
                <div class="row">
                  <div class="col-12">
                    <p class="texto-titulo"><b>{{chat.titulo}}</b></p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <p class="texto-titulo">{{chat.ultimoMensaje}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </div>
         
          
      </mat-list-item>
    </div>
    
  </mat-list>
</div>
