<div class="contenedor-principal">
  <div class="card">
    <div class="header">
      <div class="contenido-header">
        <div class="titulo">Chats con pacientes</div>
        <div class="buttons">
          <button mat-icon-button (click)="abrirModal()">
            <mat-icon>add</mat-icon>
            <!-- Revisar porque no se muestra (problema al importar en app.module) -->
            <!-- <i-lucide name="plus"></i-lucide> -->
          </button>
        </div>
      </div>
    </div>
    <div class="card-content">
      <div class="lista-chats">
        <div
          matRipple
          class="item"
          *ngFor="let chat of chats"
          (click)="enviarIdChat(chat.idChat || 0)"
        >
          <div id="foto-perfil">
            <img
              class="avatar"
              [src]="
                chat.idCreadorChat != undefined || null
                  ? (chat.imagenBase64 | urlImagen : chat?.tipoMime)
                  : 'assets/img/svg/avatar-placeholder.svg'"
              alt=""
            />
          </div>
          <div class="informacion">
            <div class="titulo">
              <span id="nombre-chat">{{ chat.titulo }}</span>
              <span id="fecha">{{ chat.fechaUltimoMensaje | date: 'dd/MM' }}</span>
            </div>
            <div class="mensaje">
              <span id="ultimo-mensaje">{{ chat.ultimoMensaje }}</span>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>
