@import "variables";

ion-content.primary{
  --background: var(--primary-50);
}
ion-content.neutral{
  --background: var(--neutral-50);
}

.contenedor-header-dark{
  height: 20vh;
  width: 100%;
  background: url('/assets/header_dark.svg');
  background-repeat: no-repeat;
  background-color: var(--primary-800);

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  ion-toolbar{
    --background: transparent;
    --padding-bottom: 24px;
      ion-buttons{
          ion-button{
              ion-label{
                  font-family: var(--font-body);
                  font-size: 18px !important;
                  margin: 4px !important;
              }
              color: var(--neutral-50); 
              margin: 0 !important;
              --border-radius: 8px !important;
              ion-icon{
                  font-size: 24px !important; 
                  margin: 0 !important;
              }
          }
          ion-button::part(native){
              padding: 0;
          }
          ion-button.icon-only{
            ion-icon{
              padding-left: 2px !important;
              padding-right: 2px !important;
            }
          }
      }
    ion-buttons.end{
      margin-right: 32px;
    }
    ion-buttons.start{
      margin-left: 32px;
    }
    
    ion-title{
      padding: 0;
      margin-left: 32px;
      color: var(--neutral-50);
      font-family: var(--font-display);
      font-size: 24px;
      }
  }
}

.contenedor-header-light{
  height: 20vh;
  width: 100%;
  background: url('/assets/header_light.svg');
  background-repeat: no-repeat;
  background-color: var(--primary-50);

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  ion-toolbar{
    --background: transparent;
    --padding-bottom: 24px;
      ion-buttons{
          ion-button{
              ion-label{
                  font-family: var(--font-body);
                  font-size: 18px !important;
                  margin: 4px !important;
              }
              color: var(--primary-700); 
              margin: 0 !important;
              --border-radius: 8px !important;
              ion-icon{
                  font-size: 24px !important;
                  margin: 0 !important;
              }
          }
          ion-button::part(native){
              padding: 0;
          }
          ion-button.icon-only{
            ion-icon{
              padding-left: 2px !important;
              padding-right: 2px !important;
            }
          }
      }
    ion-buttons.end{
      margin-right: 32px;
    }
    ion-buttons.start{
      margin-left: 32px;
    }
    
    ion-title{
      padding: 0;
      margin-left: 32px;
      color: var(--primary-700);
      font-family: var(--font-display);
      font-size: 24px;
      }
  }
}


//Alertas personalizadas (tamaño y bordes)
ion-alert.custom-alert-success, .custom-alert-error, .custom-alert-loading, .custom-alert-delete, .custom-alert-choice {
  .alert-wrapper{
    border-radius: 16px !important;
    min-width: 327px !important;
  }

  @media (max-width: 350px) {
    .alert-wrapper{
      min-width: 80vw !important;
      max-width: 80vw !important;
      font-size: 7vw !important;
    }

    .alert-head{
      h2.alert-title{
        font-size: 1em !important;
        line-height: 1.2em !important;
      }

      h2.alert-sub-title{
        font-size: 0.6em !important;
        line-height: 1em !important;
      }
    }
  }
}

//Alertas personalizadas (fuentes y distribucion)
ion-alert.custom-alert-success, .custom-alert-error, .custom-alert-delete, .custom-alert-choice{
  .alert-head{
    text-align: center !important;
    padding-top: 92px !important;
    min-height: 209px;

    h2{
      color: var(--neutral-900);
    }
    h2.alert-title{
      font-family: var(--font-display);
      font-size: 24px;
      font-weight: 700;
      line-height: 29px;
    }

    h2.alert-sub-title{
      padding-top: 8px;
      font-family: var(--font-body);
      font-size: 16px;
      font-weight: 400;
      line-height: 19px;
      white-space: pre-line; //Poder colocar saltos de linea "\n"
    }
  }
  
  .alert-message{
    height: 48px !important;
    width: 48px !important;
    border-radius: 50% !important;
    padding: 0 !important;
    position: absolute;
    top: 28px;
    left: 50%;
    transform: translateX(-50%);

    //background-image: url();
    //background-color: ;
    background-position: center;
    background-repeat: no-repeat;
  }

  .alert-button-group {
    display: flex;
    justify-content: center;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;

    button.alert-button {
      margin: 0 !important;
      width: 100%;
      height: 44px;
      background: var(--primary-700);
      border-radius: 8px;
      color: var(--neutral-50);
      text-align: center !important;
      font-family: var(--font-body);
      font-size: 16px;
      text-transform: none;
      span{
        justify-content: center !important;
      }
    }

  }
}



//Alertas personalizadas (ajustes individuales)
ion-alert.custom-alert-success{

  .alert-message{
    background-image: url(./assets/svg/check.svg);
    background-color: var(--primary-700);
  }

  .alert-button-group {
    button.alert-button {
      background: var(--primary-700) !important;
    }
  }
}

ion-alert.custom-alert-error{

  .alert-message{
    background-image: url(./assets/svg/info.svg);
    background-color: var(--error-200);
  }

  .alert-button-group {
    button.alert-button {
      background: var(--error-200);
    }
  }
}

ion-alert.custom-alert-loading{

  .alert-wrapper{
    opacity: .8 !important;
  }

  .alert-head{
    height: 0px;
    padding: 0;
  }

  .alert-button-group{
    height: 0px;
    padding: 0;
  }

  .alert-message{
    min-height: 264px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(assets/gif/loading.gif);
    background-repeat: no-repeat;
    background-position: center;
  }
}

ion-alert.custom-alert-delete{

  .alert-message{
    background-image: url(assets/svg/trash-2.svg);
    background-color: var(--error-200);
  }

  .alert-button-group {
    justify-content: space-between;
    button.alert-button {
      max-width: 130px;
      background: var(--error-200);
    }

    button.alert-button-role-cancel{
      color: var(--error-200);
      border: 1px solid var(--error-200);
      background: transparent;
    }
  }
}

ion-alert.custom-alert-choice{

  .alert-head{
    h2.alert-title{
      color: var(--primary-700) !important;
    }
  }

  .alert-message{
    background-image: url(assets/svg/pill.svg);
    background-color: var(--primary-700);
  }

  .alert-button-group {
    justify-content: space-between;
    button.alert-button {
      max-width: 130px;
      color: var(--neutral-50);
      background: var(--primary-700);
      font-size: 12px !important;
    }

    button.alert-button-role-cancel{
      color: var(--primary-700);
      border: 1px solid var(--primary-700);
      background: transparent;
    }
  }
  
}

// ion-loading.custom-loading {

//   --height: 90vh ;
//   --width: 90vw ;
//   // .loading-wrapper {
//   //   background: #ffffff url("assets/gif/loading.gif") no-repeat center;
//   //   --height: 30%;
//   //   --width: 100%;
//   //   border-radius: 0.8rem;
//   //   --backdrop-opacity: 0.8;
//   //   backdrop-opacity: 0.8;
    
//   // }
// }



//estilos para selectores que usen popover como interface
ion-popover.custom-select-popover{

  .item-radio-checked{
    --background: var(--primary-200);
    --background-focused: var(--primary-50);
    --background-hover: var(--primary-50);
  }
}

//estilos para selectores que usen action sheet como interface
ion-action-sheet.custom-select-action-sheet{

  .action-sheet-group{
    border-radius: 16px 16px 0 0;
    padding-top: 32px !important;
  }

  .action-sheet-group-cancel{
    border-radius: 0;
    padding-top: 0 !important;
    padding-bottom: 32px !important;
  }

  .action-sheet-cancel{
    color: var(--primary-700) !important;
  }
  // .item-radio-checked{
  //   --background: var(--primary-200);
  //   --background-focused: var(--primary-50);
  //   --background-hover: var(--primary-50);
  // }
}

ion-popover.custom-select-popover::part(content) {
  //--width: 100%;
  border-radius: 8px;
}

ion-modal.custom-sheet-modal{
  --height: auto;
  --border-radius: 16px 16px 0 0;
}

ion-button {
  text-transform: none;
}

ion-grid.inputs {
  // background: transparent;
  padding: 0 32px 0 32px;

  .padding-izquierdo {
    padding-left: 8px !important;
  }

  .padding-derecho {
    padding-right: 8px !important;
  }

}

.input {
  width: 100%;
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;

  ion-label { //label del input
    width: 100%;
    font-family: var(--font-body);
    font-size: 16px;
    color: var(--neutral-700);
  }

  .input-text-error { //Error debajo del input
    color: var(--error-200);
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    font-family: var(--font-body);
    gap: 6px;

    ion-icon {
      color: var(--error-200);
    }
  }

  ion-item { //contenedor principal del input
    width: 100%;
    --border-width: 1px;
    --border-color: var(--neutral-300);
    --border-radius: 8px;
    --background: transparent;
  }
  ion-item.input-disabled {
    --background: var(--primary-100);
  }

  //Diferentes Tipos de input
  ion-item.general-input {
    //--inner-padding-end: 0;
    ion-input {
      border-width: 0px;
      --highlight-color-focused: var(--neutral-700);
      --highlight-color-valid: var(--neutral-700);
      font-family: var(--font-body);
      font-size: 16px;
      font-weight: 400;
    }
  }
  .general-input.icon-right{
    ion-icon{
      margin-left: 12px !important;
      font-size: 24px;
    }
  }
  .general-input.icon-left{
    ion-icon{
      margin-right: 12px !important;
      font-size: 24px;
    }
  }

  //input de fecha
  ion-item.date-input {
    ion-datetime-button {
      width: 100%;
    }

    ion-datetime-button::part(native) {
      width: 100%;
      padding-left: 8px;
      text-align: start;
      background: transparent;
      color: var(--neutral-500);
      font-family: var(--font-body);
      font-size: 16px;
    }
  }
  ion-item.date-input::part(native) {
    padding-left: 8px;
  }

  //input con select
  ion-item.select-input {
    ion-select::part(icon) {
      position: absolute;
      right: 0;
      color: var(--neutral-600);
      width: 24px;
      height: 24px;
    }
  }
  ion-item.select-input::part(native) {
    
  }

  //input de textarea
  ion-item.textarea-input {
    ion-textarea{
      --highlight-color-focused: var(--neutral-700);
      --highlight-color-valid: var(--neutral-700);
    }
  }
  
  //selector de una cantidad 
  ion-item.quantity-selector{
    min-width: 105px;
    --inner-padding-end: 0;

    ion-button{
      margin: 0;
      --background: transparent;
      height: 100% !important;
      --border-radius: 0;
      --box-shadow: 0;
      --border-width: 2px;
      --border-style: solid;
      --border-color: var(--primary-700);
      
      ion-icon{
        color: var(--primary-700);
      }
    }
    #decrementar{
      --border-radius: 8px 0 0 8px;
    }
    #incrementar{
      --border-radius: 0 8px 8px 0;
    }
    ion-label{
      width: 100%;
      text-align: center;
      font-family: var(--font-body);
      font-size: 16px;
      color: var(--neutral-400);
    }
  }
  ion-item.quantity-selector::part(native){
    padding: 0;
  }  
}

.botones{
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 32px 0 32px;

  ion-button{
    margin: 0;
    padding: 0;
    font-family: var(--font-body);
    font-size: 16px;
    width: 100%;
    max-width: 600px;
    height: 44px;
    --border-radius: 8px;
    --box-shadow: 0;
  }

  ion-button.dark{
    --background: var(--primary-700) !important;
    --border-width: 1px !important;
    --border-style: solid !important;
    --border-color: var(--neutral-50) !important;
    color: var(--neutral-50) !important;
  }
  
  ion-button.light{
    --border-color: var(--primary-700) !important;
    --border-width: 1px !important;
    --border-style: solid !important;
    --background: var(--neutral-50) !important;
    color: var(--primary-700) !important;
  }

  // ion-button.dark.button-disabled{
  //   opacity: 1 !important;
  //   --background: var(--primary-300) !important;
  // }

  // ion-button.light.button-disabled{
  //   opacity: 1 !important;
  //   --background: var(--neutral-200) !important;
  // }
}

.botones.botones-column{
  flex-direction: column;
  justify-content: center;
}

.botones.botones-row{
  flex-direction: row;
  align-items: center;

  .padding-izquierdo {
    padding-left: 8px !important;
  }

  .padding-derecho {
    padding-right: 8px !important;
  }

  ion-button{
    width: 50% !important;
  }

  @media (max-width: 350px) {
    ion-button{
      font-size: 14px !important;
    }
  }

  @media (max-width: 310px) {
    ion-button{
      font-size: 12px !important;
    }
  }
}

.lista-vacia{
  padding-top: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  ion-text{
      text-align: center;
      p{
          padding-left: 32px;
          padding-right: 32px;
          font-size: 16px;
          font-family: var(--font-body);
          color: var(--neutral-500);
      }
  }

  ion-button{
      margin: 0;
      margin-left: 32px;
      margin-right: 32px;
      height: 44px;
      font-family: var(--font-body);
      font-weight: bold;
      font-size: 16px;
      --border-radius: 8px;
      color: var(--primary-700);
      --border-color: var(--primary-700);
      --border-width: 1px;
  }

  @media (max-width: 350px) {
    ion-text{
      p{
        font-size: 14px !important;
      }
    }
    ion-button{
      font-size: 14px !important;
    }
  }

  // @media (max-width: 310px) {
  //   ion-button{
  //     font-size: 12px !important;
  //   }
  // }
}

.barra-busqueda{
  height: 10vh;
  padding: 0 32px 0 32px;
  ion-searchbar{
    padding-left: 0;
    padding-right: 0;
    --box-shadow: 0;
    --border-radius: 4.16px;
  }
}



ion-modal.image-only-modal{
  --height: auto;
  --max-height: 50vh;
  --max-width: calc(100vw - 64px);
  --backdrop-opacity: var(--ion-backdrop-opacity, 0.32) !important;
  --border-radius: 8px;
}



