// ion-header{
//   border-radius: 0; //TODO: quitar el estilo global del border radius que se le pone al header en variables.scss
//   background: var(--primary-50);
// }

.contenedor-header{
  background: var(--primary-50);
  height: 20vh;
  width: 100%;

  ion-toolbar{
    height: 100%;
    width: 100%;
    --background: url('../../../../../assets/header_light.svg');

    //medidas máximas para que no se estire el svg
    max-height: 153px;
    max-width: 390px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 20px;

    ion-button{
      font-family: var(--font-body);
      font-weight: 400;
      font-size: 18px;
      color: var(--primary-700);
    }
  }
}

.contenedor-principal{
  height: 80vh;
  background: var(--primary-50);

  .titulo{
      height: 8vh;
      padding: 16px 32px 0 32px;

      ion-text{
          text-align: start;
          h3{
              margin: 0;
              color: var(--primary-700);
              font-family: var(--font-display);
              font-size: 24px;
              font-weight: 700;
              line-height: 32px;
          }
      }
  }

  .lista-vacia{
    height: 72vh;
    padding-top: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    ion-text{
        text-align: center;
        p{
            font-size: 16px;
            line-height: 22px;
            font-family: var(--font-body);
            color: var(--neutral-500);
        }
    }

    ion-button{
        min-width: 187px;
        height: 44px;
        font-family: var(--font-body);
        font-weight: bold;
        font-size: 16px;
        --border-radius: 8px;
        color: var(--primary-700);
        --border-color: var(--primary-700);
        --border-width: 1px;
    }
  }

  .lista-tratamientos{
    height: 62vh;


    .barra-busqueda{
      height: 10vh;
      padding: 0 32px 0 32px;
      ion-searchbar{
        padding-left: 0;
        padding-right: 0;
        --box-shadow: 0;
        --border-radius: 4.16px;
      }
    }

    ion-list{
      padding: 0;
      ion-item{
        --border-width: 0 0 2px 0;
        --border-color: var(--primary-50);
        --detail-icon-opacity: 1;
        --detail-icon-color: var(--neutral-900);
        --inner-padding-end: 32px;
        
        ion-thumbnail{
          border: 1px solid var(--neutral-100);
          --size: 72px;
          --border-radius: 8px;
        }

        ion-label{
          margin-top: 24px;
          margin-bottom: 24px;

          h3{
            font-family: var(--font-body);
            font-size: 16px;
            color: var(--neutral-900);
          }

          p{
            font-family: var(--font-body);
            font-size: 14px;
            color: var(--neutral-600);
          }
        }
      }

      ion-item::part(native){
        padding-left: 32px;
      }

      ion-item-option{
        background: var(--error-200);
        color: var(--neutral-50);
      }
    }
  }
}



