.contenedor-principal{
  height: 80vh;
  background: var(--primary-50);

  .titulo{
      height: 8vh;
      padding: 16px 32px 0 32px;

      ion-text{
          text-align: start;
          h3{
              margin: 0;
              color: var(--primary-700);
              font-family: var(--font-display);
              font-size: 24px;
              font-weight: 700;
              line-height: 32px;
          }
      }
  }

  .lista-tratamientos{
    height: 62vh;

    ion-list{
      padding: 0;
      ion-item{
        --border-width: 0 0 2px 0;
        --border-color: var(--primary-50);
        --detail-icon-opacity: 1;
        --detail-icon-color: var(--neutral-900);
        --inner-padding-end: 32px;

        ion-thumbnail{
          border: 1px solid var(--neutral-100);
          --size: 72px;
          --border-radius: 8px;
        }

        ion-label{
          margin-top: 24px;
          margin-bottom: 24px;

          h3{
            font-family: var(--font-body);
            font-size: 16px;
            color: var(--neutral-900);
          }

          p{
            font-family: var(--font-body);
            font-size: 14px;
            color: var(--neutral-600);
          }
        }
      }

      ion-item::part(native){
        padding-left: 32px;
      }

      ion-item-option{
        background: var(--error-200);
        color: var(--neutral-50);
      }
    }
  }
}



