
<ion-header class="ion-no-border">
  <div class="contenedor-header-light">
    <ion-toolbar>
      <ion-buttons class="start" slot="start">
        <ion-button routerLink="inicio-perfil">
          <ion-icon slot="start" name="chevron-left"></ion-icon>
          <ion-label>Atrás</ion-label>
        </ion-button>
      </ion-buttons>
      <ion-buttons class="end" slot="end">
        <ion-button class="icon-only" (click)="agregarTratamiento()">
          <ion-icon name="plus"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </div>
</ion-header>
<ion-content class="primary">
  <div class="contenedor-principal">
    <div class="titulo">
      <ion-text>
        <h3>Mis tratamientos</h3>
      </ion-text>
    </div>

    <div class="contenedor-barra-busqueda" *ngIf="!listaTratamientosVacia()">
      <app-searchbar (search)="handleSearch($event)"></app-searchbar>        
    </div>

    <div class="lista-tratamientos">

      <div class="lista-vacia" *ngIf="listaTratamientosVacia()">
        <ion-text>
          <p>Nada Por aquí. <br> Aún no tienes tratamientos registrados.</p>
        </ion-text>
        <ion-button fill="outline" (click)="agregarTratamiento()">
          <ion-icon slot="start" name="plus"></ion-icon>
          Añadir tratamiento
        </ion-button>
      </div>

      <ion-list *ngIf="!listaTratamientosVacia()">
        <ion-item-sliding *ngFor="let tratamiento of (!filtrando ? (tratamientos$ | async) : tratamientosFiltradosPorBusqueda)">
          <ion-item 
            lines="none" 
            detail="true" 
            detailIcon="chevron-right" 
            button 
            (click)="verDetalleTratamiento(tratamiento.idExpedienteTratamiento)">
            <ion-thumbnail slot="start">
              <ion-img alt="img" *ngIf="tratamiento.imagenBase64" [src]="'data:' + tratamiento.tipoMime + ';base64,' + tratamiento.imagenBase64"></ion-img>
            </ion-thumbnail>
            <ion-label>
              <h3>{{tratamiento.farmaco}}</h3>
              <p>{{tratamiento.cantidad}} {{tratamiento.unidad}}</p>
              <p>Asociado a: {{tratamiento.padecimiento}}</p>
            </ion-label>
          </ion-item>
          <ion-item-options>
            <ion-item-option expandable (click)="presentarAlertaEliminar(tratamiento)">
              <ion-icon slot="icon-only" name="trash-2"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </div>
  </div>
</ion-content>