.dynamicButton {
    font-size: 1.1em;
    border: 0px;
    background-color: transparent;
    margin-top: 2.3em;
  }
  
  .btn-plus {
    color: #ed7d31;
  }
  
  .btn-minus {
    color: #7f7f7f;
  }