
.contenedor-principal{
  padding: 32px 56px 40px 40px;
}
.datos-paciente-editando{

  .contenido-datos{
    background: var(--neutral-50);
    border-radius: 8px 8px 0 0;
    padding: 32px;
    display: flex;
  
    .foto-perfil{
      margin-right: 18px;
      display: flex;
      align-items: center;
      img{
        width: 48px;
        height: 48px;
        border-radius: 16px;
        object-fit: cover;
      }
    }
    .datos{
      font-family: var(--font-body);
      h2{
        margin: 0;
        font-size: 24px;
        color: var(--primary-700);
      }
      h3{
        margin: 0;
        font-size: 16px;
        color: var(--neutral-700);
      }
    }
  }

}
