<div *ngIf="accion != 'Agregar'">
  <div class="modal-header">
    <div class="bg-white bg-white d-flex align-items-center gap-2">
      <div class="img-container">
        <img [src]="url" alt="Imagen de Usuario" />
      </div>
      <div class="bg-white">
        <div style="font-weight: 550; font-size:1.5rem;">
          Paciente: {{nombreCompleto}}
        </div>
      </div>
    </div>

      <div class="datos" style="background-color: #EFEDE4; padding: 1%;">
        <div style="font-size: 0.6em">
          {{edad}} años
        </div>
        <div style="font-size: 0.6em">
          {{colonia}}
          </div>
          <div style="font-size: 0.6em">
            {{ciudad}}, {{estado}}
          </div>
          <div style="font-size: 0.6em">
          {{hospital}}
          </div>
    </div>
  </div>
</div>
<div class="contendor">
  <div class="cuerpo-contenedor" style="padding-bottom: 0;">
    <app-tabulador-entidad [claveEntidad]="claveEntidadExpedienteTrackr" [idTabla]="idUsuario"
      [externalTemplates]="externalTemplates">
    </app-tabulador-entidad>
  </div>

</div>