<div class="contendor">
  
  <div class="titulo-contenedor">
    <div>{{ accion }} Expediente Administrativo</div>
  </div>

  <div class="cuerpo-contenedor" style="padding-bottom: 0;">
    <app-tabulador-entidad 
      [claveEntidad]="claveEntidadExpedienteAdministrativo"
      [idTabla]="idExpedienteAdministrativo"
      [externalTemplates] = "externalTemplates">
    </app-tabulador-entidad>
  </div>

</div>

<!-- Componentes Externos -->
<!-- Información General del Expediente -->
<ng-template #informacionGeneral>
    <app-expediente-general-formulario>
    </app-expediente-general-formulario>
</ng-template>
