<div class="contenedor">
  <div class="titulo-contenedor">Catálogo de Estados</div>
  <div class="cuerpo-contenedor">
    <div class="row">
      <div class="col-md-12">
        <div class="contenedor-agregar" (click)="agregar()" *ngIf="tieneAccesoAgregar$ | async">
          <i class="fas fa-plus-circle"></i><span>Agregar</span>
        </div>
        <app-grid-general
          [headerName]="HEADER_GRID"
          [data]="estados$ | async"
          [children]="columns"
          (event)="onGridClick($event)"
          [accesoEditar]="ACCESO_EDITAR"
          [accesoEliminar]="ACCESO_ELIMINAR"
        >
        </app-grid-general>
      </div>
    </div>
  </div>
</div>
