<app-catalogo-base
    titulo="Estados"
    tituloBoton="Estado"
    [columns]="columns"
    [crudConfig]="crudConfig"
    [elementos$]="registros$"
    [tieneAccesoAgregar$]="tieneAccesoAgregar$"
    (agregarClick)="agregar()"
    (gridClick)="onGridClick($event)"
    (descargarPlantillaClick)="descargarPlantillaCargaMasiva()"
    (sincronizarPlantillaClick)="sincronizarPlantilla()"
    (subirPlantillaClick)="subirPlantillaExcel()"
    [tieneAccesoDescargarPlantilla]="true"
    
>
</app-catalogo-base>
