<div class="contenedor">
  <div class="titulo-contenedor">Reactivos</div>
  <div class="cuerpo-contenedor">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div
          class="contenedor-agregar"
          (click)="agregar()"
          *ngIf="tieneAccesoAgregar"
        >
        <button class="btn-agregar">Agregar Reactivo</button>
        </div>
        <app-grid-general
          #gridNecesidad
          [headerName]="HEADER_GRID"
          [data]="reactivoList"
          [children]="columns"
          (event)="onGridClick($event)"
          [accesoEditar]="EDITAR_ASIGNATURA"
          [accesoEliminar]="ELIMINAR_ASIGNATURA"
          [biggerRows]="true"
        >
        </app-grid-general>
      </div>
    </div>
  </div>
</div>
